@(collection: DCollection, user: User)

@main("", user) {
    
   	<div class="page-header">
	    <h1>Edit collection @collection.title</h1>
    </div>
    
	<ul class="nav nav-tabs">
		<li><a
			href="@routes.Collections.view(collection.url)">View</a></li>
		<li><a href="@routes.Collections.sites(collection.url)">Sites</a></li>
		@if(user.hasRole("sys_admin")) {
		   <li class="active"><a href="@routes.Collections.edit(collection.url)">Edit</a></li>
		}
	</ul>
	
    <form action="@routes.Collections.save()" method="POST">
   		<input type="hidden" name="url" value="@collection.url">
   	    <input type="hidden" name="nid" value="@collection.nid">

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputName" class="col-sm-6 control-label">Title <font color="red">*</font></label>
				    <div class="col-sm-6">
						<input class="form-control" name="title" id="inputTitle" value="@collection.title" type="text">
					</div>
				</div>
			</div>
     	</div>
     	
		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputDescription" class="col-sm-6 control-label">Description</label>
				    <div class="col-sm-6">
		          		<textarea class="form-control" name="summary" id="inputDescription" value="@collection.summary" cols="100" rows="1">@collection.summary</textarea>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
     			
     			<div class="padding-10">
	     			<a data-toggle="collapse" data-parent="#accordion" href="#parent-panel">
						<span id="toggle">&#9660; Parent Terms &#9650;</span>
					</a>
				</div>
								
				<div id="accordion">
					<div id="parent-panel" class="panel-collapse collapse">
						<ul>
		            		@for(curParent <- DCollection.getParents(collection)) {
		            			<li><a class="brand" href="@routes.Collections.view(curParent.url)">(@curParent.nid) &nbsp; @curParent.title</a></li>
				            }
			            </ul>
					</div>
				</div>
	    	</div>
    	</div>
    	    	
		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
     			<div class="form-group">
					<label for="inputRevision" class="col-sm-6 control-label">Revision log message</label>
				    <div class="col-sm-6">
						<textarea class="form-control text-full form-textarea" name="revision" id="inputRevision" cols="100" rows="1">@collection.revision</textarea>
					</div>
				</div>
			</div>
		</div>
    	
		<div class="row padding-10 pull-right">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="btn-group">
					<button type="submit" class="btn btn-primary" name="save">Save</button>
					<button type="submit" class="btn btn-primary" name="delete">Delete</button>
		       </div>
			</div>
		</div>
	</form>
}

