@(form: Form[DCollection], user: User)

@if(user.hasRole("sys_admin") || user.hasRole("archivist")) {

@main("", user) {
    
   	<div class="page-header">
	    <h1><a href="@routes.Collections.index()">Collections > </a>Collection @form("title").value</h1>
    </div>
    
	<ul class="nav nav-tabs">
	    @if(DCollection.findById(Long.valueOf(form("nid").value)) != null) {
		<li><a href="@routes.Collections.view(form("url").value)">View</a></li>
		<li><a href="@routes.Collections.sites(form("url").value)">Targets</a></li>
		}
		@if(user.hasRole("sys_admin") || user.hasRole("archivist")) {
		   <li class="active"><a href="@routes.Collections.edit(form("url").value)">Edit</a></li>
		}
	</ul>
	
	    @warningmessage(flash)
		@helper.form(action=routes.Collections.save) {
   		<input type="hidden" name="url" value="@form("url").value">
   	    <input type="hidden" name="nid" value="@form("nid").value">

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputName" class="col-sm-6 control-label">Title <font color="red">*</font></label>
				    <div class="col-sm-6">
						<input class="form-control" name="title" id="title" value="@form("title").value" type="text">
					</div>
				</div>
			</div>
     	</div>
     	
		@if(user.hasRole("sys_admin") || user.hasRole("archivist")) {
   		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-6 control-label">Publish</label>
				    <div class="col-sm-6">
		                @if(form("publish").value != null && form("publish").value) {             
			                <input type="checkbox" name="publish" value="true" checked/>
		                } else {
			                <input type="checkbox" name="publish" value="true"/>
		                }
					</div>
				</div>
			</div>
     	</div>		     				     	
		}     	
		
		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputDescription" class="col-sm-6 control-label">Description</label>
				    <div class="col-sm-6">
		          		<textarea class="form-control" name="summary" id="inputDescription" value="@form("summary").value" cols="100" rows="1">@form("summary").value</textarea>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
     			
     			<div class="padding-10">
	     			<a data-toggle="collapse" data-parent="#accordion" href="#parent-panel">
						<span id="toggle">&#9660; Parent Terms &#9650;</span>
					</a>
				</div>
								
				<div id="accordion">
					<div id="parent-panel" class="panel-collapse collapse">
						<ul>
		            		@for(curParent <- DCollection.getParentsByUrl(form("url").value)) {
		            			<li><a class="brand" href="@routes.Collections.view(curParent.url)">(@curParent.nid) &nbsp; @curParent.title</a></li>
				            }
			            </ul>
					</div>
				</div>
	    	</div>
    	</div>
    	    	
		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
     			<div class="form-group">
					<label for="inputRevision" class="col-sm-6 control-label">Revision log message</label>
				    <div class="col-sm-6">
						<textarea class="form-control text-full form-textarea" name="revision" id="inputRevision" cols="100" rows="1">@form("revision").value</textarea>
					</div>
				</div>
			</div>
		</div>
    	
    	@if(user.hasRole("sys_admin") || user.hasRole("archivist")) {
		<div class="row padding-10 pull-right">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="btn-group">
					<button type="submit" class="btn btn-primary" name="save">Save</button>
				    @if(DCollection.findById(Long.valueOf(form("nid").value)) != null) {
					<button type="submit" class="btn btn-primary" name="delete">Delete</button>
					}
		       </div>
			</div>
		</div>
		}
	}
}
} else {
	<h1>Access Denied for URL @routes.Collections.index()/edit</h1>
}

