@(collection: models.Collection, user: User) 

@main("", user) {

	<div class="page-header">
		<h1><a href="@routes.CollectionController.index()">Taxonomies > Collections > </a>Collection @collection.name (@collection.targets.size() targets)</h1>
	</div>

	<ul class="nav nav-tabs">
		<li class="active"><a href="@routes.CollectionController.view(collection.id)">View</a></li>
		@if(user.hasRole("sys_admin") || user.hasRole("archivist")) {
			<li><a href="@routes.CollectionController.edit(collection.id)">Edit</a></li>
		}
		<li><a href="@routes.CollectionController.sites(collection.id)">Targets</a></li>
		<li><a href="@routes.CollectionController.viewAsJson(collection.id)">JSON</a></li>
		
	</ul>

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputName" class="col-sm-6 control-label">Title <font color="red">*</font></label>
				    <div class="col-sm-6">
						@collection.name

					</div>
				</div>
			</div>
     	</div>
     	
   		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
	              	<label for="tags" class="col-sm-6 control-label">Parent</label>
				    <div class="col-sm-6">
				    @if(collection.parent != null) {
				    	@collection.parent.name
				    } else {
				    	none
				    }
					</div>
				</div>
			</div>
     	</div>

	<div class="row padding-10">
		<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
				<label for="inputDescription" class="col-sm-6 control-label">Collection Areas</label>
				<div class="col-sm-6">

					<ul class="selectionfromtrees">
						<li><span class="label label-pill label-primary label-as-badge font-weight-normal">
							Politics  Government

						</span>
						</li>

					</ul>

				</div>
			</div>
		</div>
	</div>

     	
     	<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputStartDate" class="col-sm-6 control-label">Start Date</label>
				    <div class="col-sm-6">
						@collection.getStartDateText()
 						
					</div>
				</div>
			</div>
     	</div>
     	<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputEndDate" class="col-sm-6 control-label">End Date</label>
				    <div class="col-sm-6">
						@collection.getEndDateText()
					</div>
				</div>
			</div>
     	</div>   

   		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-6 control-label">Publish</label>
				    <div class="col-sm-6">
	                @if(collection.publish != null && collection.publish) {             
		                yes
	                } else {
		                no
	                }
					</div>
				</div>
			</div>
     	</div>		     				     	
		
		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputDescription" class="col-sm-6 control-label">Description</label>
				    <div class="col-sm-6">
				    @if(collection.description != null ) {
		          		@Html(collection.description)
		          	}
					</div>
				</div>
			</div>
		</div>
		
		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
     			<div class="form-group">
					<label for="inputRevision" class="col-sm-6 control-label">Revision log message</label>
				    <div class="col-sm-6">
						@collection.revision
					</div>
				</div>
			</div>
		</div>
		
    	
}

