@(user: User, filterForm: DynamicForm, searchstr: String, currentPage: com.avaje.ebean.Page[WatchedTarget], currentSortBy: String, currentOrder: String, filters: Boolean)

@import helper.options
@import templates.checkbox
@import templates.select
@import templates.inputText

@implicitField = @{ helper.FieldConstructor(templates.ratio5to7FieldConstructor.f) }

@styles = {
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("bootstrap/typeahead/css/typeahead.css")">
}

@scripts = {
	<script src="@routes.Assets.at("bootstrap/typeahead/js/typeahead.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/search.js")" type="text/javascript"></script>
	<script>
		$(document).ready(function() {
			context = @play.api.Play.current.configuration.getString("application.context");
			applySearch(context, 'watchedtargets'); 
		});
	</script>
}

@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    if (filters)
    	routes.WatchedTargets.list(filterForm("user").value, new Boolean(filterForm("children").value), newPage, sortBy, order, searchstr)
    else
    	routes.WatchedTargets.overview(newPage, sortBy, order)
    
}

@main("", user, scripts, styles) {

	<div class="page-header">
	    <h1>@{if (filters) "Watched Targets" else "Document Harvesting"}</h1>
	</div>
	
	@warningmessage(flash)
	
	@if(!filters) {
		<ul class="nav nav-tabs">
			<li class="active"><a href="#">My Watched Targets</a></li>
			<li><a href="@routes.Documents.overview()">My New Documents</a></li>
		</ul>
	}
	
	<article class="watchedTargets">
		
		@if(filters) {
			<div id="forms">
	   			@helper.form(action=routes.WatchedTargets.list()) {
		   			<div class="input-group">
	   					<input type="hidden" name="s" value="@currentSortBy">
	   					<input type="hidden" name="o" value="@currentOrder">
						<input type="text" class="form-control lookup-form-control" name="f" placeholder="Enter Target Name" value="@searchstr" id="search-query">
			   			<span class="input-group-btn">
							<input type="submit" class="btn btn-primary" id="search" name="action" value="Search">
						</span>
					</div>
					
					<div class="col-md-6">
						@select(filterForm("user"), options(Users.getUsers), true, '_label -> "Curator",
							'onchange -> "this.form.submit()"
						)
						@if(filterForm("user").value != "null") {
							@checkbox(filterForm("children"), true, '_label -> "Include Child Targets",
								'onchange -> "this.form.submit()"
							)
						}
					</div>
					<div style="clear: both"></div>
				}
			</div>
		}
		
		@pagination(currentPage, link)
		
		<table class="table table-hover">
			<thead>
				<tr>
					@header("target.title", "Title", currentSortBy, currentOrder, link)
					<th>URL</th>
					@header("target.authorUser", "Curator", currentSortBy, currentOrder, link)
					<th>Documents</th>
					@header("waybackTimestamp", "Crawl Date", currentSortBy, currentOrder, link)
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			@for(watchedTarget <- currentPage.getList) {
				<tr>
					<td><a href="@routes.TargetController.view(new Long(watchedTarget.target.id))">@watchedTarget.target.title</a></td>
					<td>
						@if(watchedTarget.target.fieldUrls != null) {
							@for(fieldUrl <- watchedTarget.target.fieldUrls) {
								<a href="@fieldUrl.url" target="_blank">@fieldUrl.url</a><br>
							}
						} else {
							N/A
						}
					
					</td>
					<td><a href="@routes.UserController.view(watchedTarget.target.authorUser.id)">@watchedTarget.target.authorUser.name</a></td>
					<td><a href="@routes.Documents.list("", "" + watchedTarget.id)">@watchedTarget.documents.size</a></td>
					<td>@watchedTarget.waybackTimestamp</td>
					<td>
						@helper.form(action = routes.WatchedTargets.crawl(watchedTarget.id)) {
							<input type="hidden" name="watchedtarget" value="@watchedTarget.id">
							<input type="submit" class="btn btn-success" value="Live Crawl" onclick=
								"return confirm('You will start a crawl with the seed:\n@{watchedTarget.target.fieldUrls(0).url}\n\nDo you want to proceed?');">
						}
					</td>
				</tr>
			}
			</tbody>
		</table>
		
		@pagination(currentPage, link)
		
		@if(!filters) {
			@helper.form(routes.TargetController.list()) {
				<h3>New Target</h3>
				<input type="hidden" name="s" value="title">
				<div class="row padding-10">
					<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label for="f" class="col-sm-2 control-label">
								Target URL
							</label>
							<div class="col-sm-8">
								<input type="text" name="f" id="f" class="form-control">
							</div>
							<div class="col-sm-2">
								<input type="submit" class="btn btn-success" value="Add Target URL">
							</div>
						</div>
					</div>
				</div>
			}
		}
		
	</article>
}


