@(title: String, user: User, contactpersons: List[ContactPerson], searchstr: String)

@styles = {
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("bootstrap/typeahead/css/typeahead.css")">
}

@scripts = {
	<script src="@routes.Assets.at("bootstrap/typeahead/js/typeahead.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/search.js")" type="text/javascript"></script>
	<script>
		$(document).ready(function() {
			context = @play.api.Play.current.configuration.getString("application.context") + 'permission';
			applySearch(context); 
		});
	</script>
}

@main(title, user, scripts, styles) {

	<div class="page-header">
	    <h1>Crawl Permissions</h1>
	</div>
	
    <ul class="nav nav-tabs">
	   <li><a href="@routes.CrawlPermissionEdit.index()">Permissions</a></li>
	   <li><a href="@routes.CrawlPermissionEdit.templates()">Templates</a></li> 
	   <li class="active"><a href="@routes.CrawlPermissionEdit.contactpersons()">Contact Persons</a></li> 
	   <li><a href="@routes.CrawlPermissionEdit.templates()">Licenses</a></li> 
	</ul>
		
    <article class="permissions">

		<div id="forms">
	   		<form class="form-inline" action="@routes.ContactPersonEdit.filter()" method="POST" role="form">
	   			<div class="input-group">
					<input type="text" class="form-control lookup-form-control" name="name" placeholder="Enter Contact Person Name" value="@searchstr" id="search-query">
		   			<span class="input-group-btn">
						<button type="submit" class="btn btn-primary" id="search" name="search" title="Search for contact person by name">Search</button>
						@if(user.hasRole("sys_admin") || user.hasRole("archivist")) {
							<button type="submit" class="btn btn-primary" id="addentry" name="addentry" title="Add new contact person">Add</button>
						}
					</span>
				</div>
		    </form>
		</div>	        

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Title</th>
					<th>E-mail</th>
				</tr>
			</thead>
			<tbody>
			@contactpersons.map { contactperson =>		              
				<tr>
					<td><a href="@routes.ContactPersonEdit.view(contactperson.url)">@contactperson.name</a></td>
					<td><@contactperson.email</td>
				</tr>
			}
			</tbody>
		</table>
	</article>
}


