@(person: ContactPerson, user: User)


@main("", user) {
    
	<div class="page-header">
	    <h1><a href="@routes.ContactPersonController.index()">Archivist Tasks > Contact Persons ></a>Contact person @person.name</h1>
	</div>
	
	<ul class="nav nav-tabs">
	   <li class="active"><a href="@routes.ContactPersonController.view(person.url)">View</a></li>
	   @if(user.hasRole("sys_admin") || user.hasRole("archivist") || user.hasRole("expert_user") || user.hasRole("user")) {
	   	<li><a href="@routes.ContactPersonController.edit(person.url)">Edit</a></li>
	   }
	</ul>

	<div class="row padding-10">
    	<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
				<label for="inputName" class="col-sm-6 control-label">Name</label>
			    <div class="col-sm-6">
              		<input class="form-control" name="name" id="inputName" value="@person.name" type="text" readonly>
				</div>
			</div>
		</div>
    </div>
          
	<div class="row padding-10">
    	<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
				<label for="inputPosition" class="col-sm-6 control-label">Position</label>
			    <div class="col-sm-6">
              		<input class="form-control" name="position" id="position" value="@person.position" type="text" readonly>
				</div>
			</div>
		</div>
    </div>
          
	<div class="row padding-10">
    	<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
				<label for="inputEmail" class="col-sm-6 control-label">E-mail <font color="red">*</font></label>
			    <div class="col-sm-6">
              		<input class="form-control" name="email" id="email" value="@person.email" type="text" readonly>
				</div>
			</div>
		</div>
    </div>
          
	<div class="row padding-10">
    	<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
				<label for="inputContactOrganisation" class="col-sm-6 control-label">Contact Organisation</label>
			    <div class="col-sm-6">
              		<input class="form-control" name="contactOrganisation" id="contactOrganisation" value="@person.contactOrganisation" type="text" readonly>
				</div>
			</div>
		</div>
    </div>
          
	<div class="row padding-10">
    	<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
				<label for="inputPhone" class="col-sm-6 control-label">Phone</label>
			    <div class="col-sm-6">
              		<input class="form-control" name="phone" id="phone" value="@person.phone" type="text" readonly>
				</div>
			</div>
		</div>
    </div>
          
	<div class="row padding-10">
    	<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
				<label for="inputPostalAddress" class="col-sm-6 control-label">Postal Address</label>
			    <div class="col-sm-6">
              		<input class="form-control" name="postalAddress" id="postalAddress" value="@person.postalAddress" type="text" readonly>
				</div>
			</div>
		</div>
    </div>
          
	<div class="row padding-10">
    	<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
				<label for="inputWebForm" class="col-sm-6 control-label">Web Form</label>
			    <div class="col-sm-6">
              		<input class="form-control" name="webForm" id="webForm" value="@person.webForm" type="text" readonly>
				</div>
			</div>
		</div>
    </div>
    	
  	<div class="row padding-10">
    	<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
				<label class="col-sm-6 control-label">Default Contact</label>
			    <div class="col-sm-6">
	                @if(person.defaultContact != null && person.defaultContact) {             
		                <input type="checkbox" name="defaultContact" value="true" checked disabled/>
	                } else {
		                <input type="checkbox" name="defaultContact" value="true" disabled/>
	                }
				</div>
			</div>
		</div>
    </div>	  
          
  	<div class="row padding-10">
    	<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
				<label class="col-sm-6 control-label">Permission Checked</label>
			    <div class="col-sm-6">
	                @if(person.permissionChecked != null && person.permissionChecked) {             
		                <input type="checkbox" name="permissionChecked" value="true" checked disabled/>
	                } else {
		                <input type="checkbox" name="permissionChecked" value="true" disabled/>
	                }
				</div>
			</div>
		</div>
    </div>	  
          
	<div class="row padding-10">
    		<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
				<label for="inputDescription" class="col-sm-6 control-label">Description</label>
			    <div class="col-sm-6">
					<textarea class="form-control" name="description" id="inputDescription" cols="100" rows="1" readonly>@person.description</textarea>
				</div>
			</div>
		</div>
   	</div>
	
}
                   
	            


