@(form: Form[MailTemplate], user: User)

@main("", user) {

   	<div class="page-header">
	    <h1><a href="@routes.MailTemplates.index()">Archivist Tasks > Mail Templates ></a>Edit mail template @form("name").value</h1>
	</div>

	<ul class="nav nav-tabs">
	   @if(MailTemplate.findById(Long.valueOf(form("id").value)) != null) {
	   <li><a href="@routes.MailTemplates.view(form("url").value)">View</a></li>
	   }
	   @if(user.hasRole("sys_admin") || user.hasRole("archivist")) {
		   <li class="active"><a href="@routes.MailTemplates.edit(form("url").value)">Edit</a></li>
	   }
	</ul>
    
    @warningmessage(flash)
   	@helper.form(action=routes.MailTemplates.save) {
		<input type="hidden" name="url" value="@form("url").value">
		<input type="hidden" name="id" value="@form("id").value">

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputName" class="col-sm-6 control-label">Name <font color="red">*</font></label>
				    <div class="col-sm-6">
	              		<input class="form-control" name="name" id="inputName" value="@form("name").value" type="text">
					</div>
				</div>
			</div>
     	</div>
	          
   		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
	              	<label for="inputTemplate" class="col-sm-6 control-label">Type</label>
				    <div class="col-sm-6">
						<select name="ttype" id="ttype" class="form-control">
			                @for(template <- MailTemplate.getAllTypes()) {
				                @if(template.equals(form("ttype").value)) {
				                	<option selected>@form("ttype").value</option>
				                } else {
				                	<option>@template</option>
				                }
			                }
						</select>
					</div>
				</div>
			</div>
     	</div>		   
	          
		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputSubject" class="col-sm-6 control-label">Subject</label>
				    <div class="col-sm-6">
	              		<input class="form-control" name="subject" id="subject" value="@form("subject").value" type="text">
					</div>
				</div>
			</div>
     	</div>
	          
		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputFromEmail" class="col-sm-6 control-label">From E-mail <font color="red">*</font></label>
				    <div class="col-sm-6">
	              		<input class="form-control" name="fromEmail" id="fromEmail" value="@form("fromEmail").value" type="text">
					</div>
				</div>
			</div>
     	</div>
	          
		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputPlaceHolders" class="col-sm-6 control-label">Place Holders<small class="text-center">(Comma separated)</small></label>
				    <div class="col-sm-6">
	              		<input class="form-control" name="placeHolders" id="placeHolders" value="@form("placeHolders").value" type="text">
					</div>
				</div>
			</div>
     	</div>
	          
   		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-6 control-label">Default Email</label>
				    <div class="col-sm-6">
		                @if(form("defaultEmail").value != null && form("defaultEmail").value == "true") {             
			                <input type="checkbox" name="defaultEmail" value="true" checked />
		                } else {
			                <input type="checkbox" name="defaultEmail" value="true"/>
		                }
					</div>
				</div>
			</div>
     	</div>	  
	          
		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputText" class="col-sm-6 control-label">Template Body</label>
				</div>
			</div>
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
				    <div class="col-sm-12">
				    	@if(user.hasRole("sys_admin")) {
						<textarea class="form-control" name="text" id="text" cols="100" rows="20">@form("text").value</textarea>
						} else {
						<textarea class="form-control" name="text" id="text" cols="100" rows="20" readonly>@form("text").value</textarea>
						}
					</div>
				</div>
			</div>
     	</div>
			          
		<div class="row padding-10 pull-right">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="btn-group">		
					<button type="submit" class="btn btn-primary" name="save">Save</button>
				    @if(MailTemplate.findById(Long.valueOf(form("id").value)) != null) {
					<button type="submit" class="btn btn-primary" name="delete" onclick="return confirm('Are you sure?');">Delete</button>
					}
		       </div>
			</div>
		</div>
	}
}

