@(template: MailTemplate, user: User)


@main("", user) {
    
	<div class="page-header">
	    <h1><a href="@routes.MailTemplateController.index()">Archivist Tasks > Mail Templates ></a>Mail template @template.name</h1>
	</div>
	
	<ul class="nav nav-tabs">
	   <li class="active"><a href="@routes.MailTemplateController.view(template.id)">View</a></li>
	   @if(user.hasRole("sys_admin") || user.hasRole("archivist")) {
	   	<li><a href="@routes.MailTemplateController.edit(template.id)">Edit</a></li>
	   }
	</ul>

    @warningmessage(flash)
	<div class="row padding-10">
    	<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
				<label for="inputName" class="col-sm-6 control-label">Name<font color="red">*</font></label>
			    <div class="col-sm-6">
              		<input class="form-control" name="name" id="inputName" value="@template.name" type="text" readonly>
				</div>
			</div>
		</div>
    </div>
          
	<div class="row padding-10">
   		<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
				<label for="inputType" class="col-sm-6 control-label">Type</label>
			    <div class="col-sm-6">
			    	@if(template.ttype != null && uk.bl.Const.MailTemplateType.getMailTemplateType(template.ttype) != null) {
              			<input class="form-control" name="type" id="type" type="text" value="@uk.bl.Const.MailTemplateType.getMailTemplateType(template.ttype).getValue" readonly>
              		} else {
              			<input class="form-control" name="type" id="type" type="text" value="" readonly>
              		}
				</div>
			</div>
		</div>
    </div>
          
	<div class="row padding-10">
    	<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
				<label for="inputSubject" class="col-sm-6 control-label">Subject</label>
			    <div class="col-sm-6">
              		<input class="form-control" name="subject" id="subject" value="@template.subject" type="text" readonly>
				</div>
			</div>
		</div>
    </div>
          
	<div class="row padding-10">
    		<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
				<label for="inputFromEmail" class="col-sm-6 control-label">From E-mail<font color="red">*</font></label>
			    <div class="col-sm-6">
              		<input class="form-control" name="fromEmail" id="fromEmail" value="@template.fromEmail" type="text" readonly> 
				</div>
			</div>
		</div>
    </div>
          
	<div class="row padding-10">
    		<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
				<label for="inputPlaceHolders" class="col-sm-6 control-label">Place Holders</label>
			    <div class="col-sm-6">
              		<input class="form-control" name="placeHolders" id="placeHolders" value="@template.placeHolders" type="text" readonly>
				</div>
			</div>
		</div>
    </div>
          
  	<div class="row padding-10">
    	<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
				<label class="col-sm-6 control-label">Default Email</label>
			    <div class="col-sm-6">
	                @if(template.defaultEmail != null && template.defaultEmail) {             
		                <input type="checkbox" name="defaultEmail" value="true" checked disabled/>
	                } else {
		                <input type="checkbox" name="defaultEmail" value="true" disabled/>
	                }
				</div>
			</div>
		</div>
    </div>	  
          
	<div class="row padding-10">
    	<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
				<label for="inputText" class="col-sm-6 control-label">Template Body</label>
			</div>
		</div>
    	<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
			    <div class="col-sm-12">
					<textarea class="form-control" name="text" id="text" cols="100" rows="20" readonly>@template.text</textarea>
				</div>
			</div>
		</div>
   	</div>
	
}
                   
	            


