@(instanceForm: Form[Instance], user: User, id: Long, qaIssues: Map[String,String], qaIssueCategories: Map[String,String], authors: Map[String,String], targetId: Long)

@import uk.bl.api.FormHelper
@import helper._
@import bootstrap._

@implicitFieldConstructor = @{ FieldConstructor(genericInput.f) }

@script = {
	<script>
		
	    $(document).ready(function() {
	          
	        // Restarts the keyboard-idleness timeout
			var restartIdleTimeout = function(text) {
	        	if (idle_timeout)
	            	window.clearTimeout(idle_timeout);
	            
	            idle_timeout = window.setTimeout(function() { doScope(text); }, IDLE_THRESHOLD);
			};		
	          
		});		
	</script>
}

@main("", user, script) {
    
	<ul class="nav nav-tabs">
		<li><a href="@routes.InstanceController.view(id)">View</a></li>
		@if((user.hasRole("sys_admin") || user.hasRole("archivist") || user.hasRole("expert_user"))) {
			<li class="active"><a href="#">Edit</a></li>
		}
	</ul>
	
	<div class="tab-content padding-20">
	   	<ol class="breadcrumb">	   	
			<li><a href="@routes.TargetController.index()">Targets</a></li>
			<li><a href="@routes.TargetController.view(targetId)">@instanceForm("target.title").value</a></li>
			<li><a href="@routes.InstanceController.index()">Instances</a></li>
			<li class="active"><span class="badge">@instanceForm("target.fieldUrl").value</span></li>
		</ol>
	</div>

	<div class="tab-content padding-20">
           
		<ul class="nav nav-pills" id="myNavbar">
		    <li class="active"><a href="#qa" data-toggle="tab">QA</a></li>
	  	</ul>
	</div>
	
    @warningmessage(flash)
    
   	@if(instanceForm.hasErrors) {
		<div class="padding-20">
			<div class="alert alert-warning alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				@for(entry <- instanceForm.errors.entrySet){
					@for(error <- entry.getValue){
						@error.message<br />
					}
				}
			</div>
		</div>
	}
	
	@helper.form(routes.InstanceController.update(id)) {
	
		<div id="myTabContent" class="tab-content">
			<input type="hidden" id="instanceId" name="id" value="@id">
		
			<div class="tab-pane padding-20 fade active in" id="qa">
			
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							@inputText(instanceForm("title"),
								'_label -> "Title",
							    'id -> "inputTitle",
							    'class -> "form-control",
							    'placeholder -> "Title"
							)(FieldConstructor(genericMandatoryInput.f), lang)	
						</div>
					</div>
		     	</div>
		     	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							@select(field = instanceForm("qaIssue.id"), options = options(qaIssues), 
					                args = 
					                'class -> "form-control",
					                '_label -> "QA Status", 
					                '_default -> "-- Choose a QA Status --",
					                '_showConstraints -> false
				            )(FieldConstructor(genericInput.f), lang)
			         	</div>
					</div>
				</div>
	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							@select(field = instanceForm("qaIssueCategory"), options = options(qaIssueCategories), 
					                args = 
					                'class -> "form-control",
					                '_label -> "QA Issue Category", 
					                '_default -> "-- Choose a QA Category --",
					                '_showConstraints -> false
				            )(FieldConstructor(genericInput.f), lang)
			         	</div>
					</div>
				</div>
				
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							@select(
               					instanceForm("authorUser.id"), 
					                options(authors), 
					                args = 
					                'class -> "form-control",
					                '_label -> "User",
				                	'_default -> "-- None --",
					                '_showConstraints -> true
				            )(FieldConstructor(genericInput.f), lang)						
			         	</div>
					</div>
				</div>				
				@if(user.hasRole("sys_admin") || user.hasRole("archivist")) {
				<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							@helper.checkbox(instanceForm("hidden"), 
								args = 
								'_label -> "Hidden (Is this instance hidden from public)" 
							)(FieldConstructor(genericInput.f), lang)
						</div>
					</div>
		     	</div>	     
				}
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							@textarea(field = instanceForm("qaNotes"),
				 				args = 'rows -> 1, 'cols -> 100,
								'_label -> "QA Notes",
								'id -> "qa_notes",
								'class -> "form-control"
							)(FieldConstructor(genericInput.f), lang)		
			         	</div>
					</div>
				</div>
	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							@textarea(instanceForm("notes"),
				 				args = 'rows -> 1, 'cols -> 100,
								'_label -> "Technical Notes",
							    'id -> "quality_notes",
							    'class -> "form-control"
							)(FieldConstructor(genericInput.f), lang)	
			         	</div>
					</div>
				</div>
				
				<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							@textarea(instanceForm("crawl_seeds"),
				 				args = 'rows -> 1, 'cols -> 100,
								'_label -> "Crawl Seeds",
							    'id -> "crawl_seeds",
							    'readonly -> "",
							    'class -> "form-control"
							)(FieldConstructor(genericInput.f), lang)	
			         	</div>
					</div>
				</div>
				
				<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							@textarea(instanceForm("crawl_scheduled_start_date"),
				 				args = 'rows -> 1, 'cols -> 100,
								'_label -> "Scheduled Start Date",
							    'id -> "crawl_scheduled_start_date",
							    'readonly ->"",
							    'class -> "form-control"
							)(FieldConstructor(genericInput.f), lang)	
			         	</div>
					</div>
				</div>
				
				<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							@textarea(instanceForm("crawl_actual_start_date"),
				 				args = 'rows -> 1, 'cols -> 100,
								'_label -> "Actual Start Date",
							    'id -> "crawl_actual_start_date",
							    'readonly -> "",
							    'class -> "form-control"
							)(FieldConstructor(genericInput.f), lang)	
			         	</div>
					</div>
				</div>
				
				<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							@textarea(instanceForm("crawl_duration_millis"),
				 				args = 'rows -> 1, 'cols -> 100,
								'_label -> "Duration",
							    'id -> "crawl_duration_millis",
							    'readonly -> "",
							    'class -> "form-control"
							)(FieldConstructor(genericInput.f), lang)	
			         	</div>
					</div>
				</div>
				
				<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							@textarea(instanceForm("crawl_bytes_downloaded"),
				 				args = 'rows -> 1, 'cols -> 100,
								'_label -> "Bytes Downloaded",
							    'id -> "crawl_bytes_downloaded",
							    'readonly -> "",
							    'class -> "form-control"
							)(FieldConstructor(genericInput.f), lang)	
			         	</div>
					</div>
				</div>
				
				<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							@textarea(instanceForm("crawl_urls_downloaded"),
				 				args = 'rows -> 1, 'cols -> 100,
								'_label -> "URLs Downloaded",
							    'id -> "crawl_urls_downloaded",
							    'readonly -> "",
							    'class -> "form-control"
							)(FieldConstructor(genericInput.f), lang)	
			         	</div>
					</div>
				</div>
				
				<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							@textarea(instanceForm("crawl_urls_failed"),
				 				args = 'rows -> 1, 'cols -> 100,
								'_label -> "URLs Failed",
							    'id -> "crawl_urls_failed",
							    'readonly -> "",
							    'class -> "form-control"
							)(FieldConstructor(genericInput.f), lang)	
			         	</div>
					</div>
				</div>
				
				<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							@textarea(instanceForm("crawl_additional_information"),
				 				args = 'rows -> 1, 'cols -> 100,
								'_label -> "Additional Information",
							    'id -> "crawl_additional_information",
							    'readonly -> "",
							    'class -> "form-control"
							)(FieldConstructor(genericInput.f), lang)	
			         	</div>
					</div>
				</div>
				
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							@textarea(field = instanceForm("revision"),
				 				args = 'rows -> 1, 'cols -> 100,
								'_label -> "Revision log message",
								'id -> "inputRevision",
								'class -> "form-control"
							)(FieldConstructor(genericInput.f), lang)	
						</div>
					</div>
		     	</div>
			</div>
		</div>
                        

		<div class="padding-20">
			<div class="panel-group" id="accordion">
				<div class="panel panel-primary" id="panels">
					<div class="panel-heading">
				    	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseInstances" style="color:#fff;">
				        	Instances
						</a>
					</div>
					<div id="collapseInstances" class="panel-collapse collapse">
						@for(fieldUrl <- FormHelper.INSTANCE.fieldUrls(targetId)) {
							<div class="padding-10">
								<strong><a href="@fieldUrl.url">@fieldUrl.url</a></strong>
							</div>
							<ul>
								<li>
									<div class="padding-10">
										<a class="brand" target="_blank" href="@play.api.Play.current.configuration.getString("server_name")@play.api.Play.current.configuration.getString("application.context")/wayback/*/@fieldUrl.url">In QA Wayback</a>
									</div>
								</li>
								<li>
								    <div class="padding-10">
							        	<a class="brand" target="_blank" href="http://www.webarchive.org.uk/wayback/archive/*/@fieldUrl.url">In Open UK Web Archive</a>
									</div>
								</li>
								<li>
									<div class="padding-10">
										<a class="brand" target="_blank" href="http://www.webarchive.org.uk/mementos/search/@fieldUrl.url">In other web archives</a>
									</div>
								</li>
								<li>
								    <div class="padding-10">
							        	<a class="brand" target="_blank" href="@fieldUrl.url">Live site</a>
									</div>
								</li>
							</ul>
						}
					</div>
				</div>
			</div>
		</div>
	
		<div class="padding-20">
			<div class="alert alert-info">
				Provide an explanation of the changes you are making. This will help other authors understand your motivations.
			</div>
		</div>

		@if((user.hasRole("sys_admin") || user.hasRole("archivist") || user.hasRole("expert_user"))) {
			<div class="row padding-10 pull-right">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="btn-group">
						<button type="submit" class="btn btn-primary" name="action" value="save" id="edit-save">Save</button>
						<button type="submit" class="btn btn-primary" name="action" value="delete" onclick="return confirm('Are you sure?');" id="delete">Delete</button>
			       </div>
				</div>
			</div>
		}
	}
}

