@(form: Form[Instance], user: User, qaIssues: List[QaIssue], qaIssueCategories: Array[uk.bl.Const.QAIssueCategory], targetId: Long)

@import uk.bl.api.FormHelper

@script = {
	<script>
		
	    $(document).ready(function() {
	          
	        // Restarts the keyboard-idleness timeout
			var restartIdleTimeout = function(text) {
	        	if (idle_timeout)
	            	window.clearTimeout(idle_timeout);
	            
	            idle_timeout = window.setTimeout(function() { doScope(text); }, IDLE_THRESHOLD);
			};		
	          
		});		
	</script>
}

@main("", user, script) {
    
	<div class="tab-content padding-20">
	   	<ol class="breadcrumb">
			<li><a href="@routes.TargetController.index()">Targets</a></li>
			<li><a href="@routes.TargetController.view(targetId)">@form("target.title").value</a></li>
			<li><a href="@routes.InstanceController.index()">Instances</a></li>
			<li class="active"><span class="badge">@form("target.fieldUrl").value</span></li>
		</ol>
	</div>

	<div class="tab-content padding-20">
           
		<ul class="nav nav-pills" id="myNavbar">
		    <li class="active"><a href="#qa" data-toggle="tab">QA</a></li>
	  	</ul>
	</div>
	
    @warningmessage(flash)
	@helper.form(action=routes.InstanceController.save()) {
	
		<div id="myTabContent" class="tab-content">
		
			<div class="tab-pane padding-20 fade active in" id="qa">
			
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label for="inputTitle" class="col-sm-6 control-label">Title <font color="red">*</font></label>
						    <div class="col-sm-6">
				              <input class="form-control" name="title" id="inputTitle" size="60" placeholder="My title" type="text" value="@form("title").value">
							</div>
						</div>
					</div>
		     	</div>
			
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
			            	<label for="qa_status" class="col-sm-6 control-label">QA Status</label>
						    <div class="col-sm-6">
								<select name="qaIssueId" id="field_qa_status" class="form-control">
									@for(qaIssue <- qaIssues) {
						                @if(form("qaIssue").value != null && Long.valueOf(form("qaIssue.id").value) == qaIssue.id) {             
									 		<option value="@qaIssue.id" selected>@qaIssue.name</option>
									 	} else {
										 	<option value="@qaIssue.id">@qaIssue.name</option>
									 	}									 	
								    }
								</select>						    
							</div>
			         	</div>
					</div>
				</div>
	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
			            	<label for="qa_issue_category" class="col-sm-6 control-label">QA Issue Category</label>
			            	<div class="col-sm-6">
								<select multiple name="qaIssueCategory" class="form-control target-form-control" id="qa_issue_category">
									@for(qaIssueCategory <- qaIssueCategories) {
						                @if(form("qaIssueCategory").value != null && form("qaIssueCategory").value.equals(qaIssueCategory.name)) {             
									 		<option value="@qaIssueCategory.name" selected>@qaIssueCategory.getValue</option>
									 	} else {
										 	<option value="@qaIssueCategory.name">@qaIssueCategory.getValue</option>
									 	}									 	
									}
								</select>
							</div>
			         	</div>
					</div>
				</div>
	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
			            	<label for="qa_notes" class="col-sm-6 control-label">QA Notes</label>
			            	<div class="col-sm-6">
				            	<textarea class="form-control" name="qaNotes" id="qa_notes" cols="100" rows="1">@form("qaNotes").value</textarea>
							</div>
			         	</div>
					</div>
				</div>
	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
			            	<label for="quality_notes" class="col-sm-6 control-label">Technical Notes</label>
			            	<div class="col-sm-6">
				            	<textarea class="form-control" name="notes" id="quality_notes" cols="100" rows="1">@form("notes").value</textarea>
							</div>
			         	</div>
					</div>
				</div>
				
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
			              	<label for="inputBody" class="col-sm-6 control-label">Revision log message</label>
						    <div class="col-sm-6">
	               				<textarea class="form-control" name="revision" id="inputRevision">@form("revision").value</textarea>
							</div>
						</div>
					</div>
		     	</div>
			</div>
		</div>
                        

		<div class="padding-20">
			<div class="panel-group" id="accordion">
				<div class="panel panel-primary" id="panels">
					<div class="panel-heading">
				    	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseInstances" style="color:#fff;">
				        	Instances
						</a>
					</div>
					<div id="collapseInstances" class="panel-collapse collapse">
					</div>
				</div>
			</div>
		</div>
	
		<div class="padding-20">
			<div class="alert alert-info">
				Provide an explanation of the changes you are making. This will help other authors understand your motivations.
			</div>
		</div>

		<div class="row padding-10 pull-right">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="btn-group">
					<button type="submit" class="btn btn-primary" name="save" id="edit-save">Save</button>
					<button type="submit" class="btn btn-primary" name="delete" onclick="return confirm('Are you sure?');" id="delete">Delete</button>
		       </div>
			</div>
		</div>
	}
}

