@(instance: Instance, user: User, qaIssues: List[QaIssue], qaIssueCategories: Array[uk.bl.Const.QAIssueCategory])

@script = {
	<script>
	</script>
}

@main("", user, script) {

	<ul class="nav nav-tabs">
	   <li class="active"><a href="#">View</a></li>
	   <li><a href="@routes.InstanceController.edit(instance.id)">Edit</a></li>
	</ul>
	
	<div class="tab-content padding-20">
	   	<ol class="breadcrumb">
			<li><a href="@routes.TargetController.index()">Targets</a></li>
			<li><a href="@routes.TargetController.view(instance.target.id)">@instance.target.title</a></li>
			<li><a href="@routes.InstanceController.index()">Instances</a></li>
			<li class="active"><span class="badge">@instance.target.fieldUrl()</span></li>
		</ol>
	</div>
	
	<div id="myTabContent" class="tab-content">
		
		<div class="tab-pane padding-20 fade active in" id="qa">
		
	   		<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						<label for="inputTitle" class="col-sm-6 control-label">Title <font color="red">*</font></label>
					    <div class="col-sm-6">
			            	@instance.title
						</div>
					</div>
				</div>
	     	</div>    	
    		<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
		            	<label for="qa_status" class="col-sm-6 control-label">QA Status</label>
		            	<div class="col-sm-6">
					        @if(instance.qaIssue.name != null && instance.qaIssue.name.length() > 0) {
								@instance.qaIssue.name
							} else {
							    None
							}
						</div>
		         	</div>
				</div>
			</div>

    		<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
		            	<label for="qa_issue_category" class="col-sm-6 control-label">QA Issue Category</label>
		            	<div class="col-sm-6">
					        @if(instance.qaIssueCategory != null && instance.qaIssueCategory.length() > 0) {
								@uk.bl.Const.QAIssueCategory.getQAIssueCategory(instance.qaIssueCategory).getValue
							} else {
							    None
							}
						</div>
		         	</div>
				</div>
			</div>

    		<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
		            	<label for="qa_notes" class="col-sm-6 control-label">QA Notes</label>
		            	<div class="col-sm-6">
			            	@instance.qaNotes
						</div>
		         	</div>
				</div>
			</div>

    		<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
		            	<label for="quality_notes" class="col-sm-6 control-label">Technical Notes</label>
		            	<div class="col-sm-6">
			            	@instance.notes
						</div>
		         	</div>
				</div>
			</div>	

    		<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						<label for="inputUrls" class="col-sm-6 control-label">
							@if(instance.target != null) {
								@for(fieldUrl <- instance.target.fieldUrls) {
									<br><a href="@routes.InstanceController.index()/list/?s=title&f=@fieldUrl.url">all instances for the target</a>
								}
							}
						</label>
					</div>
				</div>
	     	</div>	 		     	    				
		</div>
	</div>

	<hr>

	<div id="revisionArea" class="revision">
		<dl class="dl-horizontal">
			<dt>Revision log message:</dt>
			<dd>@instance.revision</dd>
		</dl>
	</div>
		
	<div class="padding-20">
		<div class="panel-group" id="accordion">
			<div class="panel panel-primary" id="panels">
				<div class="panel-heading">
			    	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseInstances" style="color:#fff;">
			        	Instances
					</a>
				</div>
				<div id="collapseInstances" class="panel-collapse collapse">
					@if(instance.target != null) {
						@for(fieldUrl <- instance.target.fieldUrls) {
							<div class="panel-footer">
								<a class="brand" target="_blank" href="http://opera.bl.uk:8080/wayback/*/@fieldUrl.url">In QA Wayback</a>
							</div>
						    <div class="panel-footer">
					        	<a class="brand" target="_blank" href="http://www.webarchive.org.uk/wayback/archive/*/@fieldUrl.url">In Open UK Web Archive</a>
							</div>
							<div class="panel-footer">
								<a class="brand" target="_blank" href="http://www.webarchive.org.uk/mementos/search/@fieldUrl.url">In other web archives</a>
							</div>
						    <div class="panel-footer">
					        	<a class="brand" target="_blank" href="@fieldUrl.url">Live site</a>
							</div>
						}
					}
				</div>
			</div>
		</div>
	</div>
	
	<div class="padding-20">
		<div class="panel-group" id="accordion">
			<div class="panel panel-primary" id="panels">
				<div class="panel-heading">
	  				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseRevisions" style="color:#fff;">
	      				Instance revisions
	      			</a>
	      		</div>
				<div id="collapseRevisions" class="panel-collapse collapse">
	       			@for(prevInstance <- Instance.findRevisions(instance.url)) {
	       			<div class="panel-footer">
	       				<a class="brand" href="@routes.InstanceController.viewrevision(prevInstance.id)">
	         				(@prevInstance.id) &nbsp; @prevInstance.revision &nbsp; @prevInstance.updatedAt</a>
	       			</div>
	       			}
	     		</div>
	    	</div>
		</div>
	</div>    
   		
}
