@(target: Target, user: User)

@script = {
	<script>
    // This is the code that switches to the other page.
    // We do this via JavaScript, and not a normal hyperlink,
    // because that way we can communicate the current nav pill status as part of the link URL.
    function switchPage() {
      var activeTab = $('#myNavbar li.active'); // Here we grab the li that's currently marked as 'active'
      var href = activeTab.find('a').attr('href'); // here we grab the href of the link inside the active tab
      
      // And finally we just attach the href to view.html and forward the browser. 
      // An example URL would be: 'view.html#npld-scope'
      window.location.href="@routes.TargetController.edit(target.url)" + href;
    }
  
    $(document).ready(function() {
      // This happens right after the document is loaded.
      // Our nav pills won't do anything by themselves, so we need to make sure we
      // check if the current URL has a #-component and if so, we activate the
      // appropriate pill.
      var hash = window.location.hash;
      if (hash.indexOf('#') == 0) {
        // We have a hash - let's see if it matches with nav pill href
        var el = $('#myNavbar a[href=' + hash + ']');
      
        // We have an <a> with this ID, and it has a parent node that's an <li>
        if (el && el.parent() && el.parent().prop('tagName') == 'LI') {
          // So we activate this nav pill
          $(el).tab('show');
          window.scrollTo(0, 0);
        }
      }
      
      // This is completely optional!! But it keeps the hash in our current URL bar
      // in sync with the tab we have selected, so the pages stay nice and bookmarkable
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        window.location.hash = ($(e.target).attr('href'));
        window.scrollTo(0, 0);
      })
    });	
	</script>
}

@style = {
    <style>
    #tab-content {
      padding:20px;
    }
    
    .tab-pane {
      padding:20px 0;
    }
    </style>
}
    
@main("", user, script, style) {
   	<div class="page-header">
	    <h1><a href="@routes.TargetController.index()">Targets > </a>Target @target.title</h1>
	</div>

	@if(!target.active) {    	
	<div class="padding-20">
		<div class="alert alert-info">
			Please be aware that this is not the current version of this record.
			<a href="@routes.TargetController.view(target.url)">Click here for the most recent revision</a></li>
		</div>
	</div>	
	}	     	
	
	<ul class="nav nav-tabs">
	   <li class="active"><a href="#">View</a></li>
	   @if(((user.hasRole("sys_admin") || user.hasRole("archivist") || user.hasRole("expert_user"))) 
	   		|| (user.hasRole("user") && user.url.equals(target.authorUser.url))) {
	   <li><a onclick="switchPage(); return false;" href="@routes.TargetController.edit(target.url)">Edit</a></li>
	   }
	</ul>
	      
	@warningmessage(flash)
	<div class="tab-content padding-20">
		<input type="hidden" name="nid" value="@target.id">
        <input type="hidden" name="user" value="@user.url">
           
		<ul class="nav nav-pills" id="myNavbar">
        	<li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
		   	<li><a href="#metadata" data-toggle="tab">Metadata</a></li>
        	<li><a href="#crawlpolicy" data-toggle="tab">Crawl policy and Schedule</a></li>
			<li><a href="#crawlpermission" data-toggle="tab">NPLD scope 
				@if(Target.isInScopeAllWithoutLicense(target.fieldUrl, target.url)) {
					<font color="green">(+)</font>
				} else {
					<font color="red">(-)</font>
				}		        
			</a></li>
		    <li><a href="#licensing" data-toggle="tab">UKWA Licensing
		    	@if(Target.hasGrantedLicense(target.url)) {
					<font color="green">(+)</font>
				} else {
					<font color="red">(-)</font>
				}		        
		    </a></li>
      	</ul>
	</div>
	
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane padding-20 fade active in" id="overview">
		
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label for="inputTitle" class="col-sm-6 control-label">Title <font color="red">*</font></label>
						    <div class="col-sm-6">
				              <input class="form-control" name="title" id="inputTitle" size="60" placeholder="My title" type="text" value="@target.title" readonly>
							</div>
						</div>
					</div>
		     	</div>

	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="col-sm-6 control-label">ID <font color="red">*</font></label>
						    <div class="col-sm-6">
								<input class="form-control" name="nid" value="@target.id" size="30" readonly>
							</div>
						</div>
					</div>
		     	</div>

	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label for="inputUrls" class="col-sm-6 control-label">
								Seed URL(s) <font color="red">*</font>
								<small class="text-center">(One or more URLs, separated by comma)</small>
							</label>
						    <div class="col-sm-6">
								<input class="form-control" name="fieldurl" id="fieldurl" placeholder="url1, url2" type="text" value="@target.fieldUrl" readonly>
							</div>
						</div>
					</div>
		     	</div>	 

	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label for="inputUrls" class="col-sm-6 control-label">
								UK Hosting
							</label>
						    <div class="col-sm-6">
								@if(Target.checkUkHosting(target.fieldUrl)) {
					            	<font id="isInScope" style="color: green">yes</font>
								} else {
									<font id="isInScope" style="color: red">no</font>
								}
							</div>
						</div>
					</div>
		     	</div>	     	
	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label for="inputUrls" class="col-sm-6 control-label">
								UK top-level domain <small class="text-center">(Includes .uk, .london and .scot domains)</small>
							</label>
						    <div class="col-sm-6">
								@if(Target.isInScopeDomain(target.fieldUrl, target.url)) {
					            	<font id="isInScope" style="color: green">yes</font>
								} else {
									<font id="isInScope" style="color: red">no</font>
								}
							</div>
						</div>
					</div>
		     	</div>	     	
	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label for="inputUrls" class="col-sm-6 control-label">
								UK Registration
							</label>
						    <div class="col-sm-6">
								@if(Target.isInScopeUkRegistration(target.fieldUrl)) {
					            	<font id="isInScope" style="color: green">yes</font>
								} else {
									<font id="isInScope" style="color: red">no</font>
								}
							</div>
						</div>
					</div>
		     	</div>	     	
	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="col-sm-6 control-label">QA Status</label>
						    <div class="col-sm-6">
						        @if(target.qaIssue != null) {
						  			@target.qaIssue.name 						          
						        } else {
						        	none
								}
							</div>
						</div>
					</div>
		     	</div>	     
	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="col-sm-6 control-label">Live Site Status <small class="text-center">(If known, please add the current status of the site)</small></label>
						    <div class="col-sm-6">
							  		@if(target.field_live_site_status != null && target.field_live_site_status.equals("N/A")) {
							        	N/A
							        }
							  		@if(target.field_live_site_status != null && target.field_live_site_status.equals("Still live")) {
							        	Still live 
							        }
							  		@if(target.field_live_site_status != null && target.field_live_site_status.equals("No longer updated")) {
							        	No longer updated 
							        }
							  		@if(target.field_live_site_status != null && target.field_live_site_status.equals("Vanished")) {
							        	Vanished
							        }
							  		@if(target.field_live_site_status != null && !target.field_live_site_status.equals("Vanished")
							  			&& !target.field_live_site_status.equals("No longer updated")
							  			&& !target.field_live_site_status.equals("Still live")
							  			&& !target.field_live_site_status.equals("N/A")) {
							        	none
							        }
							</div>
						</div>
					</div>
		     	</div>	     
		     	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="col-sm-6 control-label">Key Site <small class="text-center">(Is this a 'key site', i.e. one of such significance that it requires higher levels of QA and archival management)</small></label>
						    <div class="col-sm-6">
				                @if(target.field_key_site != null && target.field_key_site) {  
				                   yes           
				                } else {
				                   no
				                }
							</div>
						</div>
					</div>
		     	</div>	     
		     	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label for="inputWCT" class="col-sm-6 control-label">WCT ID</label>
						    <div class="col-sm-6">
			              		<input name="wct" class="form-control" id="inputWCT" placeholder="0" type="text" readonly value="@target.field_wct_id">
							</div>
						</div>
					</div>
		     	</div>
		     	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
			              	<label for="inputSPT" class="col-sm-6 control-label">SPT ID</label>
						    <div class="col-sm-6">
			              		<input name="spt" class="form-control" id="inputSPT" placeholder="0" type="text" readonly value="@target.field_spt_id">
							</div>
						</div>
					</div>
		     	</div>
	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
			              	<label for="keywords" class="col-sm-6 control-label">Keyword(s) <small class="text-center">(The multiple private uncontrolled keywords)</small></label>
						    <div class="col-sm-6">
		 				  		<input id="keywords" type="text" name="keywords" value="@target.keywords" size="60" maxlength="2048" class="form-control" readonly/>
							</div>
						</div>
					</div>
		     	</div>
	
		   		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
			              	<label for="tags" class="col-sm-6 control-label">Tag(s) <small class="text-center">(The multiple open keywords)</small></label>
						    <div class="col-sm-6">
						      	@target.getSelectedTags()
							</div>
						</div>
					</div>
		     	</div>		   

	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
			              	<label for="Synonyms" class="col-sm-6 control-label">Synonyms <small class="text-center">(The synonyms support manual logging of identical content hosted on multiple domains)</small></label>
						    <div class="col-sm-6">
		 				  		<input type="text" name="synonyms" value="@target.synonyms" size="60" maxlength="2048" class="form-control" readonly/>
							</div>
						</div>
					</div>
		     	</div>			
		</div>
		
		<div class="tab-pane fade padding-20" id="metadata">
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
			              	<label for="inputDescription" class="col-sm-6 control-label">Description <small class="text-center">(A description of this web site)</small></label>
						    <div class="col-sm-6">
				            	<textarea class="form-control" name="description" id="inputDescription" cols="100" rows="1" value="@target.fieldDescription" readonly>@target.fieldDescription</textarea>
							</div>
						</div>
					</div>
		     	</div>		    
		    	     		    
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
			              	<label for="inputDescription" class="col-sm-6 control-label">Subject</label>
			              	 <div class="col-sm-6">
						        @if(target.url != null) {
  									@Taxonomy.getSubjectsAsString(Taxonomy.getSelectedSubjects(target.url))
  								} else {
  								    none
  								}
			              	</div>
						</div>
					</div>
		     	</div>	
		     		    
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
			              	<label for="suggestions-collections" class="col-sm-6 control-label">Collections <small class="text-center">(Special collections that you think this web site should appear in)</small></label>
						    <div class="col-sm-6">
						        @if(target.url != null) {
  									@models.Collection.getCollectionsAsString(models.Collection.getSelectedCollections(target.url))
  								} else {
  								    none
  								}
							</div>
						</div>
					</div>
		     	</div>		   
		     	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
			              	<label for="mySel" class="col-sm-6 control-label">Nominating Organisation <small class="text-center">(The organisation that nominated this web site. Used to track down further information if the original user cannot be contacted)</small></label>
						    <div class="col-sm-6">
						        @if(target.organisation != null) {
  									@target.organisation.title
  								} else {
  								    none
  								}
							</div>
						</div>
					</div>
		     	</div>		   

	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
			              	<label for="inputAuthors" class="col-sm-6 control-label">Originating Organisation <small class="text-center">(the organisation(s) responsible for creating the content)</small></label>
						    <div class="col-sm-6">
				            	<textarea readonly class="form-control" name="originating_organisation" id="originatingOrganisation" cols="100" rows="1" value="@target.organisation.url">@target.organisation.url</textarea>
							</div>
						</div>
					</div>
		     	</div>		    		    
     			     		
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
			              	<label for="userSel" class="col-sm-6 control-label">Selector <font color="red">*</font> <small class="text-center">(The user that nominated this web site. A record can be created on behalf of other user by high-level roles)</small></label>
						    <div class="col-sm-6">
						        @if(target.url != null && target.authorUser != null) {
  									@User.showUser(target.authorUser.url)
  								} else {
  								    none
  								}
							</div>
						</div>
					</div>
		     	</div>	
		     	
		     	<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
			              	<label for="status" class="col-sm-6 control-label">Language <small class="text-center">(the predominant language in which the page is written)</small></label>
						    <div class="col-sm-6">
						        @if(target.url != null && target.language != null) {
  									@target.language
  								} else {
  								    none
  								}
							</div>
						</div>
					</div>
		     	</div>		   
		     	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
			              	<label for="inputAuthors" class="col-sm-6 control-label">Author(s) <small class="text-center">(A named individual responsible for creating the content)</small></label>
						    <div class="col-sm-6">
				            	<textarea readonly class="form-control" name="authors" id="authors" cols="100" rows="1" value="@target.authorUser.name">@target.authorUser.name</textarea>
							</div>
						</div>
					</div>
		     	</div>		    		    
     			     	
		   		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="col-sm-6 control-label">Flag(s) <small class="text-center">(Allows users to flag record for attention, using a pre-defined list of flag names)</small></label>
						    <div class="col-sm-6">
						        @for(flag <- Flag.findAllFlags()) {
									<label class="checkbox-inline">
						                @if(target.flags != null && target.flags.contains(flag.name)) {
						                	<input type="checkbox" name="@Flags.getGuiName(flag.name)" value="true" checked disabled />
						                } else {
						                	<input type="checkbox" name="@Flags.getGuiName(flag.name)" value="true" disabled />
						                }
						                @Flags.getGuiName(flag.name)
					                </label>
					            }
							</div>
						</div>
					</div>
		     	</div>	     		

	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
			              	<label for="inputFlagNotes" class="col-sm-6 control-label">Flag notes <small class="text-center">(More details about the flagged issue)</small></label>
						    <div class="col-sm-6">
				            	<textarea readonly class="form-control" name="flag_notes" id="flag_notes" cols="100" rows="1" value="@target.flagNotes">@target.flagNotes</textarea>
							</div>
						</div>
					</div>
		     	</div>		    

				<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="col-sm-6 control-label">Date of publication</label>
						    <div class="col-sm-6">
	 							@target.dateOfPublication
	                		</div>
						</div>
					</div>
		     	</div>			     	

				@if(user.hasRole("sys_admin") || user.hasRole("archivist")) {		     	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="col-sm-6 control-label">Justification <small class="text-center">(This field should include any information provided by curators justifying the creation of the record. This field is NOT public.)</small></label>
						    <div class="col-sm-6">
				            	<textarea class="form-control" name="justification" id="inputJustification" cols="100" rows="1" value="@target.justification" readonly>@target.justification</textarea>
							</div>
						</div>
					</div>
		     	</div>	
		     	}	     			     
		     	
		     	<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
			              	<label for="selection_type" class="col-sm-6 control-label">Selection Type <font color="red">*</font> <small class="text-center">(This records if the selection was a Nomination (e.g. via UKWA website or other means) or a Selection (via an ACT User))</small></label>
						    <div class="col-sm-6">
						        @if(target.url != null && target.selectionType != null) {
  									@target.selectionType
  								} else {
  								    none
  								}
							</div>
						</div>
					</div>
		     	</div>		   
		     			     
		     			     			     			     			     	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="col-sm-6 control-label">Selector Notes <small class="text-center">(This field allows further notes to selection for WA team, not captured in Justification field.)</small></label>
						    <div class="col-sm-6">
				            	<textarea class="form-control" name="selector_notes" id="input_selector_notes" cols="100" rows="1" value="@target.selectorNotes" readonly>@target.selectorNotes</textarea>
							</div>
						</div>
					</div>
		     	</div>	
		     	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label for="legacy_site_id" class="col-sm-6 control-label">Legacy site ID <small class="text-center">(ID used to identify paper licences.)</small></label>
						    <div class="col-sm-6">
			              		<input name="legacy_site_id" class="form-control" id="legacy_site_id" placeholder="0" type="text" value="@target.legacySiteId" readonly>
							</div>
						</div>
					</div>
		     	</div>
		     			     			     	
			</div>
			
			<div class="tab-pane fade" id="crawlpermission">
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="col-sm-6 control-label">Legal Deposit Criteria</label>
						</div>
					</div>
		     	</div>
				<div class="padding-20">
					<div class="alert alert-info">
						In order to be considered as in scope for Non-Print Legal Deposit, a resource must pass one of a series of tests.
					</div>
				</div>		     	
				@if(TargetController.indicateNpldStatus(target.fieldUrl)) {    	
				<div class="padding-20">
					<div class="alert alert-info">
						NB. There are other records within this domain for which data has already been provided.
						@for(targetObj <- Target.getNpldStatusList(target.fieldUrl)) {
							<p><a href="@routes.TargetController.view(targetObj.url)">@targetObj.title @targetObj.fieldUrl</a></p>
						}
					</div>
				</div>	
				}	     	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label for="inputUrls" class="col-sm-6 control-label">
								UK Hosting
							</label>
						    <div class="col-sm-6">
								@if(Target.checkUkHosting(target.fieldUrl)) {
					            	<font id="isInScope" style="color: green">yes</font>
								} else {
									<font id="isInScope" style="color: red">no</font>
								}
							</div>
						</div>
					</div>
		     	</div>	     	
	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label for="inputUrls" class="col-sm-6 control-label">
								UK top-level domain <small class="text-center">(Includes .uk, .london and .scot domains)</small>
							</label>
						    <div class="col-sm-6">
								@if(Target.isInScopeDomain(target.fieldUrl, target.url)) {
					            	<font id="isInScope" style="color: green">yes</font>
								} else {
									<font id="isInScope" style="color: red">no</font>
								}
							</div>
						</div>
					</div>
		     	</div>	     	
	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label for="inputUrls" class="col-sm-6 control-label">
								UK Registration
							</label>
						    <div class="col-sm-6">
								@if(Target.isInScopeUkRegistration(target.fieldUrl)) {
					            	<font id="isInScope" style="color: green">yes</font>
								} else {
									<font id="isInScope" style="color: red">no</font>
								}
							</div>
						</div>
					</div>
		     	</div>	     	
	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="col-sm-6 control-label">UK Postal Address <small class="text-center">(The 'about us' or other contact page contains a UK address for a significant part of the organisation (e.g. it is not just a PO box))</small></label>
						    <div class="col-sm-6">
				                @if(target.field_uk_postal_address != null && target.field_uk_postal_address) {             
					                yes
				                } else {
					                no
				                }
							</div>
						</div>
					</div>
		     	</div>		     				     	

	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="col-sm-6 control-label">Postal Address URL <small class="text-center">(The URL on the site that contains the postal address used to determine that the site is in the UK)</small></label>
						    <div class="col-sm-6">
		 						<input readonly type="text" name="field_uk_postal_address_url" value="@target.fieldUkPostalAddressUrl" size="60" maxlength="2048" class="form-control" />
							</div>
						</div>
					</div>
		     	</div>
		     	
				<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="col-sm-6 control-label">Via Correspondence <small class="text-center">(Previous correspondence with the web site owner by a Curator contains evidence of a UK address)</small></label>
						    <div class="col-sm-6">
				                @if(target.field_via_correspondence != null && target.field_via_correspondence) {             
					                yes
				                } else {
					                no
				                }
							</div>
						</div>
					</div>
		     	</div>		

				<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="col-sm-6 control-label">Via Correspondence: Notes <small class="text-center">(Please record details of correspondence with site owner)</small></label>
						    <div class="col-sm-6">
		 						<textarea readonly name="field_notes" cols="100" rows="1" class="form-control">@target.value</textarea>
							</div>
						</div>
					</div>
		     	</div>	

				@if(user.hasRole("sys_admin") || user.hasRole("archivist") || user.hasRole("expert_user")) {
				<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="col-sm-6 control-label">Professional Judgement <small class="text-center">(In your professional judgement, does this site qualify as a UK Publication under the terms of the Legal Deposit Legislation. Please provide details of evidence used in the box below)</small></label>
						    <div class="col-sm-6">
				                @if(target.field_professional_judgement != null && target.field_professional_judgement) {             
					                yes
				                } else {
					                no
				                }
							</div>
						</div>
					</div>
		     	</div>	
		     	
				<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="col-sm-6 control-label">Professional Judgement Explanation <small class="text-center">(Please describe the rational behind this decision, indicating any evidence used)</small></label>
						    <div class="col-sm-6">
			 					<textarea readonly name="field_professional_judgement_exp" cols="100" rows="1" class="form-control">@target.field_professional_judgement_exp</textarea>
							</div>
						</div>
					</div>
		     	</div>
		     	}	

				<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="col-sm-6 control-label">No LD Criteria Met <small class="text-center">(Use this to indicate that no LD criteria apply, and so this site cannot be archived under Legal Deposit)</small></label>
						    <div class="col-sm-6">
				                @if(target.field_no_ld_criteria_met != null && target.field_no_ld_criteria_met) {             
					                yes
				                } else {
				                	no
				                }
	                		</div>
						</div>
					</div>
		     	</div>				
		</div>	
        
        <div class="tab-pane fade" id="crawlpolicy">

			@if(user.hasRole("sys_admin") || user.hasRole("archivist")) {
			<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						<label class="col-sm-6 control-label">Scope<font color="red">*</font> <small class="text-center">(Select the scope of the crawl around this URL. In general, when nominating a site for crawling, you should specify the homepage and say 'All URLs that start like this'. If you wish to include all subdomains (e.g. example.co.uk but also anything like www.example.co.uk, images.example.co.uk, etc.) then select the 'any subdomains' option)</small></label>
					    <div class="col-sm-6">
			                @if(target.field_scope != null) {             
				                @TargetController.getScopeGuiName(target.field_scope)
			                } else {
				                none
			                }
						</div>
					</div>
				</div>
	     	</div>
	     	
			<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						<label class="col-sm-6 control-label">Depth<font color="red">*</font> <small class="text-center">(Use this to indicate that no LD criteria apply, and so this site cannot be archived under Legal Deposit)</small></label>
					    <div class="col-sm-6">
			                @if(target.field_depth != null) {             
				                @TargetController.getDepthGuiName(target.field_depth)
			                } else {
				                none
			                }
						</div>
					</div>
				</div>
	     	</div>	

			<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						<label class="col-sm-6 control-label">Ignore Robots.txt <small class="text-center">(Should we ignore Robots.txt while crawling this site? Note that although this may lead to us exploring more crawler traps, this does not present much of a problem to our crawling systems)</small></label>
					    <div class="col-sm-6">
			                @if(target.field_ignore_robots_txt != null && target.field_ignore_robots_txt) {             
				                yes
			                } else {
				                no
			                }
                		</div>
					</div>
				</div>
	     	</div>	
	     	
			<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						<label class="col-sm-6 control-label">Crawl Frequency<span class="form-required" title="This field is required."><font color="red">*</font></span> <small class="text-center">(How often should this site be archived?)</small></label>
					    <div class="col-sm-6">
	 						<input type="text" name="field_crawl_frequency" value="@target.field_crawl_frequency" size="60" maxlength="2048" class="form-control" readonly/>
						</div>
					</div>
				</div>
	     	</div>	
	     	
			<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						<label class="col-sm-6 control-label">Start date</label>
					    <div class="col-sm-6">
	 						@target.fieldCrawlStartDate
                		</div>
					</div>
				</div>
	     	</div>	

			<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						<label class="col-sm-6 control-label">End date</label>
					    <div class="col-sm-6">
	 						@target.fieldCrawlEndDate
                		</div>
					</div>
				</div>
	     	</div>	

			<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						<label class="col-sm-6 control-label">White list</label>
					    <div class="col-sm-6">
	 						<input type="text" name="white_list" value="@target.whiteList" size="30" maxlength="2048" class="form-control" readonly/>
                		</div>
					</div>
				</div>
	     	</div>	

			<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						<label class="col-sm-6 control-label">Black list</label>
					    <div class="col-sm-6">
	 						<input type="text" name="black_list" value="@target.blackList" size="30" maxlength="2048" class="form-control" readonly/>
                		</div>
					</div>
				</div>
	     	</div>	
	     	
			@if(target.url != null && Target.existInDb(target.url)) {
				@if(user.hasRole("sys_admin") || user.hasRole("archivist")) {
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="col-sm-6 control-label"></label>
						    <div class="col-sm-6">
						     	<a href="@routes.TargetController.archiveTarget(target.fieldUrl)">
					    			<button type="submit" name="archive" class="btn btn-success">Archive this now</button>
								</a>
						</div>
					</div>
				</div>
	     	</div>
			    }
			}
	     }		     	
        </div>
	        
		<div class="tab-pane fade padding-20" id="licensing">
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label for="edit-field-license-und" class="col-sm-6 control-label">License <small class="text-center">(The license terms under which this site is archived and made available)</small></label>
			              	<div class="col-sm-6">
  									@Taxonomy.getSelectedLicenses("license", target)
			              	</div>
						</div>
					</div>
		     	</div>	

				@if(target.indicateUkwaLicenceStatus) {    	
				<div class="padding-20">
					<div class="alert alert-info">
						NB. There is already a licence request either pending, or granted, or refused, for a target at a higher level in this domain. There is no need to request another one.
						@for(targetObj <- target.getUkwaLicenceStatusList) { 
							<p><a href="@routes.TargetController.view(targetObj.url)">@targetObj.title @targetObj.fieldUrl</a></p>
						}
					</div>
				</div>	
				}	     			     	
		     	
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="col-sm-6 control-label">Open UKWA license requests <small class="text-center">(This shows the current status of any requests to site owners for Open UKWA licences. If this has not yet been initiated, you can begin the process using the 'Open License Request' button)</small></label>
						    <div class="col-sm-6">
		 						<input readonly type="text" name="licensingStatus" value="@target.qaIssue.url" size="60" maxlength="2048" class="form-control" />
							</div>
						</div>
					</div>
		     	</div>
		</div>
	</div>

	<hr>
	
    <div id="archivistArea" class="revision">
   		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-6 control-label">Archivist Notes</label>
				    <div class="col-sm-6">
		            	<textarea class="form-control" name="archivist_notes" id="input_archivist_notes" readonly>@target.archivistNotes</textarea>
					</div>
				</div>
			</div>
     	</div>	
	</div>

    <div id="revisionArea" class="revision">
   		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
	              	<label for="inputBody" class="col-sm-6 control-label">Revision log message</label>
				    <div class="col-sm-6">
              				<textarea class="form-control" name="revision" id="inputRevision" readonly>@target.revision</textarea>
					</div>
				</div>
			</div>
     	</div>
	</div>
	
	<div class="padding-20">
		<div class="panel-group" id="accordion">
			<div class="panel panel-primary" id="panels">
				<div class="panel-heading">
			    	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseInstances" style="color:#fff;">
			        	Instances
					</a>
				</div>
				<div id="collapseInstances" class="panel-collapse collapse">
					<div class="panel-footer">
						<a class="brand" target="_blank" href="http://opera.bl.uk:8080/wayback/*/@target.fieldUrl">In QA Wayback</a>
					</div>
				    <div class="panel-footer">
			        	<a class="brand" target="_blank" href="http://www.webarchive.org.uk/wayback/archive/*/@target.fieldUrl">In Open UK Web Archive</a>
					</div>
					<div class="panel-footer">
						<a class="brand" target="_blank" href="http://www.webarchive.org.uk/mementos/search/@target.fieldUrl">In other web archives</a>
					</div>
				    <div class="panel-footer">
			        	<a class="brand" target="_blank" href="@target.fieldUrl">Live site</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="padding-20">
		<div class="panel-group" id="accordion">
			<div class="panel panel-primary" id="panels">
				<div class="panel-heading">
	  				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseRevisions" style="color:#fff;">
	      				Target revisions
	      			</a>
	      		</div>
				<div id="collapseRevisions" class="panel-collapse collapse">
	       			@for(prevTarget <- Target.findRevisions(target.url)) {
	       			<div class="panel-footer">
	       				<a class="brand" href="@routes.TargetController.viewrevision(prevTarget.id)">
	         				(@prevTarget.id) &nbsp; @prevTarget.revision &nbsp; @prevTarget.updatedAt</a>
	       			</div>
	       			}
	     		</div>
	    	</div>
		</div>
	</div>    
   		
}
