@(user: User, ukRegistrantCount: Integer, nonUKRegistrantCount: Integer, failedCount: Integer)

   @warningmessage(flash)
   @helper.form(action=routes.CheckWhoIs.check(), 'id -> "check-form") {
      	<div class="page-header">
    	<h1><a href="@routes.Passwords.edit()">Users & Agencies > Check WhoIs </a></h1>
	</div>
   
	<input type="hidden" name="url" value="@user.url">
	<input type="hidden" name="id" value="@user.id">

	<div class="row padding-10">
   		<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
				<label for="password" class="col-sm-6 control-label">Tested and passed</label>
			    <div class="col-sm-6">
					<input class="form-control" value="@ukRegistrantCount" disabled>
				</div>
			</div>
		</div>
   	</div>
	
	<div class="row padding-10">
   		<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
				<label for="password" class="col-sm-6 control-label">Tested and failed</label>
			    <div class="col-sm-6">
					<input class="form-control" value="@nonUKRegistrantCount" disabled>
				</div>
			</div>
		</div>
   	</div>
	
	<div class="row padding-10">
   		<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
				<label for="password" class="col-sm-6 control-label">Not Checked</label>
			    <div class="col-sm-6">
					<input class="form-control" value="@failedCount" disabled>
				</div>
			</div>
		</div>
   	</div>

	<div class="alert alert-info">
		In order to refresh the 'WhoIs' criteria for targets please use the 'Check' button. This will trigger a new check. 
	</div>

	<div class="row padding-10">
   		<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="form-group">
				<label for="total" class="col-sm-6 control-label">Number of targets to check <small class="text-center">(The number of targets for which the elapsed time since the last check is greatest)</small></label>
			    <div class="col-sm-6">
					<input class="form-control" name="total" id="total" value="50">
				</div>
			</div>
		</div>
   	</div>
	
	<div class="row padding-10 pull-right">
   		<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="btn-group">
				<button type="submit" class="btn btn-primary" name="check" id="checkButton">Check</button>
	       </div>
		</div>
	</div>
	<div id="modalLoader" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-vertical-centered-progress">
	    	<div class="modal-content">
				<div class="modal-body">
				    <div class="progress progress-striped active">
				        <div class="progress-bar" style="width: 100%;">
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
}

