@(user: User, whoIsData: uk.bl.scope.WhoIsData)

@styles = {
	<style>
		.modal-vertical-centered {
			transform: translate(0, 50%) !important;
		  	-ms-transform: translate(0, 50%) !important; /* IE 9 */
		  	-webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
		}
	
	.modal-vertical-centered-progress {
		transform: translate(0, 300%) !important;
	  	-ms-transform: translate(0, 300%) !important; /* IE 9 */
	  	-webkit-transform: translate(0, 300%) !important; /* Safari and Chrome */
	}
	</style>

}

@scripts = {
	<script type="text/javascript">
		$(document).ready(function() {
			
			$('#checkButton').on('click', function() {
				modalLoader();
				$('#check-form').submit();

			});
			
			function modalLoader() {
				$('#modalLoader').modal({
				    backdrop: true,
				    keyboard: true
				});
			}
		});
	</script>
}

@main("", user, scripts, styles) {
    
	@form(user, whoIsData.getUkRegistrantCount, whoIsData.getNonUKRegistrantCount, whoIsData.getFailedCount)
	
}


