@(organisation: Organisation, user: User)

@main("", user) {
    
   	<div class="page-header">
	    <h1><a href="@routes.OrganisationController.index()">Users & Agencies > Organisations > </a>Organisation @organisation.title</h1>
	</div>
	
	<ul class="nav nav-tabs">
		<li><a href="@routes.OrganisationController.view(organisation.id)">View</a></li>
		<li><a href="@routes.OrganisationController.sites(organisation.id)">Sites</a></li> 
		@if(user.hasRole("sys_admin")) {
			<li><a href="@routes.OrganisationController.edit(organisation.id)">Edit</a></li>
			<li class="active"><a href="@routes.OrganisationController.admin(organisation.id)">User administration</a></li>
		}
	</ul>

	@helper.form(action=routes.OrganisationController.saveAdmin) {
		<input type="hidden" name="url" value="@organisation.url">

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
				    <div class="col-sm-6">
		                <label class="col-sm-6 control-label" style="color:green">ASSIGNED USERS</label><br><br>
						<div>
				        	@for(user <- User.findByOrganisation(organisation.url)) {
				                <input type="checkbox" name="@user.name" value="true" checked/> @user.name<br>
				            }
						</div>
					</div>
				</div>
			</div>
     	</div>
     	
     	<div class="padding-20">
			<div class="alert alert-info">
				The users that are assigned to this organisation. Deselect user to remove this assignement and push "Save" button
			</div>
		</div>
		
		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
				    <div class="col-sm-6">
		                <label class="col-sm-6 control-label" style="color:red">AVAILABLE USERS</label><br><br>
						<div class="alert alert-info">
							To assign users to this organisation, select the checkboxes below.			  
						</div>
						<div>
           			        @for(user <- User.findByNotEqualOrganisation(organisation.url)) {
				                <input type="checkbox" name="@user.name" value="true"/> @user.name<br>
				            }
						</div>
					</div>
				</div>
			</div>
     	</div>		

		<div class="row padding-10 pull-right">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="btn-group">
					<button type="submit" class="btn btn-primary" name="save" id="edit-save">Save</button>
		       </div>
			</div>
		</div>		
	}
}
	            


