@(organisation: Organisation, user: User)

@main("", user) {
    
   	<div class="page-header">
	    <h1><a href="@routes.Organisations.index()">Organisations > </a>Organisation @organisation.title</h1>
	</div>
	
	<ul class="nav nav-tabs">
	   @if(Organisation.findById(organisation.nid) != null) {
	   <li><a href="@routes.Organisations.view(organisation.url)">View</a></li>
	   <li><a href="@routes.Organisations.sites(organisation.url)">Sites</a></li> 
	   }
	   @if(user.hasRole("sys_admin")) {
		   <li class="active"><a href="@routes.Organisations.edit(organisation.url)">Edit</a></li>
		   <li><a href="@routes.Organisations.admin(organisation.url)">User administration</a></li>
	   }
	</ul>
    

	@helper.form(action=routes.Organisations.save) {
		<input type="hidden" name="url" value="@organisation.url">
		<input type="hidden" name="nid" value="@organisation.nid">

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputName" class="col-sm-6 control-label">Title <font color="red">*</font></label>
				    <div class="col-sm-6">
	              		<input class="form-control" name="title" id="inputTitle" value="@organisation.title" type="text">
					</div>
				</div>
			</div>
     	</div>

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputAbbreviation" class="col-sm-6 control-label">Abbreviation (<small>An abbreviation for this organisation (no more that 8 characters). e.g. 'BL', 'NLS', 'NLW' etc)</small><font color="red">*</font></label>
				    <div class="col-sm-6">
	              		<input class="form-control" name="field_abbreviation" id="inputAbbreviation" placeholder="BL" type="text" value="@organisation.field_abbreviation">
					</div>
				</div>
			</div>
     	</div>

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputAbbreviation" class="col-sm-6 control-label">Description</label>
				    <div class="col-sm-6">
	               		<textarea class="form-control" name="summary" id="inputDescription" value="@organisation.summary" cols="100" rows="1">@organisation.summary</textarea>
					</div>
				</div>
			</div>
     	</div>

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
     			<div class="form-group">
					<label for="inputRevision" class="col-sm-6 control-label">Revision log message</label>
				    <div class="col-sm-6">
						<textarea class="form-control text-full form-textarea" name="revision" id="inputRevision" cols="100" rows="1">@organisation.revision</textarea>
					</div>
				</div>
			</div>
		</div>

		<div class="padding-20">
			<div class="alert alert-info">
				Provide an explanation of the changes you are making. This will help other authors understand your motivations.
			</div>
		</div>
	
		<div class="row padding-10 pull-right">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="btn-group">
					<button type="submit" class="btn btn-primary" name="save">Save</button>
					<button type="submit" class="btn btn-primary" name="delete">Delete</button>
		       </div>
			</div>
		</div>
	}
}

