@(form: Form[Organisation], user: User)

@main("", user) {
    
   	<div class="page-header">
	    <h1><a href="@routes.OrganisationController.index()">Users & Agencies > Organisations > </a>Organisation @form("title").value</h1>
	</div>
	
	<ul class="nav nav-tabs">
	   @if(Organisation.findById(Long.valueOf(form("nid").value)) != null) {
	   <li><a href="@routes.OrganisationController.view(form.get.id)">View</a></li>
	   <li><a href="@routes.OrganisationController.sites(form.get.url)">Sites</a></li> 
	   }
	   @if(user.hasRole("sys_admin")) {
		   <li class="active"><a href="@routes.OrganisationController.edit(form("url").value)">Edit</a></li>
		   @if(Organisation.findById(Long.valueOf(form("nid").value)) != null) {
		   <li><a href="@routes.OrganisationController.admin(form("url").value)">User administration</a></li>
		   }
	   }
	</ul>
    
	@warningmessage(flash)
	@helper.form(action=routes.OrganisationController.save) {
		<input type="hidden" name="url" value="@form("url").value">
		<input type="hidden" name="nid" value="@form("nid").value">

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputName" class="col-sm-6 control-label">Title <font color="red">*</font></label>
				    <div class="col-sm-6">
	              		<input class="form-control" name="title" id="inputTitle" value="@form("title").value" type="text">
					</div>
				</div>
			</div>
     	</div>

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputAbbreviation" class="col-sm-6 control-label">Abbreviation (<small>An abbreviation for this organisation (no more that 8 characters). e.g. 'BL', 'NLS', 'NLW' etc)</small> <font color="red">*</font></label>
				    <div class="col-sm-6">
	              		<input class="form-control" name="field_abbreviation" id="inputAbbreviation" placeholder="BL" type="text" value="@form("field_abbreviation").value">
					</div>
				</div>
			</div>
     	</div>

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputAbbreviation" class="col-sm-6 control-label">Description</label>
				    <div class="col-sm-6">
	               		<textarea class="form-control" name="summary" id="inputDescription" value="@form("summary").value" cols="100" rows="1">@form("summary").value</textarea>
					</div>
				</div>
			</div>
     	</div>

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
     			<div class="form-group">
					<label for="inputRevision" class="col-sm-6 control-label">Revision log message</label>
				    <div class="col-sm-6">
						<textarea class="form-control text-full form-textarea" name="revision" id="inputRevision" cols="100" rows="1">@form("revision").value</textarea>
					</div>
				</div>
			</div>
		</div>

		<div class="padding-20">
			<div class="alert alert-info">
				Provide an explanation of the changes you are making. This will help other authors understand your motivations.
			</div>
		</div>
	
		<div class="row padding-10 pull-right">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="btn-group">
					<button type="submit" class="btn btn-primary" name="save">Save</button>
				    @if(Organisation.findById(Long.valueOf(form("nid").value)) != null) {
					<button type="submit" class="btn btn-primary" name="delete" onclick="return confirm('Are you sure?');">Delete</button>
					}
		       </div>
			</div>
		</div>
	}
}

