@(organisation: Organisation, user: User)

@main("", user) {
    
   	<div class="page-header">
    	<h1><a href="@routes.Organisations.index()">Organisations > </a>Organisation @organisation.title Targets</h1>
    </div>
    
	<ul class="nav nav-tabs">
	   <li><a href="@routes.Organisations.view(organisation.url)">View</a></li>
	   <li class="active"><a href="@routes.Organisations.sites(organisation.url)">Sites</a></li> 
	   @if(user.hasRole("sys_admin")) {
	   <li><a href="@routes.Organisations.edit(organisation.url)">Edit</a></li>
	   <li><a href="@routes.Organisations.admin(organisation.url)">User administration</a></li>
	   }
	</ul>
    
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Title</th>
				<th>Categories</th>
				<th>Subject</th>
				<th>By</th>
				<th>Crawled Instances</th>
				<th>Crawled URLs</th>
			</tr>
		</thead>
		<tbody>
        	@Target.findAllforOrganisation(organisation.url).map { target =>		              
				<tr>
					<td><a class="brand" href="@routes.Targets.view(target.url)">@target.title</a><br><a class="brand" href="@target.get_field_list_as_str("field_url")">@target.get_field_list_as_str("field_url")</a></td>
	   				@if(target.field_collection_categories != null && Taxonomy.findListByUrl(target.field_collection_categories) != null) { 
		  				<td>
						  	@for(taxonomy <- Taxonomy.findListByUrl(target.field_collection_categories)) {
						  	    @if(taxonomy.url != null) {
									<a href="@routes.TaxonomiesController.edit(taxonomy.url)">@taxonomy.name</a>,&nbsp;
								}
							}
		  				</td>
	   				} else {
						<td></td>
	   				}	                  
					<td>@Taxonomy.findByUrl(target.field_subject).name</td>
	   				@if(target.field_nominating_organisation != null) { 
	    				<td><a href="@routes.Curators.edit(target.author)">@User.findByUrl(target.author).name</a></td>
					} else {
	    				<td></td>
					}	
	                <td></td>
	                <td></td>
				</tr>
            }
		</tbody>
	</table>

}

