@(organisation: Organisation, user: User)

@main("", user) {

	<div class="page-header">
	    <h1><a href="@routes.OrganisationController.index()">Users & Agencies > Organisations > </a>Organisation @organisation.title</h1>
	</div>

	<ul class="nav nav-tabs">
	   <li class="active"><a href="@routes.OrganisationController.view(organisation.id)">View</a></li>
	   <li><a href="@routes.OrganisationController.sites(organisation.url)">Sites</a></li> 
	   @if(user.hasRole("sys_admin")) {
	   <li><a href="@routes.OrganisationController.edit(organisation.id)">Edit</a></li>
	   <li><a href="@routes.OrganisationController.admin(organisation.url)">User administration</a></li>
	   }
	</ul>
    
	<div class="padding-20">
		<div class="tab-pane active" id="home">
			<dl class="dl-horizontal text-overflow">
				<dt>Title: <font color="red">*</font></dt>
				<dd>@organisation.title</dd>
				<dt>Abbreviation: <font color="red">*</font></dt>
				<dd>@organisation.field_abbreviation</dd>
				<dt></dt>
				<dd><small>(An abbreviation for this organisation (no more that 8 characters). e.g. 'BL', 'NLS', 'NLW' etc)</small></dd>
				<dt>Description:</dt>
				<dd>@organisation.summary</dd>
			</dl>
		</div>
	</div>		

	<div id="revisionArea" class="revision padding-20">
		<dl class="dl-horizontal">
			<dt>Revision log message:</dt>
			<dd>@organisation.revision</dd>
		</dl>
	</div>
	
}
                   
	            


