h1 {
	margin-top: 5px;
}

header {
	background-color: #00FFFF;
}

.content-container {
	margin-top: 0px;
	margin-top: 70px;
}

.nav nav-tabs {
	margin-left: 100px;
	position: absolute;
}

#menu {
	margin-left: 160px;
}

#usermenu {
	position: absolute;
	margin-left: 0px;
	top: 40px;
	background-color: #00FF00;
}

.web-sites-table {
	position: absolute;
	min-width: 800px;
}

#main>.about {
	position: absolute;
	top: 40px;
}

#main>.organisations {
	position: absolute;
	top: 40px;
}

#main>.collections {
	position: absolute;
	top: 40px;
}

#main>.duplicateurls {
	position: absolute;
	top: 40px;
}

#main>.keysites {
	position: absolute;
	top: 40px;
}

#main>.filter-form {
	margin-left: 100px;
	position: absolute;
	top: 10px;
}

/* navigation tree */
.well {
	max-width: 180px;
	background: none repeat scroll 0 0 #E1E7EC;
}

.subnav {
	line-height: 90%;
	font-size: 12px;
}

.col-lg-2 {
	line-height: 80%;
	width: 300px;
}

.col-lg-6 {
	width: 60%;
	margin-top: -10px;
}

.nav .nav-list {
	max-width: 180px;
}

.body>.header>span {
	left: 20;
}

div.panel-footer {
	padding: 4px 15px;
}

button.btn.btn-success {
	margin-left: 8px;
	padding: 4px 15px;
	margin-top: -8px;
}

div#panels.panel.panel-primary.filter {
	height: 130px;
}

html body div.container article.collections div.row div.form-group div.col-sm-12 div#tree3 ul.dynatree-container
{
	font-family: tahoma, arial, helvetica;
	font-size: 10pt; /* font size should not be too big */
	white-space: nowrap;
	padding: 3px;
	margin: 0; /* issue 201 */
	background-color: white;
	border: 1px dotted gray;
	overflow: auto;
	height: 320px; /* 20% would be ignored by IE9 */
}

html body div.container article.targets form div#forms div#filter-column div#accordion div#filter-panel.panel-collapse.collapse.in div.panel-body div.col-md-12 div.form-group div.col-sm-6 div#subjectTree ul.dynatree-container
{
	font-family: tahoma, arial, helvetica;
	font-size: 10pt; /* font size should not be too big */
	white-space: nowrap;
	padding: 3px;
	margin-bottom: 5; /* issue 201 */
	background-color: white;
	border: 1px dotted gray;
	overflow: auto;
	height: 120px; /* 20% would be ignored by IE9 */
	width: 200px;
}

html body div.container article.targets form div#forms div#filter-column div#accordion div#filter-panel.panel-collapse.collapse.in div.panel-body div.col-md-12 div.form-group div.col-sm-6 div#tree3 ul.dynatree-container
{
	font-family: tahoma, arial, helvetica;
	font-size: 10pt; /* font size should not be too big */
	white-space: nowrap;
	padding: 3px;
	margin-bottom: 5; /* issue 201 */
	background-color: white;
	border: 1px dotted gray;
	overflow: auto;
	height: 120px; /* 20% would be ignored by IE9 */
	width: 200px;
}

a.page {
	padding: 1px;
	font-size: 10px;
	color: green;
	background-color: green;
	border-color: green;
	background: green;
}

#a.page:link {
	color: #00f;
}

#a.page:hover {
	color: #0f0;
}

#a.page:active {
	color: #f00;
}

#a.page:visited {
	color: #f0f;
}

#main>.userdetails {
	bottom: 0;
	left: 0;
	overflow: auto;
	padding: 20px;
	position: absolute;
	right: 0;
	top: 90px;
}

table#websitestable.tablesorter.table.table-striped.table-bordered.table-condensed.zebra-striped
	{
	margin-left: -50px;
}

table#alphabeticaltable.tablesorter.table.table-striped.table-bordered.table-condensed.zebra-striped
	{
	margin-left: -50px;
}

table#urlsearchtable.tablesorter.table.table-striped.table-bordered.table-condensed.zebra-striped
	{
	margin-left: -50px;
}

table#taxonomiestable.tablesorter.table.table-striped.table-bordered.table-condensed.zebra-striped
	{
	margin-left: -50px;
}

table#keysitestable.tablesorter.table.table-striped.table-bordered.table-condensed.zebra-striped
	{
	margin-left: -50px;
}

table#duplicateurltable.tablesorter.table.table-striped.table-bordered.table-condensed.zebra-striped
	{
	margin-left: -50px;
}

table#lookuptable.table.table-striped.table-bordered.table-hover.table-condensed
	{
	margin-left: -55px;
}

table#curatorstable.table.table-striped.table-bordered.table-hover.table-condensed
	{
	margin-left: -55px;
	max-width: 800px;
	width: 800px;
}

table#organisationstable.table.table-striped.table-bordered.table-hover.table-condensed
	{
	margin-left: -55px;
}

table#collectionstable.table.table-striped.table-bordered.table-hover.table-condensed
	{
	margin-left: -55px;
}

table#rolestable.table.table-striped.table-bordered.table-hover.table-condensed
	{
	margin-left: -55px;
}

table#permissionstable.table.table-striped.table-bordered.table-hover.table-condensed
	{
	margin-left: -55px;
}

div#usersearchpanel.panel.panel-primary {
	margin-left: -15px;
	max-width: 500px;
}

div#organisationsearchpanel.panel.panel-primary {
	margin-left: -15px;
	max-width: 500px;
}

div#collectionsearchpanel.panel.panel-primary {
	margin-left: -15px;
	max-width: 500px;
}

div#rolesearchpanel.panel.panel-primary {
	margin-left: -15px;
	max-width: 500px;
}

div#permissionsearchpanel.panel.panel-primary {
	margin-left: -15px;
	max-width: 500px;
}

p.urlsearchp {
	margin-left: 10px;
}

p.taxonomiesp {
	margin-left: 10px;
}

button.btn.btn-success.loginbtn {
	margin-left: 0px;
	margin-top: 0px;
	padding: 4px 15px;
}

div.panel-footer {
	padding: 4px 15px;
}

div.col-xs-12.col-sm-9.project-description {
	margin-left: 500;
	position: absolute;
	margin-top: 150px;
}

table.table.table-striped.table-bordered.table-hover.table-condensed {
	font-size: 10px;
}

#outer {
	position: relative;
	width: 1180px;
	margin: 40px auto 0 auto;
	margin: 0px auto 0 auto;
}

#header {
	position: relative;
	padding: 35px;
	padding: 15px;
	height: 130px;
}

#main {
	position: relative;
	padding: 0px;
	width: 580px;
	width: 1180px;
	color: #262626;
}

#sidebar1 {
	width: 215px;
	float: left;
	padding: 35px;
	background: #b09792 url('images/bg3.jpg');
	color: #ede9e8;
	border: solid 1px #C1B0AC;
	text-shadow: 0px 1px 1px #705752;
}

#content {
	width: 480px;
	width: 1100px;
	float: right;
	padding: 35px;
	background: #fff;
}

#aboutinfo {
	width: 480px;
	float: right;
	padding: 35px;
	background: #fff;
}

.navbanner {
	position: static !important;
}

#search-collections {
	display: block;
	margin: 0 auto;
}

.white-text {
    color: #fff !important;
}

.padding-20 {
	padding: 20px;
}

.padding-10 {
	padding: 10px;
}

#pagination {
    position: relative;
}

#pagination ul {
    position: absolute;
    right: 0;
}

#pagination ul .current a {
    color: #666;
}

.target-form-control {
	margin-bottom:8px;
}

.front-page {
    font-family: 'Arial', cursive;
    font-size: 24px;
}

.front-page-link {
    font-size: 18px;
    font-family: 'Arial', cursive;
}

@font-face {
	font-family: "Righteous"; 
    src: url("Righteous-Regular.ttf"); 
}

.contactperson {
	background-color: #EEE;
	padding: 10px 0;
	border-radius: 4px;  
	margin-top: 5px;
}

#filter-column {
    /*margin-right: 10px;*/
}

#data-column {
}

form div.clearfix.error{background:#fae5e3;padding:10px 0;margin:-10px 0 10px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}form div.clearfix.error>label,form div.clearfix.error span.help-inline,form div.clearfix.error span.help-block{color:#9d261d;}
form div.clearfix.error input,form div.clearfix.error textarea{border-color:#c87872;-webkit-box-shadow:0 0 3px rgba(171, 41, 32, 0.25);-moz-box-shadow:0 0 3px rgba(171, 41, 32, 0.25);box-shadow:0 0 3px rgba(171, 41, 32, 0.25);}form div.clearfix.error input:focus,form div.clearfix.error textarea:focus{border-color:#b9554d;-webkit-box-shadow:0 0 6px rgba(171, 41, 32, 0.5);-moz-box-shadow:0 0 6px rgba(171, 41, 32, 0.5);box-shadow:0 0 6px rgba(171, 41, 32, 0.5);}
form div.clearfix.error .input-prepend span.add-on,form div.clearfix.error .input-append span.add-on{background:#f4c8c5;border-color:#c87872;color:#b9554d;}

.modal-vertical-centered {
	transform: translate(0, 50%) !important;
  	-ms-transform: translate(0, 50%) !important; /* IE 9 */
  	-webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
}

.modal-vertical-centered-progress {
	transform: translate(0, 300%) !important;
  	-ms-transform: translate(0, 300%) !important; /* IE 9 */
  	-webkit-transform: translate(0, 300%) !important; /* Safari and Chrome */
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }