dl {
    margin-left: 200px;
    position: absolute;
    right: 0;
    top: 0;
}

h1 {
  margin-top:5px;
}

header {
    background-color: #00FFFF;
}

.content-container {
  margin-top:70px;
}

.nav nav-tabs {
    margin-left: 100px;
    position: absolute;
}

#menu {
    margin-left: 160px;
}

#usermenu {
    position:absolute;
    margin-left: 0px;
    top:40px;
    background-color: #00FF00;
}

.web-sites-table {
    position: absolute;
    min-width: 800px;
}

#main > .about {
    position: absolute;
    top: 40px;
}

#main > .organisations {
    position: absolute;
    top: 40px;
}

#main > .collections { 
    position: absolute;
    top: 40px;
}

#main > .duplicateurls {
    position: absolute;
    top: 40px;
}

#main > .keysites {
    position: absolute;
    top: 40px;
}

#main > .filter-form {
    margin-left: 100px;
    position: absolute;
    top: 10px;
}

/* navigation tree */
.well {
	max-width:180px;
	background: none repeat scroll 0 0 #E1E7EC;
}

.subnav {
    line-height: 90%;
    font-size: 12;
}

.col-lg-2 {
    line-height: 80%;
}

.col-lg-6 {
    width: 60%;
}

.nav .nav-list {
	max-width:180px;
}

.body > .header > span {
    left: 20;
}

#main > .userdetails {
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 90px;
}}