@(form: Form[User], admin: User)

@if(admin.hasRole("sys_admin") || admin.hasRole("archivist")) {

@main("", admin){
    
   	<div class="page-header">
	    <h1><a href="@routes.Curators.index()">Curators > </a>User @form("name").value</h1>
	</div>
	<ul class="nav nav-tabs">
	   @if(User.findById(Long.valueOf(form("uid").value)) != null) {
	   <li><a href="@routes.Curators.view(form("url").value)">View</a></li>
	   <li><a href="@routes.Curators.sites(form("url").value)">Targets</a></li> 
	   }
	   @if(admin.hasRole("sys_admin") || admin.hasRole("archivist")) {
		   <li class="active"><a href="@routes.Curators.edit(form("url").value)">Edit</a></li>
	   }
	</ul>
    
	    @warningmessage(flash)
	    @helper.form(action=routes.Curators.save) {
		<input type="hidden" name="url" value="@form("url").value">
		<input type="hidden" name="uid" value="@form("uid").value">

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputName" class="col-sm-6 control-label">Name<font color="red">*</font></label>
				    <div class="col-sm-6">
			              <input class="form-control" name="name" id="name" size="60" placeholder="My name" type="text" value="@form("name").value">
					</div>
				</div>
			</div>
     	</div>
     	
		<!-- div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputName" class="col-sm-6 control-label">ID</label>
				    <div class="col-sm-6">
				          <input class="form-control" name="uid" value="@form("uid").value" size="30" readonly>
					</div>
				</div>
			</div>
     	</div-->

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="email" class="col-sm-6 control-label">E-mail <font color="red">*</font></label>
				    <div class="col-sm-6">
						<input class="form-control" name="email" id="email" placeholder="sample@@domain.uk" type="text" value="@form("email").value">
					</div>
				</div>
			</div>
     	</div>

	    @if(User.findById(Long.valueOf(form("uid").value)) != null) {
		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="password" class="col-sm-6 control-label">Old Password</label>
				    <div class="col-sm-6">
						<input class="form-control" name="oldpassword" id="oldpassword" type="text">
					</div>
				</div>
			</div>
     	</div>
		}
		
		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="password" class="col-sm-6 control-label">New Password</label>
				    <div class="col-sm-6">
						<input class="form-control" name="password" id="password" type="text">
					</div>
				</div>
			</div>
     	</div>
		
   		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-6 control-label">Roles</label>
				    <div class="col-sm-6">
				        @for(role <- Role.findAll()) {
				            @if(Role.isAllowed(role, admin)) {
							<label class="checkbox-inline">
					            @if(Role.isIncludedByUrl(role.name, form("url").value)) {
				                	<input type="checkbox" name="@role.name" value="true" checked />
				                } else {
				                	<input type="checkbox" name="@role.name" value="true" />
				                }
				                 @role.name
			                </label>
			                }
			            }
					</div>
				</div>
			</div>
     	</div>	     		

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="nom-org" class="col-sm-6 control-label">Organisation</label>
				    <div class="col-sm-6">
						<select name="organisation" id="nom-org" class="form-control">
			            <option>None</option>
							@for(organisation <- Organisation.findAll()) {
								@if(organisation.title.equals(Organisation.findByUrl(form("field_affiliation").value).title)) {
             						<option selected>@organisation.title</option>
         						} else {
                					<option>@organisation.title</option>
								}					            
			            	}
						</select>
					</div>
				</div>
			</div>
     	</div>
     	
        <div id="revisionArea" class="revision">
    		<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
		              	<label for="inputBody" class="col-sm-6 control-label">Revision log message <small class="text-center">(Provide an explanation of the changes you are making. This will help other authors understand your motivations)</small></label>
					    <div class="col-sm-6">
               				<textarea class="form-control" name="revision" id="inputRevision">@form("revision").value</textarea>
						</div>
					</div>
				</div>
	     	</div>
		</div>

		<div class="alert alert-info">
			Provide an explanation of the changes you are making. This will help other authors understand your motivations. 
		</div>

	    @if(admin.hasRole("sys_admin") || admin.hasRole("archivist") || form("url").value.equals(admin.url)) {
		<div class="row padding-10 pull-right">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="btn-group">
					<button type="submit" class="btn btn-primary" name="save">Save</button>
				    @if(User.findById(Long.valueOf(form("uid").value)) != null) {
					<button type="submit" class="btn btn-primary" name="delete" onclick="return confirm('Are you sure?');">Delete</button>
					}
		       </div>
			</div>
		</div>
		}
	}
}
} else {
	@infomessage.render("Access Denied for URL @routes.Curators.index()/edit")
}
