@(userForm: Form[User], admin: User, id: Long, roles: List[Role], organisations: Map[String,String], curatorRoles: List[Role], currentEmail: String)

@import helper._
@import bootstrap._

@if(admin.hasRole("sys_admin") || admin.hasRole("archivist")) {

	@main("", admin){
	    
	   	<div class="page-header">
		    <h1><a href="@routes.UserController.index()">Users & Agencies > Curators > </a>User @userForm("name").value</h1>
		</div>
		<ul class="nav nav-tabs">
		   <li><a href="@routes.UserController.view(id)">View</a></li>
		   <li><a href="@routes.UserController.sites(id)">Targets</a></li> 
		   @if(admin.hasRole("sys_admin") || admin.hasRole("archivist")) {
			   <li class="active"><a href="@routes.UserController.edit(id)">Edit</a></li>
		   }
		</ul>
	    
	    @warningmessage(flash)
	    
	    @if(userForm.hasErrors) {
			<div class="padding-20">
				<div class="alert alert-warning alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					@for(entry <- userForm.errors.entrySet){
						@for(error <- entry.getValue){
							@error.message<br />
						}
					}
				</div>
			</div>
		}
		    
	    @helper.form(action=routes.UserController.update(id)) {
	    
			<input type="hidden" name="url" value="@userForm("url").value">
			<input type="hidden" name="id" value="@id">
			<input type="hidden" name="currentEmail" value="@currentEmail">
	
			<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						@inputText(userForm("name"),
							'_label -> "Name",
						    'id -> "name",
						    'class -> "form-control",
						    'placeholder -> "My name"
						)(FieldConstructor(genericMandatoryInput.f), lang)
					</div>
				</div>
	     	</div>
	     	
			<!-- div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						<label for="inputName" class="col-sm-6 control-label">ID</label>
					    <div class="col-sm-6">
					          <input class="form-control" name="id" value="@userForm("id").value" size="30" readonly>
						</div>
					</div>
				</div>
	     	</div-->
	
			<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						@inputText(userForm("email"),
							'_label -> "E-mail",
						    'id -> "email",
						    'type -> "email",
						    'class -> "form-control",
						    'placeholder -> "sample@@domain.uk"
						)(FieldConstructor(genericMandatoryInput.f), lang)				
					</div>
				</div>
	     	</div>
	
			<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						@inputText(userForm("oldpassword"),
							'_label -> "Old Password",
						    'id -> "oldpassword",
						    'type -> "password",
						    'class -> "form-control"
						)(FieldConstructor(genericInput.f), lang)							
					</div>
				</div>
	     	</div>
			
			<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						@inputText(userForm("newpassword"),
							'_label -> "New Password",
						    'id -> "newPassword",
						    'type -> "password",
						    'class -> "form-control"
						)(FieldConstructor(genericInput.f), lang)
					</div>
				</div>
	     	</div>
			
	   		<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						<label class="col-sm-6 control-label">Roles</label>
						<div class="col-sm-6">
  							@for((role, index) <- roles.zipWithIndex) {
  							    <input type="radio" name="rolesList" value="@role.id" @if(curatorRoles.contains(role)) {checked} /> <label for="track">@role.name </label> 
				            }
						</div>
					</div>
				</div>
	     	</div>	     		
	
			<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						@select(
	      					userForm("organisation.id"), 
			                options(organisations),
			                args =
			                'class -> "form-control", 
			                '_label -> "Organisation",
			                '_showConstraints -> false
			            )(FieldConstructor(genericInput.f), lang)		
					</div>
				</div>
	     	</div>
	     	
	     	@if((admin.hasRole("sys_admin") || admin.hasRole("archivist") ) && ApplicationController.getDDHAPTStatus()) {
			@templates.checkbox(userForm("ddhaptUser"), true, '_label -> "show DDHAPT start page")(
				helper.FieldConstructor(templates.ratio6to6FieldConstructor.f)
			)
			}
	     	
	        <div id="revisionArea" class="revision">
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							@textarea(field = userForm("revision"),
				 				args = 'rows -> 1, 'cols -> 100,
								'_label -> "Revision log message (Provide an explanation of the changes you are making. This will help other authors understand your motivations)",
								'id -> "inputRevision",
								'class -> "form-control"
							)(FieldConstructor(genericInput.f), lang)				            
						</div>
					</div>
		     	</div>
			</div>
	
			<div class="alert alert-info">
				Provide an explanation of the changes you are making. This will help other authors understand your motivations. 
			</div>
	
		    @if(admin.hasRole("sys_admin") || admin.hasRole("archivist") || userForm("id").value.equals(admin.id)) {
				<div class="row padding-10 pull-right">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="btn-group">
							<button type="submit" class="btn btn-primary" name="action" value="save">Save</button>
							<button type="submit" class="btn btn-primary" name="action" value="delete" onclick="return confirm('Are you sure?');">Delete</button>
				       </div>
					</div>
				</div>
			}
		}
	}
} else {
	@infomessage.render("Access Denied for URL @routes.UserController.index()/edit")
}
