@(user: User, admin: User, searchurl: String, currentPage: com.avaje.ebean.Page[Target], currentSortBy: String, currentOrder: String, subjectUrl: String, collection: String)

@scripts = {
	<script src="@routes.Assets.at("bootstrap/typeahead/js/typeahead.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/search.js")" type="text/javascript"></script>
	<script>
		$(document).ready(function() {
			context = @play.api.Play.current.configuration.getString("application.context");
			searchContext = 'targets';
			urlTo = 'target';
			applySearch(context, searchContext, urlTo);
			scopeCheck(context);
		});
	</script>
}

@styles = {
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("bootstrap/typeahead/css/typeahead.css")">
}

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Targets.userTargets(newPage, sortBy, order, searchurl, user.url, subjectUrl, collection)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@pagination = {
		<div class="text-center">
			<ul class="pagination">
	        	@if(currentPage.hasPrev) {
	            	<li class="prev">
	                    <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
	                </li>
	            } else {
	                <li class="prev disabled">
	                    <a>&larr; Previous</a>
	                </li>
	            }
	            <li class="current">
	                <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
	            </li>
	            @if(currentPage.hasNext) {
	                <li class="next">
	                    <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
	                </li>
	            } else {
	                <li class="next disabled">
	                    <a>Next &rarr;</a>
	                </li>
				}
			</ul>
		</div>
}

@main("", admin, scripts, styles){
    
   	<div class="page-header">
    	<h1>User @user.name (@currentPage.getTotalRowCount targets)</h1>
	</div>

	<ul class="nav nav-tabs">
		<li><a href="@routes.Curators.view(user.url)">View</a></li>
		<li class="active"><a href="@routes.Curators.sites(user.url)">Targets</a></li> 
	    @if(admin.hasRole("sys_admin") || admin.hasRole("archivist") || user.url.equals(admin.url)) {
			<li><a href="@routes.Curators.edit(user.url)">Edit</a></li>
		}
	</ul>
    
	<div id="forms">
		@warningmessage(flash)
		@helper.form(action=routes.Targets.searchTargetsByUser, 'class -> "form-inline") {
   			<div class="input-group">
   				<input type="hidden" name="p" value="@currentPage.getPageIndex" />
  					<input type="hidden" name="s" value="@currentSortBy">
  					<input type="hidden" name="o" value="@currentOrder">
  					<input type="hidden" name="user_url" value="@user.url">
   					<input type="hidden" name="query_subject" value="@subjectUrl">
   					<input type="hidden" name="query_collection" value="@collection">  					
				<input type="text" class="form-control lookup-form-control" name="url" placeholder="http://www.bbc.co.uk" value="@searchurl" id="search-query">
	   			<span class="input-group-btn">
					@if(user.hasRole("sys_admin")) {
					<button type="submit" class="btn btn-primary" id="search" name="action" value="search" title="Search for url">Search</button>
					}
				</span>
			</div>
			
			<div class="alert alert-info">
				Search here for all or part of the name of the target, or its URL.
			</div>

			<div class="padding-20">
			    <a data-toggle="collapse" data-parent="#accordion" href="#filter-panel" class="btn btn-primary"><span id="toggle">&#9660; Filters &#9650;</span></a>
			</div>
					
			<div id="accordion">
				<div id="filter-panel" class="panel-collapse collapse in">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
					            	<label for="subject" class="col-sm-6 control-label">Filter by subject</label>
					            	<div class="col-sm-6">
										<select name="field_subject" class="form-control target-form-control" id="subject">
								        	<option>None</option>
								            @for(subject <- Taxonomy.findListByType("subject")) {
						                 			@if(subjectUrl != null && subjectUrl.equals(subject.url)) {
						                			<option selected>@subject.name</option>
						                		} else {
													<option>@subject.name</option>
							                		}
								                }
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
					            	<label for="suggested_collections" class="col-sm-6 control-label">Filter by collection</label>
					            	<div class="col-sm-6">
										<select name="field_suggested_collections" id="suggested_collections" class="form-control target-form-control">
							                <option>None</option>
							                @for(cur_collection <- DCollection.findAll()) {
								                @if(collection != null && collection.equals(cur_collection.url)) {
								                	<option selected>@cur_collection.title</option>
								                } else {
								                	<option>@cur_collection.title</option>
								                }
							                }
										</select>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
		}
	</div>
	
	@pagination
    
	<table class="table table-hover">
		<thead>
			<tr>
				@header("title", "Title")			
				<th>Collections</th>
				<th>Subject</th>
				<th>By</th>
				<th>Crawled Instances</th>
			</tr>
		</thead>
		<tbody>
			@for(target <- currentPage.getList) {
            <tr>
				<td><a class="brand" href="@routes.TargetEdit.view(target.url)">@target.title</a><br><a class="brand" href="@target.get_field_list_as_str("field_url")">@target.get_field_list_as_str("field_url")</a></td>
				<td>@Taxonomy.findByUrl(target.field_collection_categories).name</td>
				<td>@Taxonomy.findByUrl(target.field_subject).name</td>
				<td><a href="@routes.Curators.edit(target.author)">@User.findByUrl(target.author).name</a></td>
				<td><a class="brand" href="@routes.TargetEdit.view(target.url)">@Instance.findAllByTarget(target.url)</a></td>
            </tr>
            }
		</tbody>
	</table>
	
	@pagination

}

