@(user: User, admin: User, roles: List[Role], organisations: List[Organisation])

@scripts = {
	<script>
		$(document).ready(function() {
			$('#orgSelect').prop('disabled', true);
		});
	</script>
	
}

@main("", admin, scripts) {
    
	<div class="page-header">
    	<h1><a href="@routes.UserController.index()">Users & Agencies > Curators > </a>User @user.name (@user.targets.size() targets)</h1>
	</div>

	<ul class="nav nav-tabs">
		<li class="active"><a href="@routes.UserController.view(user.id)">View</a></li>
		<li><a href="@routes.UserController.sites(user.id)">Targets</a></li> 
		@if(admin.hasRole("sys_admin") || admin.hasRole("archivist")) {
			<li><a href="@routes.UserController.edit(user.id)">Edit</a></li>
		}
	</ul>
	
	<div class="padding-20">
		<div class="tab-pane active">
			<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						<label for="inputName" class="col-sm-6 control-label">Name<font color="red">*</font></label>
					    <div class="col-sm-6">
				              <input class="form-control" name="name" id="name" size="60" placeholder="My name" type="text" value="@user.name" readonly>
						</div>
					</div>
				</div>
	     	</div>
	     	
			<!-- div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						<label for="inputName" class="col-sm-6 control-label">ID</label>
					    <div class="col-sm-6">
					          <input class="form-control" name="id" value="@user.id" size="30" readonly>
						</div>
					</div>
				</div>
	     	</div-->
	
			<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						<label for="email" class="col-sm-6 control-label">E-mail <font color="red">*</font></label>
					    <div class="col-sm-6">
							<input class="form-control" name="email" id="email" placeholder="sample@@domain.uk" type="text" value="@user.email" readonly>
						</div>
					</div>
				</div>
	     	</div>
	
	   		<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						<label class="col-sm-6 control-label">Roles</label>
					    <div class="col-sm-6">
					        @for(role <- roles) {
  							    <input type="radio" name="rolesList" value="@role.id" @if(user.hasRole(role)) {checked} disabled/> <label for="track">@role.name </label> 
				            }
						</div>
					</div>
				</div>
	     	</div>	     		
	
			<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						<label for="nom-org" class="col-sm-6 control-label">Organisation</label>
					    <div class="col-sm-6">
							<select name="organisation" id="orgSelect" class="form-control">
				            	<option>None</option>
								@for(organisation <- organisations) {
									@if(user.organisation != null && user.organisation.equals(organisation)) {
	             						<option value="@organisation.id" selected disabled>@organisation.title</option>
	         						} else {
	                					<option value="@organisation.id" disabled>@organisation.title</option>
									}					            
				            	}
							</select>
						</div>
					</div>
				</div>
	     	</div>
	     	
	     	@if((admin.hasRole("sys_admin") || admin.hasRole("archivist") || admin.hasRole("expert_user")) && admin.isLDLMember() && ApplicationController.getDDHAPTStatus()) {
			<div class="row padding-10">
				<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						<label class="col-sm-6 control-label">show DDHAPT start page</label>
						<div class="col-sm-6">
							@if(user.ddhaptUser) {
								yes
							} else {
								no
							}
						</div>
					</div>
				</div>
			</div>
			}
	     	
	        <div id="revisionArea" class="revision">
	    		<div class="row padding-10">
		     		<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
			              	<label for="inputBody" class="col-sm-6 control-label">Revision log message <small class="text-center">(Provide an explanation of the changes you are making. This will help other authors understand your motivations)</small></label>
						    <div class="col-sm-6">
	               				<textarea class="form-control" name="revision" id="inputRevision" readonly>@user.revision</textarea>
							</div>
						</div>
					</div>
		     	</div>
			</div>
			
			<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						<label for="targetCount" class="col-sm-6 control-label">Count of targets</label>
					    <div class="col-sm-6">
							<input class="form-control" name="targetCount" id="targetCount" type="text" value="@user.targets.size()" readonly>
						</div>
					</div>
				</div>
	     	</div>
			
			<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
						<label for="membership" class="col-sm-6 control-label">Member for</label>
					    <div class="col-sm-6">
							<input class="form-control" name="membership" id="membership" type="text" value="@user.calculate_membership()" readonly>
						</div>
					</div>
				</div>
	     	</div>

		</div>
	</div>
}

