@(document1: Document, document2: Document, user: User)

@styles = {
	<style type="text/css">
		.container {
			width: 100%;
		}
		.col-sm-6 {
			padding-left: 5px;
			padding-right: 5px;
		}
		iframe {
			width: 100%;
			height: 100vh;
		}
	</style>
}

@main("", user, styles = styles) {
	<div class="col-sm-6">
		@if(document1 != null) {
			<h3>Document <a href="@routes.Documents.view(document1.id)">@document1.title</a></h3>
			<iframe id="document1" src="@routes.WSProxy.passthrough(document1.waybackUrl())"></iframe>
		} else {
			<h3>Document not Found</h3>
			The requested document is no longer available.
		}
	</div>
	<div class="col-sm-6">
		@if(document2 != null) {
			<h3>Document <a href="@routes.Documents.view(document2.id)">@document2.title</a></h3>
			<iframe id="document2" src="@routes.WSProxy.passthrough(document2.waybackUrl())"></iframe>
		} else {
			<h3>Document not Found</h3>
			The requested document is no longer available.
		}
	</div>
}
