@(title: String, form: Form[Document], user: User, journalTitles: java.util.Map[String, String], editable: Boolean)

@import helper.options
@import scala.List
@import templates.checkbox
@import templates.inputText
@import templates.select

@scripts = {
	<script src="@routes.Assets.at("javascripts/parse-date.js")" type="text/javascript"></script>
	<script type="text/javascript">
		function getSelectionText() {
			var text = "";
			var win=document.getElementById("document_view").contentWindow;
			//var win=window;
			if (win.getSelection) {
				var node = win.getSelection().anchorNode;
				var cssSelector = "";
				var idFound = false;
				while (node.parentNode && !idFound) {
					var node = node.parentNode;
					var localCssSelector = node.localName;
					if (node.id) {
						localCssSelector += "#" + node.id;
						idFound = true;
					}
					else if (node.className) {
						localCssSelector += "." + node.className.replace(/[ ]/g, '.');
					}
					if (cssSelector) {
						cssSelector = localCssSelector + " " + cssSelector;
					}
					else {
						cssSelector = localCssSelector;
					}
				}
				console.log("cssSelector: " + cssSelector);
				text = win.getSelection().toString();
				console.log("text: " + text);
			} else if (win.document.selection && win.document.selection.type != "Control") {
				text = win.document.selection.createRange().text;
				alert("case2: " + text);
			}
			return text;
		}

		function fillInput(id) {
			document.getElementById(id).value = getSelectionText().trim();
			$("#selection_menu").css({display: "none"});
		}

		function fillDate(id) {
			var rawDate = getSelectionText().trim();
			var formattedDate = parseDate(rawDate);
			if (formattedDate)
				document.getElementById(id).value = parseDate(rawDate);
			$("#selection_menu").css({display: "none"});
		}
		
		function openPopup(url) {
			var breite = screen.width;
			var hoehe = screen.height; 
			var xps = ((breite/2)-379);
			var yps = breite/2;
			window.open(url, "name",
					"width=" + yps + "," +
					"height=" + hoehe + "," +
					"left=" + yps + "," +
					"scrollbars=yes"
			);
		}
		
		function show(element) {
			element.css({display: "block"});
		}

		function hide(element) {
			element.css({display: "none"});
		}
		
		function toggleVisibility() {
			var select = document.getElementById("type");
			var type = select.selectedIndex;
			var book_general = $("#book_general, #book_general_buttons");
			var book = $("#book");
			var journal_general = $("#journal_general");
			var journal_article = $("#journal_article, #journal_article_buttons");
			hide(book_general);
			hide(book);
			hide(journal_general);
			hide(journal_article);
			switch(type) {
				case 1:
					show(book_general);
					show(book);
					break;
				case 2:
					show(book_general);
					break;
				case 3:
					show(journal_general);
					show(journal_article);
					break;
				case 4:
					show(journal_general);
					break;
			}
		}
		
		var previousSelection="";
		
		$(function() {
			toggleVisibility();
			@if(editable) {
				document.getElementById("document_view").contentWindow.onmouseup =
					function showOptions(event) {
						console.log(event);
						var selectionText = getSelectionText();
						if (selectionText && previousSelection != selectionText) {
							$("#selection_menu").css({display: "block"});
							$("#selection_menu").css({left: event.pageX - 50, top: event.pageY + 15});
						} else {
							$("#selection_menu").css({display: "none"});
						}
						previousSelection = selectionText;
					};
			}
		});
	</script>
}

@main(title, user, scripts) {
	
	<div class="page-header">
    	<h1><a href="@routes.Documents.list(1)">Documents</a> > @form("filename").value</h1>
	</div>
	
	<ul class="nav nav-tabs">
		@if(editable) {
			<li><a href="@routes.Documents.view(new Long(form("id").value))">View</a></li>
			<li class="active"><a href="#">Edit</a></li>
		} else {
			<li class="active"><a href="#">View</a></li>
			@if(form("submitted").value == "false") {
				<li><a href="@routes.Documents.edit(new Long(form("id").value))">Edit</a></li>
			}
		}
	</ul>
	
	@helper.form(if (editable) routes.Documents.save() else routes.Documents.submit(new Long(form("id").value))) {
		<div class="col-md-5">
			<input type="hidden" name="id" value="@form("id").value">
			<input type="hidden" name="landingPageUrl" value="@form("landingPageUrl").value">
			<input type="hidden" name="documentUrl" value="@form("documentUrl").value">
			<input type="hidden" name="filename" value="@form("filename").value">
			<input type="hidden" name="book.id" value="@form("book.id").value">
			<input type="hidden" name="book.id_document" value="@form("id").value">
			<input type="hidden" name="journal.id" value="@form("journal.id").value">
			<input type="hidden" name="journal.id_document" value="@form("id").value">

			@inputText(form("title"), editable, '_label -> "Title")
			@inputText(form("doi"), editable, '_label -> "DOI (Digital Object Identifier)")
			@inputText(form("publicationDate"), editable, '_label -> "Publication Date")
			@inputText(form("filename"), editable, '_label -> "Filename")
			@select(form("type"),
				options(List("","Book", "Book Chapter", "Journal Article", "Journal Issue")),
				editable,
				'_label -> "Submission Type", 'onchange -> "toggleVisibility()")
			<div id="book_general">
				@inputText(form("book.isbn"), editable, '_label -> "ISBN")
				@inputText(form("book.author"), editable, '_label -> "Author(s)")
				@inputText(form("book.corporateAuthor"), editable, '_label -> "Corporate Author")
				@checkbox(form("book.priorityCataloguing"), editable, '_label -> "Priority Cataloguing")
			</div>
			<div id="book">
				@inputText(form("book.series"), editable, '_label -> "Series")
				@inputText(form("book.publisher"), editable, '_label -> "Publisher")
				@inputText(form("book.edition"), editable, '_label -> "Edition")
				@inputText(form("book.publicationYear"), editable, '_label -> "Year of Publication")
			</div>
			<div id="journal_general">
				@select(form("journal.journalTitleId"), options(journalTitles), editable, '_label -> "Journal Title")
				@if(editable) {
					<input type="submit" name="journalTitle" class="btn btn-success" value="New Journal Title">
				}
				@inputText(form("journal.publicationYear"), editable, '_label -> "Year of Publication")
				@inputText(form("journal.volume"), editable, '_label -> "Volume")
				@inputText(form("journal.issue"), editable, '_label -> "Issue/Part")
			</div>
			<div id="journal_article">
				@inputText(form("journal.author"), editable, '_label -> "Author(s)")
			</div>
			
			<a target="landingPage" onclick="openPopup('@form("landingPageUrl").value')">Open Landing Page</a><br>
			<a target="document" onclick="openPopup('@form("documentUrl").value')">Open Document</a><br>
			@if(editable) {
				<input type="submit" class="btn primary" value="Save">
			} else {
				@if(form("submitted").value == "false" && !form("type").value.isEmpty) {
					<input type="submit" name="submit" class="btn primary" value="Submit" onclick="return confirm('Are you sure?');">
				}
			}
		</div>
		
		<div class="col-md-7">
			<div id="selection_menu" class="navbar navbar-default" style="display: none; position: absolute;
				margin-left: 15px; padding: 8px">
				<div>
					<input type="button" class="btn btn-success" value="Title" onclick="fillInput('title')" style="width: 100%">
				</div>
				<div style="padding-top: 5px">
					<input type="button" class="btn btn-success" value="DOI" onclick="fillInput('doi')" style="width: 100%">
				</div>
				<div style="padding-top: 5px">
					<input type="button" class="btn btn-success" value="Publication Date" onclick="fillDate('publicationDate')" style="width: 100%">
				</div>
				<div id="book_general_buttons">
					<div style="padding-top: 5px">
						<input type="button" class="btn btn-success" value="Author(s)" onclick="fillInput('book_author')" style="width: 100%">
					</div>
				</div>
				<div id="journal_article_buttons">
					<div style="padding-top: 5px">
						<input type="button" class="btn btn-success" value="Author(s)" onclick="fillInput('journal_author')" style="width: 100%">
					</div>
				</div>
			</div>
			<iframe id="document_view" src="@routes.Assets.at(form("htmlFilename").value)"
				width="100%" height="600"></iframe>
		</div>
	}
}
