@(user: User, filterForm: DynamicForm, status: Document.Status, searchstr: String, currentPage: com.avaje.ebean.Page[Document], currentSortBy: String, currentOrder: String, filters: Boolean)

@import helper.options
@import templates.select

@implicitField = @{ helper.FieldConstructor(templates.standardFieldConstructor.f) }

@styles = {
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("bootstrap/typeahead/css/typeahead.css")">
}

@scripts = {
	<script src="@routes.Assets.at("bootstrap/typeahead/js/typeahead.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/search.js")" type="text/javascript"></script>
	<script>
		$(document).ready(function() {
			context = @play.api.Play.current.configuration.getString("application.context");
			applySearch(context, 'documents');
		});
	</script>
}

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    if (filters)
    	routes.Documents.list(filterForm("user").value, filterForm("watchedtarget").value,
    		filterForm("service").value, status.toString, newPage, sortBy, order, searchstr)
    else
    	routes.Documents.overview(newPage, sortBy, order)
}

@main("", user, scripts, styles) {

	<div class="page-header">
	    <h1>@{if (filters) "Documents" else "Document Harvesting"}</h1>
	</div>
	
	<ul class="nav nav-tabs">
		@if(filters) {
			@if(status == Document.Status.NEW) {
				<li class="active"><a href="#">New</a></li>
				<li><a href="@routes.Documents.list(filterForm.get("user"), filterForm.get("watchedtarget"), filterForm("service").value, "" + Document.Status.SUBMITTED)">Submitted</a></li>
				<li><a href="@routes.Documents.list(filterForm.get("user"), filterForm.get("watchedtarget"), filterForm("service").value, "" + Document.Status.IGNORED)">Ignored</a></li>
			}
			@if(status == Document.Status.SUBMITTED) {
				<li><a href="@routes.Documents.list(filterForm.get("user"), filterForm.get("watchedtarget"), filterForm("service").value, "" + Document.Status.NEW)">New</a></li>
				<li class="active"><a href="#">Submitted</a></li>
				<li><a href="@routes.Documents.list(filterForm.get("user"), filterForm.get("watchedtarget"), filterForm("service").value, "" + Document.Status.IGNORED)">Ignored</a></li>
			}
			@if(status == Document.Status.IGNORED) {
				<li><a href="@routes.Documents.list(filterForm.get("user"), filterForm.get("watchedtarget"), filterForm("service").value, "" + Document.Status.NEW)">New</a></li>
				<li><a href="@routes.Documents.list(filterForm.get("user"), filterForm.get("watchedtarget"), filterForm("service").value, "" + Document.Status.SUBMITTED)">Submitted</a></li>
				<li class="active"><a href="#">Ignored</a></li>
			}
		} else {
			<li><a href="@routes.WatchedTargets.overview()">My Watched Targets</a></li>
			<li class="active"><a href="#">My New Documents</a></li>
		}
	</ul>
	
    <article class="documents">
    	
    	@if(filters) {
			<div id="forms">
	   			@warningmessage(flash)
	   			@helper.form(action=routes.Documents.list()) {
		   			<div class="input-group">
		   				<input type="hidden" name="status" value="@status">
	   					<input type="hidden" name="s" value="@currentSortBy">
	   					<input type="hidden" name="o" value="@currentOrder">
						<input type="text" class="form-control lookup-form-control" name="f" placeholder="Enter Document Name" value="@searchstr" id="search-query">
			   			<span class="input-group-btn">
							<input type="submit" class="btn btn-primary" id="search" name="action" value="Search">
						</span>
					</div>
					
					<div class="col-md-6">
						@select(filterForm("user"), options(Users.getUsers), true, '_label -> "Curator",
							'onchange -> "if(this.form.watchedtarget)this.form.watchedtarget.value='';this.form.submit()"
						)
						@if(filterForm("user").value != "null") {
								@select(filterForm("watchedtarget"), options(Users.getWatchedTargets(new Long(filterForm("user").value))), true, '_label -> "Watched Target",
									'onchange -> "this.form.submit()"
								)
						}
						@select(filterForm("service"), options(Documents.getPortalsSelection), true, '_label -> "Service",
							'onchange -> "this.form.submit()"
						)
					</div>
					<div style="clear: both"></div>
				}
	
			</div>
	}
    
    	@pagination(currentPage, link)
    	
		<table class="table table-hover">
			<thead>
				<tr>
					@header("title", "Title", currentSortBy, currentOrder, link)
					@header("landingPageUrl", "Landing Page", currentSortBy, currentOrder, link)
					@header("documentUrl", "Document", currentSortBy, currentOrder, link)
					@if(status != Document.Status.SUBMITTED) {
						<th>Action</th>
					} else {
						<th>SIP</th>
					}
				</tr>
			</thead>
			<tbody>
			@for(document <- currentPage.getList) {
				<tr>
					<td>
						@if(status == Document.Status.IGNORED) {
							@document.title
						} else {
							<a href="@routes.Documents.edit(document.id)">@document.title</a>
						}
					</td>
					<td><a href="@document.landingPageUrl" target="_blank">@document.landingPageUrl</a></td>
					<td><a href="@document.documentUrl" target="_blank">@document.documentUrl</a></td>
					@if(status != Document.Status.SUBMITTED) {
						<td><a href="@routes.Documents.ignore(document.id,
								filterForm("user").value,
								filterForm("watchedtarget").value,
								filterForm("service").value,
								status.toString,
								currentPage.getPageIndex,
								currentSortBy,
								currentOrder,
								searchstr,
								filters)" class="btn btn-success">
							@{if(status == Document.Status.NEW) "Ignore" else "Restore"}
						</a></td>
					} else {
						<td>
							<a href="@routes.Documents.sip(document.id)"  target="_blank">SIP</a>
						</td>
					}
				</tr>
			}
			</tbody>
		</table>
		
		@pagination(currentPage, link)
		
		@*helper.form(action = routes.WatchedTargets.crawl(watchedTarget.id)) {
			<input type="submit" class="btn btn-success" value="Live Crawl" onclick=
				"return confirm('You will start a crawl with the seed:\n@{watchedTarget.target.field_url}\n\nDo you want to proceed?');">
		}*@
		
	</article>
}


