@(user: User, filterForm: Form[DocumentFilter], searchstr: String, currentPage: com.avaje.ebean.Page[Document], currentSortBy: String, currentOrder: String, filters: Boolean)

@import helper.options
@import templates.checkbox2
@import templates.select
@import templates.inputRange
@import templates.shortLink

@implicitField = @{ helper.FieldConstructor(templates.ratio4to8FieldConstructor.f) }

@styles = {
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("bootstrap/typeahead/css/typeahead.css")">
}

@scripts = {
	<script src="@routes.Assets.at("bootstrap/typeahead/js/typeahead.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/search.js")" type="text/javascript"></script>
	<script>
		$(document).ready(function() {
			context = '@play.api.Play.current.configuration.getString("application.context")';
			applySearch(context, 'documents');
			$("#startdate").datepicker({ dateFormat: "dd-mm-yy", changeYear: true, maxDate: $("#enddate")[0].value,
				onClose: function( selectedDate ) {
					$( "#enddate" ).datepicker( "option", "minDate", selectedDate );
				}
			});
			$("#enddate").datepicker({ dateFormat: "dd-mm-yy", changeYear: true, minDate: $("#startdate")[0].value,
				onClose: function( selectedDate ) {
					$( "#startdate" ).datepicker( "option", "maxDate", selectedDate );
				}
			});
		});
	</script>
}

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    if (filters)
    	routes.Documents.list(filterForm.get, newPage, sortBy, order, searchstr)
    else
    	routes.Documents.overview(newPage, sortBy, order)
}

@main("Documents", user, scripts, styles) {

	<div class="page-header">
	    <h1>@{if (filters) "Documents" else "Document Harvesting"}</h1>
	</div>
	
	@warningmessage(flash)
	
	<article class="documents">
		@helper.form(action=routes.Documents.list()) {
			<ul class="nav nav-tabs">
				@if(filters) {
					@if(filterForm.get.status == Document.Status.NEW) {
						<li class="active"><a href="#">New</a></li>
						<li><a href="@routes.Documents.list(filterForm.get.withStatus(Document.Status.SUBMITTED))">Submitted</a></li>
						<li><a href="@routes.Documents.list(filterForm.get.withStatus(Document.Status.IGNORED))">Ignored</a></li>
					}
					@if(filterForm.get.status == Document.Status.SUBMITTED) {
						<li><a href="@routes.Documents.list(filterForm.get.withStatus(Document.Status.NEW))">New</a></li>
						<li class="active"><a href="#">Submitted</a></li>
						<li><a href="@routes.Documents.list(filterForm.get.withStatus(Document.Status.IGNORED))">Ignored</a></li>
					}
					@if(filterForm.get.status == Document.Status.IGNORED) {
						<li><a href="@routes.Documents.list(filterForm.get.withStatus(Document.Status.NEW))">New</a></li>
						<li><a href="@routes.Documents.list(filterForm.get.withStatus(Document.Status.SUBMITTED))">Submitted</a></li>
						<li class="active"><a href="#">Ignored</a></li>
					}
				} else {
					<li><a href="@routes.WatchedTargets.overview()">My Watched Targets</a></li>
					<li class="active"><a href="#">My New Documents</a></li>
					<li><a href="@routes.Alerts.list()">Alerts@Alert.numberOfUnreadAlerts(user)</a></li>
				}
			</ul>
	    	
			@if(filters) {
				<div id="forms">
		   			<div class="input-group">
		   				<input type="hidden" name="status" value="@filterForm.get.status">
	   					<input type="hidden" name="s" value="@currentSortBy">
	   					<input type="hidden" name="o" value="@currentOrder">
						<input type="text" class="form-control lookup-form-control" name="f" placeholder="Enter Document Name" value="@searchstr" id="search-query">
			   			<span class="input-group-btn">
							<input type="submit" class="btn btn-primary" id="search" name="action" value="Search">
						</span>
					</div>
					
					<div class="col-md-6">
						@select(filterForm("user"), options(Users.getUsers), true, '_label -> "Curator",
							'onchange -> "if(this.form.watchedtarget)this.form.watchedtarget.value='';this.form.submit()"
						)
						@if(filterForm("user").value != null) {
								@select(filterForm("watchedtarget"), options(Users.getWatchedTargets(new Long(filterForm("user").value))), true, '_label -> "Watched Target",
									'onchange -> "this.form.submit()"
								)
						}
						@select(filterForm("service"), options(Documents.getPortalsSelection), true, '_label -> "Service",
							'onchange -> "this.form.submit()"
						)
						@inputRange(filterForm("startdate"), filterForm("enddate"), true, '_label -> "Crawl Date",
							'onchange -> "this.form.submit()"
						)
					</div>
					<div class="col-md-6">
						@helper.input(filterForm("subjects"), '_label -> "Subjects") { (id, name, value, args) =>
							<div class="scroll-box">
								@for(fastSubject <- FastSubject.find.orderBy("name").findList()) {
									@checkbox2(filterForm(fastSubject.fastId), true, '_label -> fastSubject.name,
										'onchange -> "this.form.submit()")(
											helper.FieldConstructor(templates.checkboxFieldConstructor.f)
										)
								}
							</div>
						}
					</div>
					<div style="clear: both"></div>
					<div class="text-center">
						<a href="@routes.Documents.export(filterForm.get, currentSortBy, currentOrder, searchstr)" class="btn btn-primary">Export</a>
					</div>
				</div>
			}
			
	    	@pagination(currentPage, link)
	    	
			<table class="table table-hover tablesorter">
				<thead>
					<tr>
						@header("title", "Title", currentSortBy, currentOrder, link)
						@header("landingPageUrl", "Landing Page", currentSortBy, currentOrder, link)
						@header("documentUrl", "Document", currentSortBy, currentOrder, link)
						@header("waybackTimestamp", "Crawl Date", currentSortBy, currentOrder, link)
						@if(filterForm.get.status != Document.Status.SUBMITTED) {
							<th>Action</th>
						} else {
							<th>SIP</th>
						}
					</tr>
				</thead>
				<tbody>
				@for(document <- currentPage.getList) {
					<tr>
						<td>
							@if(filterForm.get.status == Document.Status.IGNORED) {
                                        @if( document.title != null && document.title.trim().length() == 0 ) {
                                            [untitled]
                                        } else {
                                            @document.title
                                        }
							} else {
								<a href="@{
										if (document.isEditableFor(user))
											routes.Documents.edit(document.id)
										else
											routes.Documents.view(document.id)}">
									    @if( document.title != null && document.title.trim().length() == 0 ) {
									        [untitled]
									    } else {
        									@document.title
									    }
								</a>
							}
						</td>
                        <td>@shortLink(document.landingPageUrl, "_blank")</td>
                        <td>@shortLink(document.documentUrl, "_blank")</td>
						<td>@WatchedTargets.dayCount(document.waybackTimestamp)</td>
						@if(filterForm.get.status != Document.Status.SUBMITTED) {
							<td>
								@if(document.isEditableFor(user)) {
									<a href="@routes.Documents.ignore(document.id,
											filterForm.get,
											currentPage.getPageIndex,
											currentSortBy,
											currentOrder,
											searchstr,
											filters)" class="btn btn-success">
										@{if(filterForm.get.status == Document.Status.NEW) "Ignore" else "Restore"}
									</a>
								}
							</td>
						} else {
							<td>
								<a href="@routes.DocumentSIPController.sip(document.id)"  target="_blank">SIP</a>
							</td>
						}
					</tr>
				}
				</tbody>
			</table>
			
			@pagination(currentPage, link)
		}
		
		@if((user.hasExpertUserRights || user.id == filterForm.get.user) &&
				currentPage.getTotalRowCount() > 1) {
			<a href="@routes.Documents.ignoreAll(filterForm.get, searchstr, filters)" class="btn btn-success" onclick=
				"return confirm('You are about to @{if(filterForm.get.status == Document.Status.NEW) "ignore" else "restore"} @currentPage.getTotalRowCount() documents.\nDo you want to proceed?');"
				style="float: right">
				@{if(filterForm.get.status == Document.Status.NEW) "Ignore All" else "Restore All"}
			</a>
		}
		
	</article>
}


