@(title: String, user: User, searchstr: String, currentPage: com.avaje.ebean.Page[Document], currentSortBy: String, currentOrder: String)

@styles = {
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("bootstrap/typeahead/css/typeahead.css")">
}

@scripts = {
	<script src="@routes.Assets.at("bootstrap/typeahead/js/typeahead.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/search.js")" type="text/javascript"></script>
	<script>
		$(document).ready(function() {
			context = @play.api.Play.current.configuration.getString("application.context");
			applySearch(context, 'flags'); 
		});
	</script>
}

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Documents.list(newPage, sortBy, order, searchstr)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@pagination = {
		<div class="text-center">
			<ul class="pagination">
	        	@if(currentPage.hasPrev) {
	            	<li class="prev">
	                    <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
	                </li>
	            } else {
	                <li class="prev disabled">
	                    <a>&larr; Previous</a>
	                </li>
	            }
	            <li class="current">
	                <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
	            </li>
	            @if(currentPage.hasNext) {
	                <li class="next">
	                    <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
	                </li>
	            } else {
	                <li class="next disabled">
	                    <a>Next &rarr;</a>
	                </li>
				}
			</ul>
		</div>
}

@main(title, user, scripts, styles) {

	<div class="page-header">
	    <h1>Documents</h1>
	</div>
		
    <article class="flags">      

		<table class="table table-hover">
			<thead>
				<tr>
					@header("title", "Title")
					@header("landingPageUrl", "Landing Page")
					@header("documentUrl", "Document")
				</tr>
			</thead>
			<tbody>
			@for(document <- currentPage.getList) {
				<tr>
					<td><a href="@routes.Documents.edit(document.id)">@document.title</a></td>
					<td><a href="@document.landingPageUrl">@document.landingPageUrl</a></td>
					<td><a href="@document.documentUrl">@document.documentUrl</a></td>
				</tr>
			}
			</tbody>
		</table>
	</article>
}


