@(permission: Permission, user: User)

@if(user.hasRole("sys_admin") || user.hasRole("archivist")) {

@main("", user) {
    
	<div class="page-header">
	    <h1><a href="@routes.PermissionController.index()">Access Control > Permissions > </a>Permission @permission.name</h1>
	</div>
	
	<ul class="nav nav-tabs">
	   <li class="active"><a href="@routes.PermissionController.view(permission.id)">View</a></li>
	   @if(user.hasRole("sys_admin") || user.hasRole("archivist")) {
	   	<li><a href="@routes.PermissionController.edit(permission.id)">Edit</a></li>
	   }
	</ul>

	<div class="padding-20">
		<div class="tab-pane active">
			<dl class="dl-horizontal text-overflow">    
				<dt>Name: <font color="red">*</font></dt>
				<dd>@permission.name</dd>
				<dt>Description:</dt>
				<dd>@permission.description</dd>
				<dt>Revision log message:</dt>
				<dd>@permission.revision</dd>
			</dl>
		</div>
	</div>

}
} else {
	<h1>Access Denied for URL @routes.PermissionController.index()/view</h1>
}                   
	            


