@(flagForm: Form[Flag], user: User, id: Long)

@import helper._
@import bootstrap._

@main("", user) {

   	<div class="page-header">
    	<h1><a href="@routes.FlagController.index()">Taxonomies > Flags > </a>Flag @flagForm("name").value</h1>
	</div>

	<ul class="nav nav-tabs">
	   <li><a href="@routes.FlagController.view(id)">View</a></li>
	   @if(user.hasRole("sys_admin")) {
		   <li class="active"><a href="@routes.FlagController.edit(id)">Edit</a></li>
	   }
	</ul>

	@warningmessage(flash)
	
    @if(flagForm.hasErrors) {
		<div class="padding-20">
			<div class="alert alert-warning alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				@for(entry <- flagForm.errors.entrySet){
					@for(error <- entry.getValue){
						@error.message<br />
					}
				}
			</div>
		</div>
	}
			
	@helper.form(action=routes.FlagController.update(id)) {
		<input type="hidden" name="id" value="@id">

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					@inputText(flagForm("name"),
						'_label -> "Name",
					    'id -> "inputName",
					    'class -> "form-control",
					    'placeholder -> "Name"
					)(FieldConstructor(genericMandatoryInput.f), lang)
				</div>
			</div>
     	</div>
     	
		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					@textarea(field = flagForm("description"),
		 				args = 'rows -> 1, 'cols -> 100,
						'_label -> "Description (A description of this web site):",
						'id -> "inputDescription",
						'class -> "form-control"
					)(FieldConstructor(genericInput.f), lang)
				</div>
			</div>
     	</div>
     				          
		@if(user.hasRole("sys_admin")) {
			<div class="row padding-10 pull-right">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="btn-group">		
						<button type="submit" class="btn btn-primary" name="action" value="save">Save</button>
						<button type="submit" class="btn btn-primary" name="action" value="delete" onclick="return confirm('Are you sure?');">Delete</button>
			       </div>
				</div>
			</div>
		}
	}
}

