@(form: Form[Flag], user: User)

@main("", user) {

   	<div class="page-header">
    	<h1><a href="@routes.FlagController.index()">Taxonomies > Flags > </a>Flag @form("name").value</h1>
	</div>

	<ul class="nav nav-tabs">
	   @if(Flag.findById(Long.valueOf(form("id").value)) != null) {
	   <li><a href="@routes.FlagController.view(form("url").value)">View</a></li>
	   }
	   @if(user.hasRole("sys_admin")) {
		   <li class="active"><a href="@routes.FlagController.edit(form("url").value)">Edit</a></li>
	   }
	</ul>

	@warningmessage(flash)
	@helper.form(action=routes.FlagController.save) {
		<input type="hidden" name="url" value="@form("url").value">
		<input type="hidden" name="id" value="@form("id").value">

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputName" class="col-sm-6 control-label">Name <font color="red">*</font></label>
				    <div class="col-sm-6">
	              		<input class="form-control" name="name" id="inputName" value="@form.get.name" type="text">
					</div>
				</div>
			</div>
     	</div>
     	
		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
	               <label class="col-sm-6 control-label" for="inputDescription">Description</label>
				    <div class="col-sm-6">
	               		<textarea class="form-control" name="description" id="inputDescription" cols="100" rows="1">@form("description").value</textarea>
					</div>
				</div>
			</div>
     	</div>
     				          
		@if(user.hasRole("sys_admin")) {
		<div class="row padding-10 pull-right">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="btn-group">		
					<button type="submit" class="btn btn-primary" name="save">Save</button>
					@if(Flag.findById(Long.valueOf(form("id").value)) != null) {
					<button type="submit" class="btn btn-primary" name="delete" onclick="return confirm('Are you sure?');">Delete</button>
					}
		       </div>
			</div>
		</div>
		}
	}
}

