@(flag: Flag, user: User)

@main("", user) {

   	<div class="page-header">
    	<h1>Edit flag @flag.name</h1>
	</div>

	<ul class="nav nav-tabs">
	   <li><a href="@routes.Flags.view(flag.url)">View</a></li>
	   @if(user.hasRole("sys_admin")) {
		   <li class="active"><a href="@routes.Flags.edit(flag.url)">Edit</a></li>
	   }
	</ul>

	@helper.form(action=routes.Flags.save) {
		<input type="hidden" name="url" value="@flag.url">
		<input type="hidden" name="id" value="@flag.id">

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputName" class="col-sm-6 control-label">Name<font color="red">*</font></label>
				    <div class="col-sm-6">
	              		<input class="form-control" name="name" id="inputName" value="@flag.name" type="text">
					</div>
				</div>
			</div>
     	</div>
     	
		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
	               <label class="col-sm-6 control-label" for="inputDescription">Description</label>
				    <div class="col-sm-6">
	               		<textarea class="form-control" name="description" id="inputDescription" cols="100" rows="1">@flag.description</textarea>
					</div>
				</div>
			</div>
     	</div>
     				          
		<div class="alert alert-info">
			Provide an explanation of the changes you are making. This will help other authors understand your motivations. 
		</div>

		@if(user.hasRole("sys_admin")) {
		<div class="row padding-10 pull-right">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="btn-group">		
					<button type="submit" class="btn btn-primary" name="save">Save</button>
					<button type="submit" class="btn btn-primary" name="delete">Delete</button>
		       </div>
			</div>
		</div>
		}
	}
}

