@(user: User)

@good = {<font color="green">&#x2714;</font>}
@bad = {<font color="red">&#x2718;</font>}

@check(test: Boolean) = { 
	@if(test) {@good} else {@bad}
}

@main("Server Status", user) {
	<h2>Status</h2>
	
	<style>
	  dt {
	  margin-top: 2em;
	  }
	</style>
	
	<dl>
	
	<dt>The database</dt>
	<dd>contains FAST Subjects @check(StatusController.areThereFastSubjects())
		  @if( ! StatusController.areThereFastSubjects() ) {
		    <a href="@routes.StatusController.addFastDefaultSubjects()">Click here to add the default FAST subjects</a>
		  }
    </dd>
    
    <dt>pdf2htmlEX <a href="@StatusController.getPdf2HtmlEndpoint()">[here]</a></dt>
	<dd>is available @check(StatusController.isPdf2htmlEXAvailable())</dd>
	
    <dt>Wayback <a href="@StatusController.getWaybackEndpoint()">[here]</a></dt>
	<dd>is responding @check(StatusController.isWaybackResponding())</dd>
	
	<dt>PII <a href="@StatusController.getPIIEndpoint()">[here]</a></dt>
    <dd>is responding @check(StatusController.isPiiResponding())</dd>
    <dd>appears to be a real PII server (not a test instance) @check(StatusController.isOfficalPiiInstance())</dd>

	<dt>The Secret Server <a href="@StatusController.getSecretServerEndpoint()">[here]</a></dt>
@defining(StatusController.secretServerVersion()) { version =>
		<dd>is accessible @check(version != null)</dd>
		<dd>has version 8.8.000020 @check(version == "8.8.000020")</dd>
}
    </dl>

}
