@(user: User)

@good = {<font color="green">&#x2714;</font>}
@bad = {<font color="red">&#x2718;</font>}

@check(test: Boolean) = { 
	@if(test) {@good} else {@bad}
}

@main("", user) {
	<h2>Status</h2>
	The database
	<ul>
		<li>containts FAST Subjects @check(StatusController.areThereFastSubjects())</li>
	</ul>
	pdf2htmlEX
	<ul>
		<li>is available @check(StatusController.isPdf2htmlEXAvailable())</li>
	</ul>
	ssdeep
	<ul>
		<li>is available @check(StatusController.isSsdeepAvailable())</li>
	</ul>
	Wayback
	<ul>
		<li>is responding @check(StatusController.isWaybackResponding())</li>
	</ul>
	PII
	<ul>
		<li>is responding @check(StatusController.isPiiResponding())</li>
	</ul>
@defining(StatusController.secretServerVersion()) { version =>
	The Secret Server<br>
	<ul>
		<li>is accessible @check(version != null)</li>
		<li>has version 8.8.000020 @check(version == "8.8.000020")</li>
	</ul>
}
}
