@(title: String, user: User, searchurl: String, currentPage: com.avaje.ebean.Page[Target], currentSortBy: String, currentOrder: String, currentCollection: String, currentQaStatus: String, keyQaStatus: String)

@scripts = {
	<script src="@routes.Assets.at("bootstrap/typeahead/js/typeahead.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/search.js")" type="text/javascript"></script>
	<script>
		$(document).ready(function() {
			context = @play.api.Play.current.configuration.getString("application.context");
			searchContext = 'targets';
			applySearch(context, searchContext);
			scopeCheck(context);
			
		      SUGGESTED_COLLECTION_URI = '@routes.QAController.getCollections(currentCollection)';
              $.getJSON(SUGGESTED_COLLECTION_URI, function(data) {    	
              	$("#tree3").dynatree({
                	checkbox: true,
                	selectMode: 1,
                	children: data,
                	onSelect: function(select, node) {
                  		// Get a list of all selected nodes, and convert to a key array:
                  		var selKeys = $.map(node.tree.getSelectedNodes(), function(node){
                    		return node.data.key;
                  		});
                  		document.getElementById('treeKeys').value = selKeys.join(", ");
                  		// Get a list of all selected TOP nodes
                  		var selRootNodes = node.tree.getSelectedNodes(true);
                  		// ... and convert to a key array:
                  		var selRootKeys = $.map(selRootNodes, function(node){
                    		return node.data.key;
                  		});
                	}
              	});
             })
			
         	$('#qa_status').change(function(event) {
        		console.log('qa_status');
        		event.preventDefault();
        		
			    var action = $("<input>")
       			.attr("type", "hidden")
       			.attr("name", "action").val("search");
		    
		    	$('#forms').append($(action));
       			$('#forms').submit();
        	});
             
             
		});
	</script>
}

@styles = {
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("bootstrap/typeahead/css/typeahead.css")">
}

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.QAController.list(newPage, sortBy, order, searchurl, currentCollection, currentQaStatus)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@pagination = {
		<div class="text-center">
			<ul class="pagination">
	        	@if(currentPage.hasPrev) {
	            	<li class="prev">
	                    <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
	                </li>
	            } else {
	                <li class="prev disabled">
	                    <a>&larr; Previous</a>
	                </li>
	            }
	            <li class="current">
	                <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
	            </li>
	            @if(currentPage.hasNext) {
	                <li class="next">
	                    <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
	                </li>
	            } else {
	                <li class="next disabled">
	                    <a>Next &rarr;</a>
	                </li>
				}
			</ul>
		</div>
}

@if(user.hasRole("sys_admin") || user.hasRole("archivist")) {

@main(title, user, scripts, styles) {
	<div class="page-header">    
    	<h1><a href="@routes.CrawlPermissions.index()">Archivist Tasks > </a>QA dashboard</h1>
    </div>
    
    <article class="targets">
    
		@warningmessage(flash)
		@helper.form(action=routes.QAController.search, 'id -> "forms") {
   			<div class="input-group">
   				<input type="hidden" name="p" value="@currentPage.getPageIndex" />
  					<input type="hidden" name="s" value="@currentSortBy">
  					<input type="hidden" name="o" value="@currentOrder">
  					<input type="hidden" name="query_collection" value="@currentCollection">
  					<input type="hidden" name="query_qa_status" value="@currentQaStatus">
  					<input type="hidden" name="key_qa_status" value="@currentQaStatus">
				<input type="text" class="form-control lookup-form-control" name="url" placeholder="http://www.bbc.co.uk" value="@searchurl" id="search-query">
	   			<span class="input-group-btn">
					<button type="submit" class="btn btn-primary" id="search" name="action" value="search" title="Search for url">Search</button>
				</span>
			</div>

			<div class="alert alert-info">
				Enter any whole or part URL, or part of a target name.
			</div>				
		
		@if((user.hasRole("sys_admin") || user.hasRole("archivist")) && searchurl != null && searchurl.length() > 0) {
		
				<div class="padding-20">
				    <a data-toggle="collapse" data-parent="#accordion" href="#filter-panel" class="btn btn-primary"><span id="toggle">&#9660; Filter Targets &#9650;</span></a>
				</div>
						
				<div id="accordion">
					<div id="filter-panel" class="panel-collapse collapse in">
						<div class="panel-body">
						
							<div class="row">
							
								<div class="col-md-6">
									<div class="form-group">									
						              	<label for="collections" class="col-sm-6 control-label">By Collection</label>
									    <div class="col-sm-12">
											  <div id="tree3"></div>
								                @if(currentCollection != null) {
											  	<input type="hidden" id="treeKeys" name="treeKeys" value="@currentCollection">
								                } else {
											  	<input type="hidden" id="treeKeys" name="treeKeys">
								                }
										</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
						            	<label for="qa_status" class="col-sm-6 control-label">By QA Status</label>
						            	<div class="col-sm-6">
											<select name="qa_status" class="form-control target-form-control" id="qa_status">
									        	<option>None</option>
									    		@for(qaStatusType <- uk.bl.Const.QAStatusType.values()) {
						                 			@if(keyQaStatus != null && keyQaStatus.equals(qaStatusType.name)) {
						                				<option value="@qaStatusType.name" selected>@qaStatusType.getValue</option>
						                			} else {
						                				<option value="@qaStatusType.name">@qaStatusType.getValue</option>
						                			}
					                			}
											</select>
										</div>
						         	</div>
								</div>
							</div>
						</div>
					</div>
				</div>		
				} <!-- end of role check -->	
		} <!-- end of search form -->
		
		@if((user.hasRole("sys_admin") || user.hasRole("archivist")) && searchurl != null && searchurl.length() > 0) {
		
		@pagination
    
		<table class="table table-hover">
			<thead>
				<tr>
					@header("title", "Target Name")
					@header("url", "URL")
					<th>Instances to date</th>
					<th>Most Recent</th>
					<th>QA Status</th>
				</tr>
			</thead>
			<tbody>
				@for(target <- currentPage.getList) {
				<tr>
					<td><a class="brand" href="@routes.TargetController.view(target.url)">@target.title</a><br><a class="brand" href="@target.get_field_list_as_str("fieldUrl")">@target.get_field_list_as_str("fieldUrl")</a></td>
					<td><a class="brand" href="@target.get_field_list_as_str("fieldUrl")">@target.get_field_list_as_str("fieldUrl")</a></td>
					<td><a class="brand" href="@routes.Instances.showByTarget(target.url)">@Instance.findAllByTarget(target.url)</a></td>
					<td><a class="brand" href="@routes.InstanceController.edit(Instance.getLatestInstance(target.url))?tab=qa">@Instance.showLatestTimestamp(target.url)</a></td>
					<td>@uk.bl.Const.QAStatusType.getQaStatus(Taxonomy.findQaStatus(target.qaIssue.url)).getValue()</td>
				</tr>
				}
			</tbody>
		</table>
		 
		@pagination
		}

   </article>
    
}
} else {
	@infomessage.render("Access Denied for URL @routes.QAController.index()/list")
}
