@(role: Role, user: User)

@if(user.hasRole("sys_admin") || user.hasRole("archivist")) {

@main("", user) {
    
	<div class="page-header">
	    <h1><a href="@routes.Roles.index()">Access Control > Roles > </a>Role @role.name</h1>
	</div>
	
	<ul class="nav nav-tabs">
	   <li class="active"><a href="@routes.Roles.view(role.url)">View</a></li>
	   @if(user.hasRole("sys_admin")) {
	   <li><a href="@routes.Roles.edit(role.url)">Edit</a></li>
	   <li><a href="@routes.Roles.admin(role.url)">Role administration</a></li>
	   }
	</ul>
    
	<div class="padding-20">
		<div class="tab-pane active">
			<dl class="dl-horizontal text-overflow">    
				<dt>Name:</dt>
				<dd>@role.name</dd>
				<dt>Permissions:</dt>
				<dd>@role.permissions</dd>
				<dt>Description:</dt>
				<dd>@role.description</dd>
				<dt>Revision log message:</dt>
				<dd>@role.revision</dd>
			</dl>
		</div>
	</div>

}
                   
} else {
	<h1>Access Denied for URL @routes.Roles.index()/view</h1>
}
	            


