@(role: Role, user: User)


@main("", user) {

   	<div class="page-header">
	    <h1>Edit role @role.name</h1>
	</div>

	<ul class="nav nav-tabs">
	   <li><a href="@routes.RoleEdit.view(role.url)">View</a></li>
	   @if(user.hasRole("sys_admin")) {
	   <li class="active"><a href="@routes.RoleEdit.edit(role.url)">Edit</a></li>
	   <li><a href="@routes.RoleEdit.admin(role.url)">Role administration</a></li>
	   }
	</ul>
    
	<form action="@routes.RoleEdit.save()" method="POST">
		<input type="hidden" name="url" value="@role.url">
	    <input type="hidden" name="nid" value="@role.id">

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputName" class="col-sm-6 control-label">Name <font color="red">*</font></label>
				    <div class="col-sm-6">
	              		<input class="form-control" name="name" id="inputName" value="@role.name" type="text">
					</div>
				</div>
			</div>
     	</div>
     	
   		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-6 control-label">Permissions</label>
					<div class="col-sm-6">
				        @for(permission <- Permission.findAll()) {
							<label class="checkbox-inline">
					            @if(Permission.isIncluded(permission.name, role.permissions)) {
				                	<input type="checkbox" name="@permission.name" value="true" checked disabled="disabled" />
				                } else {
				                	<input type="checkbox" name="@permission.name" value="true" disabled="disabled"  />
				                }
				                 @permission.name
			                </label>
			            }
					</div>
				</div>
			</div>
     	</div>	     		     	

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
	               <label class="col-sm-6 control-label" for="inputDescription">Description</label>
				    <div class="col-sm-6">
	               		<textarea class="form-control" name="description" id="inputDescription" cols="100" rows="1">@role.description</textarea>
					</div>
				</div>
			</div>
     	</div>
     	
        <div id="revisionArea" class="revision">
    		<div class="row padding-10">
	     		<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form-group">
		              	<label for="inputBody" class="col-sm-6 control-label">Revision log message</label>
					    <div class="col-sm-6">
               				<textarea class="form-control" name="revision" id="inputRevision">@role.revision</textarea>
						</div>
					</div>
				</div>
	     	</div>
		</div>

		<div class="alert alert-info">
			Provide an explanation of the changes you are making. This will help other authors understand your motivations. 
		</div>

		<div class="row padding-10 pull-right">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="btn-group">
					<button type="submit" class="btn btn-primary" name="save">Save</button>
					<button type="submit" class="btn btn-primary" name="delete">Delete</button>
		       </div>
			</div>
		</div>
	</form>
}

