@(form: Form[Nomination], user: User)

@if(user.hasRole("sys_admin") || user.hasRole("archivist")) {

@main("", user) {

   	<div class="page-header">
    	<h1><a href="@routes.NominationController.index()">Archivist Tasks > Nominations > </a>Nomination @form("name").value</h1>
	</div>

	<ul class="nav nav-tabs">
	   @if(Nomination.findById(form.get.id) != null) {
	   <li><a href="@routes.NominationController.view(form.get.id)">View</a></li>
	   }
	   @if(user.hasRole("sys_admin") || user.hasRole("archivist")) {
		   <li class="active"><a href="@routes.NominationController.edit(form.get.id)">Edit</a></li>
	   }
	</ul>
    
    @warningmessage(flash)
	@helper.form(action=routes.NominationController.save) {
		<input type="hidden" name="id" value="@form("id").value">

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputName" class="col-sm-6 control-label">Name <font color="red">*</font></label>
				    <div class="col-sm-6">
	              		<input class="form-control" name="name" id="inputName" value="@form("name").value" type="text">
					</div>
				</div>
			</div>
     	</div>
         
   		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="name" class="col-sm-6 control-label">Title of Website: <font color="red">*</font></label>
				    <div class="col-sm-6">
		              <input class="form-control" name="title" id="title"  value="@form("title").value" placeholder="London Business Forum" type="text">
					</div>
				</div>
			</div>
     	</div>

   		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-6 control-label">Web Address (URL): <font color="red">*</font></label>
				    <div class="col-sm-6">
						<input class="form-control" name="website_url" value="@form("website_url").value" placeholder="http://www.londonbusinessforum.com/" type="text">
					</div>
				</div>
			</div>
     	</div>

   		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-6 control-label">E-mail: <font color="red">*</font></label>
				    <div class="col-sm-6">
						<input class="form-control" name="email" value="@form("email").value" placeholder="max.mustermann@@domain.com" type="text">
					</div>
				</div>
			</div>
     	</div>

   		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-6 control-label">Phone:</label>
				    <div class="col-sm-6">
						<input class="form-control" value="@form("tel").value" name="phone" placeholder="0041889923456" type="text">
					</div>
				</div>
			</div>
     	</div>

   		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-6 control-label">Address:</label>
				    <div class="col-sm-6">
						<input class="form-control" value="@form("address").value" name="address" type="text">
					</div>
				</div>
			</div>
     	</div>

     	<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-6 control-label">Nominated Website Owner:</label>
				    <div class="col-sm-6">
				    @if(form("nominated_website_owner").value != null && form("nominated_websit_owner").value) {
		                <input type="checkbox" name="nominated_website_owner" checked/>
		            } else {
		                <input type="checkbox" name="nominated_website_owner"/>
		            }
					</div>
				</div>
			</div>
     	</div>	     

   		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-6 control-label">Justification:</label>
				    <div class="col-sm-6">
						<input class="form-control" value="@form("justification").value" name="justification" type="text">
					</div>
				</div>
			</div>
     	</div>

     	<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-6 control-label">Nomination Checked:</label>
				    <div class="col-sm-6">
				    @if(form("nomination_checked").value != null && form("nomination_checked").value) {
		                <input type="checkbox" name="nomination_checked" checked/>
		            } else {
		                <input type="checkbox" name="nomination_checked"/>
		            }
					</div>
				</div>
			</div>
     	</div>	     

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputDescription" class="col-sm-6 control-label">Description</label>
				    <div class="col-sm-6">
						<textarea class="form-control" name="description" id="inputDescription" cols="100" rows="1">@form("notes").value</textarea>
					</div>
				</div>
			</div>
     	</div>

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-6 control-label">Date</label>
				    <div class="col-sm-6">
 						<input type="text" name="log-date" class="form-control" id="log-date" value="@form("nomination_date").value"/>
               		</div>
				</div>
			</div>
     	</div>	
		     	
		<div class="row padding-10 pull-right">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="btn-group">
					<button type="submit" class="btn btn-primary" name="save">Save</button>
				    @if(Nomination.findById(Long.valueOf(form("id").value)) != null) {
					<button type="submit" class="btn btn-primary" name="delete" onclick="return confirm('Are you sure?');">Delete</button>
					}
		       </div>
			</div>
		</div>
	}
}
} else {
	@infomessage.render("Access Denied for URL @routes.Nominations.index()/edit")
}
