@(nomination: Nomination, user: User)


@main("", user) {
    
	<div class="page-header">
	    <h1><a href="@routes.Nominations.index()">Access Control > Nominations > </a>Nomination @nomination.name</h1>
	</div>
	
	<ul class="nav nav-tabs">
	   <li class="active"><a href="@routes.Nominations.view(nomination.url)">View</a></li>
	   @if(user.hasRole("sys_admin")) {
	   	<li><a href="@routes.Nominations.edit(nomination.url)">Edit</a></li>
	   }
	</ul>

	<div class="padding-20">
		<div class="tab-pane active">
			<dl class="dl-horizontal text-overflow">    
				<dt>Name:</dt>
				<dd>@nomination.name</dd>
				<dt>Description:</dt>
				<dd>@nomination.notes</dd>
			</dl>
		</div>
	</div>

}
                   
	            


