@(nomination: Nomination, user: User)

@if(user.hasRole("sys_admin") || user.hasRole("archivist")) {

@main("", user) {
    
	<div class="page-header">
	    <h1><a href="@routes.Nominations.index()">Archivist Tasks > Nominations > </a>Nomination @nomination.name</h1>
	</div>
	
	<ul class="nav nav-tabs">
	   <li class="active"><a href="@routes.Nominations.view(nomination.url)">View</a></li>
	   @if(user.hasRole("sys_admin") || user.hasRole("archivist")) {
	   	<li><a href="@routes.Nominations.edit(nomination.url)">Edit</a></li>
	   }
	</ul>

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputName" class="col-sm-6 control-label">Name <font color="red">*</font></label>
				    <div class="col-sm-6">
	              		@nomination.name
					</div>
				</div>
			</div>
     	</div>
         
   		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="name" class="col-sm-6 control-label">Title of Website: <font color="red">*</font></label>
				    <div class="col-sm-6">
		                @nomination.title
					</div>
				</div>
			</div>
     	</div>

   		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-6 control-label">Web Address (URL): <font color="red">*</font></label>
				    <div class="col-sm-6">
						@nomination.websiteUrl
					</div>
				</div>
			</div>
     	</div>

   		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-6 control-label">E-mail: <font color="red">*</font></label>
				    <div class="col-sm-6">
						@nomination.email
					</div>
				</div>
			</div>
     	</div>

   		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-6 control-label">Phone:</label>
				    <div class="col-sm-6">
						@nomination.tel
					</div>
				</div>
			</div>
     	</div>

   		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-6 control-label">Address:</label>
				    <div class="col-sm-6">
						@nomination.address
					</div>
				</div>
			</div>
     	</div>

     	<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-6 control-label">Nominated Website Owner:</label>
				    <div class="col-sm-6">
				    @if(nomination.nominatedWebsiteOwner != null && nomination.nominatedWebsiteOwner) {
		                yes
		            } else {
		                no
		            }
					</div>
				</div>
			</div>
     	</div>	     

   		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-6 control-label">Justification:</label>
				    <div class="col-sm-6">
						@nomination.justification
					</div>
				</div>
			</div>
     	</div>

     	<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-6 control-label">Nomination Checked:</label>
				    <div class="col-sm-6">
				    @if(nomination.nominationChecked != null && nomination.nominationChecked) {
		                yes
		            } else {
		                no
		            }
					</div>
				</div>
			</div>
     	</div>	     

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputDescription" class="col-sm-6 control-label">Description</label>
				    <div class="col-sm-6">
						@nomination.notes
					</div>
				</div>
			</div>
     	</div>

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-6 control-label">Date</label>
				    <div class="col-sm-6">
 						@nomination.createdAt
               		</div>
				</div>
			</div>
     	</div>	
		     	
}
} else {
	@infomessage.render("Access Denied for URL @routes.Nominations.index()/view")
}                   
	            


