@(taxonomy: Taxonomy, user: User)

@main("", user) {
    
   	<div class="page-header">
	    <h1><a href="@routes.TaxonomiesController.index()">Collections > Taxonomies > </a>Taxonomy @taxonomy.name</h1>
    </div>
    
	<ul class="nav nav-tabs">
		@if(Taxonomy.findById(taxonomy.id) != null) {
		<li><a href="@routes.TaxonomiesController.view(taxonomy.url)">View</a></li>
		}
		@if(user.hasRole("sys_admin")) {
		   <li class="active"><a href="@routes.TaxonomiesController.edit(taxonomy.url)">Edit</a></li>
		}
	</ul>
	
	@helper.form(action=routes.TaxonomiesController.save) {
   		<input type="hidden" name="url" value="@taxonomy.url">
   	    <input type="hidden" name="nid" value="@taxonomy.id">

		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputName" class="col-sm-6 control-label">Name <font color="red">*</font></label>
				    <div class="col-sm-6">
						<input class="form-control" name="title" id="inputTitle" value="@taxonomy.name" type="text">
					</div>
				</div>
			</div>
     	</div>
     	
		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputType" class="col-sm-6 control-label">Type</label>
				    <div class="col-sm-6">
						<input class="form-control" name="type" id="type" value="@taxonomy.ttype" type="text">
					</div>
				</div>
			</div>
     	</div>
     	
		<div class="row padding-10">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="inputDescription" class="col-sm-6 control-label">Description</label>
				    <div class="col-sm-6">
		          		<textarea class="form-control" name="summary" id="inputDescription" value="@taxonomy.description" cols="100" rows="1">@taxonomy.description</textarea>
					</div>
				</div>
			</div>
		</div>		

    	@if(user.hasRole("sys_admin")) {
		<div class="row padding-10 pull-right">
     		<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="btn-group">
					<button type="submit" class="btn btn-primary" name="save">Save</button>
					<button type="submit" class="btn btn-primary" name="delete" onclick="return confirm('Are you sure?');">Delete</button>
		       </div>
			</div>
		</div>
		}
	}
}

