@(title: String, user: User)

@main(title, user){
<header>
    <hgroup>
        <h2>Article</h2>
    </hgroup>
</header>

    <article  class="about">
		<div class="folder">
            <h3>Create Article</h3>
		</div>
      <div class="panel panel-default" id="forms">
        <div class="panel-heading">
        </div>
        <form class="article-form" action="@routes.Article.addArticle()" method="POST">
          <fieldset>
            <legend>Legend</legend>
            <div class="form-group">
              <label for="inputTitle">Title*</label>
              <input class="form-control" name="title" id="inputTitle" placeholder="My article title" type="text">
            </div>
            <div class="form-group">
              <label for="inputTags">Tags</label>
              <input class="form-control" name="tags" id="inputTags" placeholder="sport, science" type="text">
              <label">Enter a comma-separated list of words to describe your content.</label>
            </div>            
			<div id="summary" class="collapse" data-toggle="collapse" data-target="#demo">
			   <div class="form-group">
                    <label for="inputSummary">Summary</a></label>
               		<textarea name="summary" id="inputSummary" cols="50" rows="10"></textarea>
               		<br>Leave blank to use trimmed value of full text as the summary.
	            </div>
            </div>
            <div class="form-group">
               <label for="inputBody">Body&nbsp;</label><a href="#" data-toggle="collapse" data-target="#summary">(Edit Summary)</a>
               <textarea name="body" id="inputBody" cols="50" rows="10"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleInputFile">File input</label>
              <input id="exampleInputFile" name="file" type="file">
              <button type="upload" class="btn btn-default">Upload</button>
              <p class="help-block">Upload an image to go with this article.
				Files must be less than 2 MB.
				Allowed file types: png gif jpg jpeg.</p>
            </div>
            <div class="form-group">
                <li>Revision information</li>
                <li>New revision(active tab)</li>
	            <div class="form-group">
	              <label for="inputBody">Revision log message</a></label>
	               <textarea name="revision_input" id="inputRevision" cols="50" rows="10"></textarea>
        		   <br>Provide an explanation of the changes you are making. This will help other authors understand your motivations. 
	            </div>
			</div>
            
            <button type="save" class="btn btn-default" id="edit-save" name="save">Save</button>
            <button type="preview" class="btn btn-default" id="edit-preview" name="preview">Preview</button>
          </fieldset>
        </form>
        <hr>
      </div>

    </article>
}

