@(title: String, user: User, taxonomies: List[Taxonomy], curators: List[User])

@main(title, user){
    
    <header>
        <hgroup>
            <h2>Bookmarks</h2>
        </hgroup>
    </header>
    
    <article  class="targets">
    	<div class="folder">
            <h3>My bookmarks</h3>
		</div>
		<div class="folder">
			<header>
				<span class="loader">Loading</span>
			</header>
			<div class="row">
			    <Pre>You have not yet bookmarked any content. Click the "Bookmark this" link when viewing a piece of content to add it to this list.          
            </div>
		</div>
    </article>
    
}

