@(collection: DCollection, user: User) @main("", user) {

	<div class="page-header">
		<h1>Collection @collection.title</h1>
	</div>

	<ul class="nav nav-tabs">
		<li class="active"><a
			href="@routes.CollectionEdit.view(collection.url)">View</a></li>
		<li><a href="@routes.CollectionEdit.sites(collection.url)">Sites</a></li>
			@if(user.hasRole("sys_admin")) {
		<li><a href="@routes.CollectionEdit.edit(collection.url)">Edit</a></li>
		}
	</ul>

	<div class="tab-content padding-20">
		<div class="tab-pane active" id="home">
			<dl class="dl-horizontal text-overflow">
				<dt>Description lists</dt>
				<dd>@collection.title</dd>
				<dt>Description</dt>
				<dd>@collection.summary</dd>
				<dt>Revision log message</dt>
				<dd>@collection.revision</dd>
			</dl>
		</div>
	</div>
	<div class="padding-20">
		<div class="alert alert-info">
			Provide an explanation of the changes you are making. This will help other authors understand your motivations.
		</div>
	</div>
}

