@(collection: DCollection, user: User)


@main("", user){
    
    <h1>Collection @collection.title</h1>
    
	<div class="targettabs">    
		<ul class="nav nav-tabs">
		   <li class="active"><a href="@routes.CollectionEdit.view(collection.url)" class="navbar-brand btn btn-success">View</a></li>
		   <li><a href="@routes.CollectionEdit.sites(collection.url)" class="navbar-brand btn btn-success">Sites</a></li> 
		   @if(user.hasRole("sys_admin")) {
		   <li><a href="@routes.CollectionEdit.edit(collection.url)" class="navbar-brand btn btn-success">Edit</a></li>
		   }
		</ul>
	</div>
    
    <article class="collectiondetails">
      <div class="panel panel-default" id="forms">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
	        <form>
	          <fieldset>
	            <div class="container">
	            	<div class="row">
	              		<label>Title: @collection.title</label>
					</div>
	            </div>
	            <div class="container">
	            	<div class="row">
	              		<label>Description: @collection.summary</label>
					</div>
	            </div>
	            <div class="container">
	            	<div class="row">
	              		<label>Revision log message: @collection.revision</label>
	        		    <br>Provide an explanation of the changes you are making. This will help other authors understand your motivations. 
					</div>
	            </div>
	          </fieldset>
	        </form>
	      </div>
       </div>
    </article>
    
}

