@(title: String, user: User)

@import helper.twitterBootstrap._

@main(title, user){
    <h1>Contact</h1>

    <article class="contact">
      <div class="panel panel-default" id="forms">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
	        <form>
	            <fieldset>
		            <div class="form-group">
		              <label>Your name</label>
		              <input class="form-control" id="name" type="text" value="@user.name">
		            </div>            
		            <div class="form-group">
		              <label for="inputEmail">Your e-mail address</label>
		              <input class="form-control" id="inputEmail" type="text" value="@user.email">
		            </div>            
		            <div class="form-group">
		              <label for="inputSubject">Subject</label>
		              <input class="form-control" id="inputSubject" placeholder="" type="text">
		            </div>
		            <div class="form-group">
		               <label for="inputMessage">Message</label>
		               <textarea  class="text-full form-textarea" name="user_eingabe" id="inputMessage" cols="100" rows="1"></textarea>
		            </div>
		            <div class="checkbox">
		              <label>
		                <input type="checkbox">Send yourself a copy.
		              </label>
		            </div>
	            	<button type="submit" class="btn btn-primary" name="send">Send message</button>		            
	            </fieldset>
	        </form>
         </div>
      </div>
    </article>
}
