@(title: String, user: User)

@import helper.twitterBootstrap._

@main(title, user){
	<header>
	    <hgroup>
	        <h2>Contact</h2>
	    </hgroup>
	</header>
    <article  class="contact">
      <div class="panel panel-default" id="forms">
        <div class="panel-heading">Contact details:
        </div>
        <form>
          <fieldset>
            <legend>Legend</legend>
            <div class="form-group">
              <label for="inputName">Your name</label>
              <input class="form-control" id="inputName" placeholder="Ross King" type="text">
            </div>
            <div class="form-group">
              <label for="inputEmail">Your e-mail address</label>
              <input class="form-control" id="inputEmail" placeholder="ross.king@@ait.ac.at" type="text">
            </div>            
            <div class="form-group">
              <label for="inputSubject">Subject</label>
              <input class="form-control" id="inputSubject" placeholder="" type="text">
            </div>
            <div class="form-group">
               <label for="inputMessage">Message</label>
               <textarea name="user_eingabe" id="inputMessage" cols="50" rows="10"></textarea>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox">Send yourself a copy.</label>
            </div>
            <button type="submit" class="btn btn-default">Send message</button>
          </fieldset>
        </form>
        <hr>
      </div>
    </article>
}
