@(title: String, user: User, dcollections: List[DCollection])

@main(title, user){
    
    <header>
        <hgroup>
            <h2>Collections</h2>
        </hgroup>
    </header>
    <article  class="collecitions">
		<div class="folder">
			<header>
				<span class="loader">Loading</span>
			</header>
			<ul class="list">
				<div class="panel panel-default" id="tables">
		            <div class="panel-heading">Collections</div>
		            <table class="table table-striped table-bordered table-condensed">
		              <thead>
		                <tr>
		                  <th>Title</th>
		                </tr>
		              </thead>
		              <tbody>
		              	@dcollections.map { dcollection =>		              
		                <tr>
		                  <td><a class="brand" href="@dcollection.get_field_list("field_sub_collections")">@dcollection.title</a></td>
		                </tr>
		                }
		              </tbody>
		            </table>
		          </div>
	          </div>
			</ul>
		</div>
    </article>
    
}


