@(title: String, user: User, dcollections: List[DCollection], searchstr: String)

@main(title, user){
    <div id="content"> 
	    <h1>Collections</h1>
	
	    <article class="collections">
	        <div class="col-lg-6">	        
	          <div class="panel panel-primary" id="collectionsearchpanel">
	            <div class="panel-heading">Enter name to search for collection
	            </div>
			    <div class="panel-body">		            
			      <div id="forms">
			        <form class="filter-form" action="@routes.CollectionEdit.filter()" method="POST">
			            <div class="form-group">
				            <ul class="nav navbar-nav">
				              <li><input class="lookup-form-control" id="inputName" name="name" type="text" value="@searchstr"></li>
				              <li><button type="submit" class="btn btn-success" id="search" name="search" title="Search for collection by name">Search</button></li>	
							  @if(user.hasRole("sys_admin") || user.hasRole("archivist")) {
				              <li><button type="addentry" class="btn btn-success" id="addentry" name="addentry" title="Add new collection">Add</button></li>
				              }	
			                </ul>  			              
			            </div>
			        </form>
			      </div>
			    </div>
	        </div>
	    
			<div class="folder">
				<ul class="list">
					<table id="collectionstable" class="table table-striped table-bordered table-hover table-condensed">
		              <thead>
		                <tr>
		                  <th>Title</th>
		                </tr>
		              </thead>
		              <tbody>
		              	@dcollections.map { dcollection =>		              
		                <tr>
		                  <td><a href="@routes.CollectionEdit.view(dcollection.url)">@dcollection.title</a></td>
		                </tr>
		                }
		              </tbody>
		            </table>
		          </div>
				</ul>
			</div>
	    </article>
	    
    </div>    
}


