@(title: String, user: User, targets: List[Target], curators: List[User])

@main(title, user){
    
    <h1>Special Dispensation Sites</h1>
    
    <article  class="targets">
		<div class="folder">
			<div class="row">
		        <div class="col-lg-6">	        
		          <div class="panel panel-primary" id="panels">
		            <div class="panel-heading">URL
		            </div>
				      <div id="forms">
				        <form class="filter-form" action="@routes.DispensationSites.filterUrl()" method="POST">
				            <div class="form-group">
				              <input class="form-control" id="inputName" name="url" placeholder="http://www.bbc.co.uk" type="text">
				              <p class="urlsearchp">Enter URL to search for, e.g. 'http://www.bbc.co.uk'</p> 
				              <p class="urlsearchp">No ACT entries match that URL.</p>
				            </div>
				            <button type="submit" class="btn btn-success">Apply</button>
				        </form>
				      </div>
		          </div>
		</div>
    </article>
    
}

