@(title: String, user: User, targets: List[Target], curators: List[User])

@main(title, user){
    
    <header>
        <hgroup>
            <h2>Duplicate URLs</h2>
        </hgroup>
    </header>
    
    <article  class="targets">
    	<div class="folder">
            <h3>Duplicate URLs</h3>
		</div>    
		<div class="folder">
			<header>
				<span class="loader">Loading</span>
			</header>
			<div class="row">
		        <div class="col-lg-6">
			
			<ul class="list">
				<div class="panel panel-default" id="tables">
					<script >
							$(function() {
							$("table#targetstable").tablesorter({ sortList: [[1,0]] });
							});
					</script>
					<table id="targetstable" class="tablesorter table table-striped table-bordered table-condensed zebra-striped">
		              <thead>
		                <tr>
		                  <th>URL Count</th>
		                  <th>URL(s)</th>
		                </tr>
		              </thead>
		              <tbody>
		              	@targets.map { target =>		              
		                <tr>
                          @if(target.getDuplicateNumber() > 1) { 
		                  <td>@target.getDuplicateNumber()</td>
		                  <td><a class="brand" href="@target.get_field_list_as_str("field_url")">@target.get_field_list_as_str("field_url")</a></td>
						}	
		                </tr>
		                }
		              </tbody>
		            </table>
		          </div>
		          <div class="row">
			        <div class="col-lg-6">
			          <div class="panel panel-default" id="pagination">
			            <div class="panel-heading">Pagination
			            </div>
			            <ul class="pagination" style="margin-right: 10px;">
			              <li>
			                <a href="#">Prev</a>
			              </li>
			              <li>
			                <a href="#">1</a>
			              </li>
			              <li>
			                <a href="#">2</a>
			              </li>
			              <li>
			                <a href="#">3</a>
			              </li>
			              <li>
			                <a href="#">4</a>
			              </li>
			              <li>
			                <a href="#">Next</a>
			              </li>
			            </ul>
			          </div>
		          </div>
		         </div>
		          	
		        </div>
		          
	          </div>
			</ul>
		</div>
    </article>
    
}

