@(title: String, user: User, targets: List[Target], curators: List[User])

@main(title, user){
    
    <h1>Key Sites</h1>
    
    <article  class="keysites">
		<div class="folder">
			<div class="row">
	          <div class="panel panel-primary col-lg-6" id="panels">
	            <div class="panel-heading">URL
	            </div>
			      <div class="panel panel-default col-lg-6" id="forms">
			        <form class="filter-form" action="@routes.KeySites.filterUrl()" method="POST">
			            <div class="filter-group">
			              <input class="filter-control" id="inputName" name="url" placeholder="http://www.bbc.co.uk" type="text">
			              <br>Enter URL to search for, e.g. 'http://www.bbc.co.uk' 
			            </div>
			            <button type="submit" class="btn btn-default">Apply</button>
			        </form>
			        <hr>
		        </div>
		        </div>
		        <div class="col-lg-6">
					<ul class="list">
					<script >
							$(function() {
							$("table#targetstable").tablesorter({ sortList: [[1,0]] });
							});
					</script>
					<table id="targetstable" class="tablesorter table table-striped table-bordered table-condensed zebra-striped">
		              <thead>
		                <tr>
		                  <th>Title</th>
		                  <th>Crawl Frequency</th>
		                  <th>User</th>
		                  <th>QA Status</th>
		                </tr>
		              </thead>
		              <tbody>
		              	@targets.map { target =>		              
		                <tr>
		                  <td><a class="brand" href="@target.url">@target.title</a><br><a class="brand" href="@target.get_field_list_as_str("field_url")">@target.get_field_list_as_str("field_url")</a></td>
		                  <td>@target.field_crawl_frequency</td>
		                  <td><a href="@routes.UserEdit.edit(target.author)">@target.get_user_by_id()</a></td>
		                  <td>QA issue</td>
		                </tr>
		                }
		              </tbody>
		            </table>
		          </div>
		        </div>
			</ul>
		</div>
    	<div class="panel panel-default" id="pagination">
	        <div class="panel-heading">Pagination
	        </div>
	        <ul class="pagination" style="margin-right: 10px;">
	          <li>
	            <a href="#">Prev</a>
	          </li>
	          <li>
	            <a href="#">1</a>
	          </li>
	          <li>
	            <a href="#">2</a>
	          </li>
	          <li>
	            <a href="#">3</a>
	          </li>
	          <li>
	            <a href="#">4</a>
	          </li>
	          <li>
	            <a href="#">Next</a>
	          </li>
	        </ul>
	    </div>		
    </article>
    
}

