@(form: Form[ApplicationController.Login])
<!DOCTYPE html>
<html lang="en"><head>
<title>W3ACT</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
<link rel="stylesheet" type="text/css" media="screen"
	href="@routes.Assets.at("stylesheets/blue/style.css")">
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-play-1.7.1.js")"></script>
<script src="@routes.Assets.at("bootstrap/dist/js/bootstrap.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/underscore-min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/backbone-min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/main.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.tablesorter.min.js")"></script>
<script type="text/javascript"
	src="@routes.ApplicationController.javascriptRoutes"></script>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="@routes.ApplicationController.index">
				<image src="@routes.Assets.at("images/ukwa-icon-nobg-16.png")" />
					W3ACT
			</a>
		</div>
	</nav>
	<div class="container">
		@helper.form(routes.ApplicationController.authenticate, 'class -> "form-horizontal") { 
			<div class="alert alert-info">
				Please use your e-mail as a user name e.g. <em>sample@@sample.com</em>
				with your w3act password.
			</div>
		
			@if(form.hasGlobalErrors) {
				<div class="alert alert-danger">@form.globalError.message</div>
			} 
			@if(flash.contains("success")) {
				<div class="alert alert-success">@flash.get("success")</div>
			}

			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
				<div class="col-sm-10">
					<input type="email" name="email" placeholder="Email" id="email"
						value="@form("email").value" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
				<div class="col-sm-10">
					<input type="password" name="password" placeholder="Password" id="password"
						class="form-control">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				    <input type="hidden" name="redirectToUrl" value="@flash.get("url")"/>
					<button class="btn btn-success navbar-btn loginbtn" type="submit"
						name="submit" id="submit">Login</button>  <a href="@routes.ResetController.showEmailForm()">Forgotten Password</a>
				</div>
			</div>
		}

		<blockquote>
			<p>W3ACT description</p>
		</blockquote>

	</div>
</body>
</html>



