@(title: String, user: User)(body: Html)

<html>
    <head>
        <title>W3ACT</title>
        <meta charset="utf-8">        
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/blue/style.css")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-play-1.7.1.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/underscore-min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/backbone-min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.tablesorter.min.js")"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
        <script>
		$(function() {
			$( "#datepicker" ).datepicker();
		});
		$(function() {
			$( "#datepicker2" ).datepicker();
		});
		</script>
    </head>
    <body>
      <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.About.index">W3ACT</a>
           </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="@routes.About.index">About</a></li>
			  <li><a href="@routes.DCollections.index()">Collections</a></li> 
			  <li><a href="@routes.Targets.index()">Targets</a></li>
			  <li><a href="@routes.Organisations.index()">Organisations</a></li>
			  <li><a href="@routes.Curators.index()">Curators</a></li>
			  @if(user.hasRole("sys_admin")) {
			  <li><a href="@routes.RoleEdit.index()">Roles</a></li>
			  <li><a href="@routes.PermissionEdit.index()">Permissions</a></li>
			  }
			  <li><a href="@routes.Contact.index">Contact</a></li>
            </ul>
            <div class="pull-right" style="color:#fff;">
              @user.name <span style="margin-right:10px;">(@user.email)</span>
	          <a class="btn btn-success navbar-btn" href="@routes.Application.logout()">Logout</a>
	        </div>
          </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
      </div><!-- /.navbar -->
      
      <div class="container content-container">
      
        <div class="row row-offcanvas row-offcanvas-right">
          <div class="col-xs-12 col-sm-9">
            @body
          </div>
        </div>
      </div>
    </body>
</html>

