@(title: String, user: User, organisations: List[Organisation])

@main(title, user){
    
    <header>
        <hgroup>
            <h2>Organisations</h2>
        </hgroup>
    </header>
    <article  class="organisations">
    	<div class="folder">
            <h3>Organisations</h3>
		</div>
		<div class="folder">
			<ul class="list">
		            <script >
							$(function() {
							$("table#targetstable").tablesorter({ sortList: [[1,0]] });
							});
					</script>
					<table id="targetstable" class="tablesorter table table-striped table-bordered table-condensed zebra-striped">
		              <thead>
		                <tr>
		                  <th>Title</th>
		                </tr>
		              </thead>
		              <tbody>
		              	@organisations.map { organisation =>		              
		                <tr>
		                  <td><a href="@routes.OrganisationEdit.edit(organisation.url)">@organisation.title</a></td>
		                </tr>
		                }
		              </tbody>
		            </table>
		          </div>
			</ul>
		</div>
    </article>
    
    
}


