@(organisation: Organisation, user: User)


@main("", user){
    
    <h1>Organisation @organisation.title</h1>
	<div class="targettabs">    
		<ul class="nav nav-tabs">
		   <li class="active"><a href="@routes.OrganisationEdit.view(organisation.url)" class="navbar-brand btn btn-success">View</a></li>
		   <li><a href="@routes.OrganisationEdit.sites(organisation.url)" class="navbar-brand btn btn-success">Sites</a></li> 
		   @if(user.hasRole("sys_admin")) {
		   <li><a href="@routes.OrganisationEdit.edit(organisation.url)" class="navbar-brand btn btn-success">Edit</a></li>
		   <li><a href="@routes.OrganisationEdit.admin(organisation.url)" class="navbar-brand btn btn-success">User administration</a></li>
		   }
		</ul>
	</div>
    
    <article class="organisationdetails">
      <div class="panel panel-default" id="forms">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
	        <form>
	          <fieldset>
	            <div class="container">
	            	<div class="row">
	              		<label>Title: @organisation.title</label>
					</div>
	            </div>
	            <div class="container">
	            	<div class="row">
	              		<label>Abbreviation: @organisation.field_abbreviation</label>
	              		<br>An abbreviation for this organisation (no more that 8 characters). e.g. 'BL', 'NLS', 'NLW' etc.
					</div>
	            </div>
	            <div class="container">
	            	<div class="row">
	              		<label>Description: @organisation.summary</label>
					</div>
	            </div>
	            <div class="container">
	            	<div class="row">
	              		<label>Revision log message: @organisation.revision</label>
	        		    <br>Provide an explanation of the changes you are making. This will help other authors understand your motivations. 
					</div>
	            </div>
	          </fieldset>
	        </form>
	      </div>
       </div>
    </article>
}
                   
	            


