@(currentPage: com.avaje.ebean.Page[_], link: (Int, String) => play.api.mvc.Call)

<div class="text-center">
	<ul class="pagination">
		@if(currentPage.hasPrev) {
			<li class="prev">
				<a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
			</li>
		} else {
			<li class="prev disabled">
				<a>&larr; Previous</a>
			</li>
		}
		<li class="current">
			<a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
		</li>
		@if(currentPage.hasNext) {
			<li class="next">
				<a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
			</li>
		} else {
			<li class="next disabled">
				<a>Next &rarr;</a>
			</li>
		}
	</ul>
</div>