@(permission: Permission, user: User)


@main("", user){
    
    <h1>Edit permission @permission.name</h1>
	<div class="targettabs">    
		<ul class="nav nav-tabs">
		   <li><a href="@routes.PermissionEdit.view(permission.url)" class="navbar-brand btn btn-success">View</a></li>
		   @if(user.hasRole("sys_admin")) {
		   <li class="active"><a href="@routes.PermissionEdit.edit(permission.url)" class="navbar-brand btn btn-success">Edit</a></li>
		   }
		</ul>
	</div>
    
    <article class="permissiondetails">
      <div class="panel panel-default" id="forms">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
	        <form action="@routes.PermissionEdit.save()" method="POST">
	          <fieldset>
          		<input type="hidden" name="url" value="@permission.url">
          	    <input type="hidden" name="id" value="@permission.id">
	          
	            <div class="form-group">
	              <label for="inputName">Name <font color="red">*</font></label>
	              <input class="form-control" name="name" id="inputTitle" value="@permission.name" type="text">
	            </div>
	            <div class="form-group">
	               <label for="inputDescription">Description</label><br>
	               <textarea name="description" id="inputDescription" value="@permission.description" cols="100" rows="1">@permission.description</textarea>
	            </div>
		        <div id="revision" class="revision">
	  				<div class="form-group">
	  			       <hr>
		               <label for="inputBody">Revision log message</label>
		               <textarea class="text-full form-textarea" name="revision" id="inputRevision" cols="100" rows="1"></textarea>
	        		   <br>Provide an explanation of the changes you are making. This will help other authors understand your motivations. 
					</div>
				</div>
	            
	            <button type="save" class="btn btn-primary" name="save">Save</button>
	            <button type="delete" class="btn btn-primary" name="delete">Delete</button>
	          </fieldset>
	        </form>
	      </div>
       </div>
    </article>
    
    
}

