@(title: String, user: User, dcollections: List[DCollection])

@main(title, user){

    <h1>Create Special Collection</h1>

    <article  class="about">
      <div class="panel panel-default" id="forms">
        <div class="panel-heading">
        </div>
        <form>
          <fieldset>
            <legend>Legend</legend>
            <div class="form-group">
              <label for="inputTitle">Title*</label>
              <input class="form-control" id="inputTitle" placeholder="My title" type="text">
            </div>
            <div id="summary" class="collapse" data-toggle="collapse" data-target="#demo">
			   <div class="form-group">
                    <label for="inputSummary">Summary</a></label>
               		<textarea name="summary" id="inputSummary" cols="50" rows="10"></textarea>
               		<br>Leave blank to use trimmed value of full text as the summary.
	           </div>
            </div>
            <div class="form-group">
              <label for="inputDescription">Description</label><a href="#" data-toggle="collapse" data-target="#summary">(Edit Summary)</a>
               <textarea name="user_eingabe" id="inputDescription" cols="50" rows="10"></textarea>
            </div>
				  <h3>Parent Collection</h3>
				  <select id="mySel">
		                <option>- None -</option>
				  		@dcollections.map { dcollection =>		              
		                <option>@dcollection.title</option>
		                }
				  </select>
				  <br>
				  <h4>The Collection to which this one belongs</h4>				  
				  <a href="#">Show row weights</a>
            <div class="form-group">
              <label for="inputSites">Sites</label>
              <input class="form-control" id="inputSites" placeholder="My site" type="text">
              <button type="item" class="btn btn-default">Add another item</button>
            </div>
            <div class="form-group">
                <li>Revision information</li>
                <li>New revision(active tab)</li>
	            <div class="form-group">
	              <label for="inputBody">Revision log message</a></label>
	               <textarea name="revision_input" id="inputRevision" cols="50" rows="10"></textarea>
        		   <br>Provide an explanation of the changes you are making. This will help other authors understand your motivations. 
	            </div>
			</div>
            
            <button type="save" class="btn btn-default">Save</button>
            <button type="preview" class="btn btn-default">Preview</button>
          </fieldset>
        </form>
        <hr>
      </div>

    </article>
}

