@(target: Target, user: User)


@main("", user){
    
    <header>
        <hgroup>
            <h2>target.title</h2>
        </hgroup>
        <div id="usermenu">
			<ul class="nav nav-tabs">
			   <li><a href="@routes.TargetEdit.view(target.url)" class="navbar-brand">View</a></li>
			   <li><a href="@routes.TargetEdit.edit(target.url)" class="navbar-brand">Edit</a></li> 
			</ul>
        </div>
    </header>
    
    <article class="targetdetails">
        <div class="folder">
            <h3>Edit target @target.title</h3>
		</div>
      <div class="panel panel-default" id="forms">
        <div class="panel-heading">
        </div>
        <form action="@routes.TargetController.saveTarget()" method="POST">
          <fieldset>
            <legend>Legend</legend>
            <div class="form-group">
              <label for="inputTitle">Title <font color="red">*</font></label>
              <input class="form-control" name="title" id="inputTitle" placeholder="My title" type="text" value=@target.title>
            </div>
            <div class="form-group">
              <label for="inputUrls">URL(s) <font color="red">*</font></label>
              <input class="form-control" name="url" id="url" placeholder="url1, url2" type="text" value=@target.url>
              <h4>One or more URLs.</h4>
              <button type="item" class="btn btn-success">Add another item</button>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="@target.field_key_site">Key Site</label>
                <br>
                Is this a 'key site', i.e. one of such significance that it requires higher levels of QA and archival management. 
            </div>
            <div class="container">
			   <div class="row">
			     <h4>QA Status</h4>
			  		<label class="radio-inline">
			          <input name="radioGroup" id="radio1" value="N/A" type="radio"> N/A
			        </label>
			        <label class="radio-inline">
			          <input name="radioGroup" id="radio2" value="No QA issues found" type="radio"> No QA issues found
			        </label>
			        <label class="radio-inline">
			          <input name="radioGroup" id="radio3" value="QA issue" type="radio"> QA issue
			        </label>			      
			  	</div>
			</div>
            <div class="container">
			   <div class="row">
			     <h4>Live Site Status </h4>
			  		<label class="radio-inline">
			          <input name="radioGroup2" id="radio1" value="N/A" type="radio"> N/A
			        </label>
			        <label class="radio-inline">
			          <input name="radioGroup2" id="radio2" value="Still live" type="radio"> Still live 
			        </label>
			        <label class="radio-inline">
			          <input name="radioGroup2" id="radio3" value="No longer updated" type="radio"> No longer updated 
			        </label>			      
			        <label class="radio-inline">
			          <input name="radioGroup2" id="radio4" value="Vanished" type="radio"> Vanished
			        </label>			      
			  	</div>
			  	<br>If know, please add the current status of the site.
			</div>							  
            <div class="form-group">
              <a href="#">Show row weights</a><br>
              <h5>Snapshots</h5>
              <label for="inputTimestamp">Timestamp <font color="red">*</font></label>
              <input class="form-control" id="inputTimestamp" placeholder="10123305092013" type="text" value="@target.created">
              <br>The fourteen character timestamp of this snapshot.
              	<div class="row">
			     <h4>QA Status</h4>
			  		<label class="radio-inline">
			          <input name="radioGroup" id="radio1" value="N/A" type="radio"> N/A
			        </label>
			        <label class="radio-inline">
			          <input name="radioGroup" id="radio2" value="No QA issues found" type="radio"> No QA issues found
			        </label>
			        <label class="radio-inline">
			          <input name="radioGroup" id="radio3" value="QA issue" type="radio"> QA issue
			        </label>			      
			  	</div>
              <br>Quality status of this snapshot.
              <button type="item" class="btn btn-success">Remove</button>
            </div>
            <div class="form-group">
            	Captured Instances of this site.<br>
            	<button type="item" class="btn btn-success">Add another item</button>
            </div>
            <div class="form-group">
              <h4>Metadata</h4>
              <label for="inputDescription">Description</label>
               <textarea name="description" id="inputDescription" cols="50" rows="10" value="@target.field_description"></textarea>
               <br>A description of this web site.
	             <div class="container">
					  <h3>Subject</h3>
					  <select id="mySel">
			                <option>- None -</option>
			                <option value="10">Arts &amp; Humanities</option>
			                <option value="11">Business, Economy &amp; Industry</option>
			                <option value="12">Education &amp; Research</option>
			                <option value="13">Government, Law &amp; Politics</option>
			                <option value="14">Medicine &amp; Health</option>
			                <option value="15">Science &amp; Technology</option>
			                <option value="16">Society &amp; Culture</option>
					  </select>
				</div>
	             <div class="container">
					  <h3>Nominating Organisation</h3>
					  <select id="mySel">
			                <option>- None -</option>
			                @for(organisation <- Organisation.findAll()) {
			                <option>@organisation.title</option>
			                }
					  </select>
					  <br>
					  <h5>The organisation that nominated this web site. Used to track down further information if the original user cannot be contacted.</h5>				  
				</div>
	            <div class="form-group">
	              <label for="inputCollectionCategories">Collection Categories</label>
	                @for(collection <- DCollection.findAll()) {
			            <div class="checkbox">
			              <label><input type="checkbox">@collection.title</label>
			            </div>
	                }
		            <br>Selected items (click an item to uncheck it)
		            <div class="container">
						  <h3>Suggested Special Collections</h3>
						  <select id="mySel">
				                <option>- None -</option>
				                @for(collection <- DCollection.findAll()) {
				                <option>@collection.title</option>
				                }
						  </select>
						  <br>
						  <h5>Special collections that you think this web site should appear in.</h5>				  
					</div>
	            </div>                        
	            <div class="form-group">
	              <label for="inputWCT">WCT ID</label>
	              <input class="form-control" id="inputWCT" placeholder="0" type="text">
	              <label for="inputSPT">SPT ID</label>
	              <input class="form-control" id="inputSPT" placeholder="0" type="text">
	            </div>      
            </div>    
            <div class="form-group">
              <h4>Crawl Policy</h4>
	            <div class="container">
					  <h3>Scope <font color="red">*</font></h3>
					  <select id="mySel">
			                <option value="resource">Just this URL.</option>
			                <option value="plus1">This URL plus any directly linked resources.</option>
			                <option value="root" selected="selected">All URLs that start like this.</option>
			                <option value="subdomains">All URLs that match match this host or any subdomains.</option>
					  </select>
					  <br>
					  <h5>Select the scope of the crawl around this URL. In general, when nominating a site for crawling, you should specify the homepage and say 'All URLs that start like this'. If you wish to include all subdomains (e.g. example.co.uk but also anything like www.example.co.uk, images.example.co.uk, etc.) then select the 'any subdomains' option.</h5>				  
				</div>
				<div class="row">
			     <h4>Depth <font color="red">*</font></h4>
			  		<label class="radio-inline">
			          <input name="radioGroup" id="radio1" value="Capped (small - 500MB)" type="radio"> Capped (small - 500MB) 
			        </label>
			        <label class="radio-inline">
			          <input name="radioGroup" id="radio2" value="Capped (large - 2GB)" type="radio"> Capped (large - 2GB)
			        </label>
			        <label class="radio-inline">
			          <input name="radioGroup" id="radio3" value="Uncapped" type="radio"> Uncapped
			        </label>			      
			  	</div>
	            <div class="checkbox">
	              <label><input type="checkbox">Ignore Robots.txt</label>
	            </div>
	            <br>Should we ignore Robots.txt while crawling this site? Note that although this may lead to us exploring more crawler traps, this does not present much of a problem to our crawling systems.
 				<br><label for="edit-field-crawl-frequency-und">Crawl Frequency <span class="form-required" title="This field is required."><font color="red">*</font></span></label>
 				<select id="edit-field-crawl-frequency-und" name="field_crawl_frequency" class="form-select required">
 					<option value="domaincrawl" selected="selected">Domain Crawl Only</option>
 					<option value="annual">Annually</option>
 					<option value="sixmonthly">Six-monthly</option>
 					<option value="quarterly">Quarterly</option>
 					<option value="monthly">Monthly</option>
 					<option value="Monthly">Old-Monthly-DO-NOT-USE</option>
 					<option value="weekly">Weekly</option>
 					<option value="daily">Daily</option>
 				</select>
				<div class="description">How often should this site be archived?</div>
	        </div>    
            <div class="form-group">
              <h4>Crawl Permissions</h4>
	            <div class="container">
					  <h3>Scope <font color="red">*</font></h3>
					  <select id="mySel">
			                <option value="resource">Just this URL.</option>
			                <option value="plus1">This URL plus any directly linked resources.</option>
			                <option value="root" selected="selected">All URLs that start like this.</option>
			                <option value="subdomains">All URLs that match match this host or any subdomains.</option>
					  </select>
					  <br>
					  <h5>Select the scope of the crawl around this URL. In general, when nominating a site for crawling, you should specify the homepage and say 'All URLs that start like this'. If you wish to include all subdomains (e.g. example.co.uk but also anything like www.example.co.uk, images.example.co.uk, etc.) then select the 'any subdomains' option.</h5>				  
				</div>
			  <label for="edit-field-license-und">License </label>
			 <select multiple="multiple" name="field_license" id="edit-field-license" class="form-select">
			 	<option value="_none">- None -</option>
			    @for(taxonomy <- Targets.getLicense()) {
			 	<option>@taxonomy.name</option>
			    }	
			 </select>
			<div class="description">The license terms under which this site should be archived and made available.</div>
			</div>
			</div>
			<fieldset><legend><span class="fieldset-legend">Legal Deposit Criteria</span></legend>
			<div class="fieldset-wrapper"><div></div><div><div>
 				<input type="checkbox" id="edit-field-uk-hosting" name="field_uk_hosting" value="1" class="form-checkbox" />  
 				<label class="option" for="edit-field-uk-hosting-und">UK Hosting </label>
			<div class="description">The domain is hosted in the UK.</div>
			</div>
			</div>
			<div id="edit-field-uk-geoip"></div><div><div class="form-item form-type-checkbox form-item-field-uk-postal-address">
 				<input type="checkbox" id="edit-field-uk-postal-address" name="field_uk_postal_address" value="1" />  
 				<label class="option" for="edit-field-uk-postal-address-und">UK Postal Address </label>
			<div class="description">The 'about us' or other contact page contains a UK address for a significant part of the organisation (e.g. it is not just a PO box).</div>
			</div>
			</div>
			<div><div><div>
  				<label for="edit-field-uk-postal-address-url-und-0">Postal Address URL </label>
 				<div><div><div>
  				<label class="element-invisible" for="edit-field-uk-postal-address-url-und-0-url">URL </label>
 				<input type="text" name="field_uk_postal_address_url" value="" size="60" maxlength="2048" class="form-text" />
				</div>
				</div></div>
				<div class="description">The URL on the site that contains the postal address used to determine that the site is in the UK.</div>
			</div>
			</div></div>
			<div><div>
 				<input type="checkbox" name="field_via_correspondence" value="1" class="form-checkbox" />  
 				<label class="option" for="edit-field-via-correspondence-und">Via Correspondence </label>
			<div class="description">Previous correspondence with the web site owner by a Curator contains evidence of a UK address.</div>
			</div>
			</div>
			<div><div><div><div></div><div>
  				<label for="edit-body-und-0-value">Notes </label>
 			<div class="form-textarea-wrapper resizable">
 				<textarea name="body" cols="60" rows="5"></textarea></div>
			</div>
			<div class="description">Any relevant notes, e.g. a more detailed description of this URL or set of URLs.</div></div>
			</div></div>
			<div><div>
 				<input type="checkbox" name="field_professional_judgement" value="1" class="form-checkbox" />  
 				<label class="option" for="edit-field-professional-judgement-und">Professional Judgement </label>
			<div class="description">In your professional judgement, does this site qualify as a UK Publication under the terms of the Legal Deposit Legislation. Please provide details of evidence used in the box below.</div>
			</div>
			</div>
			<div><div><div>
  				<label for="edit-field-professional-judgement-exp-und-0-value">Professional Judgement Explanation </label>
 				<div class="form-textarea-wrapper resizable">
 					<textarea class="text-full form-textarea" name="field_professional_judgement_exp" cols="60" rows="5"></textarea></div>
			<div class="description">Please describe the rational behind this decision, indicating any evidence used.</div>
			</div>
			</div></div>
			<div><div>
 				<input type="checkbox" name="field_special_dispensation" value="1" class="form-checkbox" />  
 				<label class="option" for="edit-field-special-dispensation-und">Special Dispensation </label>
			<div class="description">Tick this box to indicate that, although it falls under none of the other categories, special dispensation has been given to download this URL. Currently, this is allowed under limited circumstances in order to explore the process around archiving social media relating to UK organisations and individuals. </div>
			</div>
			</div>
			<div><div><div>
			    <label for="edit-field-special-dispensation-reaso-und-0-value">Special Dispensation Reason </label>
 			<div class="form-textarea-wrapper resizable">
 				<textarea name="field_special_dispensation_reaso" cols="60" rows="5"></textarea></div>
			<div class="description">If you have selected Special Dispensation as the reason, you must use this field to provide details of who has authorised this decision and why.</div>
			</div>
			</div></div>
			<div><div>
 				<input type="checkbox" name="field_no_ld_criteria_met" value="1" class="form-checkbox" />  
 				<label class="option" for="edit-field-no-ld-criteria-met-und">No LD Criteria Met </label>
			<div class="description">Use this to indicate that no LD criteria apply, and so this site cannot be archived under Legal Deposit.</div>
			</div>
			</div>          
            <div></div>
            <div><div><div><div>
			  <label for="edit-field-notes-und-0-value">Notes </label>
 			<div class="form-textarea-wrapper resizable">
 				<textarea class="text-full form-textarea" name="field_notes" cols="60" rows="5"></textarea></div>
			</div>
			<div class="description">Add any additional notes about this site here.</div></div>
                        			
            <div class="form-group">
                <li>Revision information</li>
                <li>New revision(active tab)</li>
	            <div class="form-group">
	              <label for="inputBody">Revision log message</a></label>
	               <textarea name="revision_input" id="inputRevision" cols="50" rows="10"></textarea>
        		   <br>Provide an explanation of the changes you are making. This will help other authors understand your motivations. 
	            </div>
			</div>
            
            <button type="save" class="btn btn-primary" id="edit-save" name="save">Save</button>
            <button type="preview" class="btn btn-primary" name="preview">Preview</button>
            <button type="delete" class="btn btn-primary" name="delete">Delete</button>
          </fieldset>
        </form>
        <hr>
      </div>
    </article>
    
    
}

