@(title: String, user: User, targets: List[Target])

@main(title, user){
    
    <header>
        <hgroup>
            <h2>Targets overview</h2>
        </hgroup>
    </header>
    
    <article  class="targets">
		<div class="folder">
			<header>
				<span class="loader">Loading</span>
			</header>
			<ul class="list">
				@targets.map { target =>
					<h2>@target.nid&nbsp;@target.vid&nbsp;@target.title&nbsp;<a class="brand" href="#">@target.url</a></h2>
				}
			</ul>
		</div>
    </article>
    
}

