@(title: String, user: User, taxonomies: List[Taxonomy], curators: List[User])

@main(title, user){
    
    <h1>Edit Taxonomies</h1>
    
    <article  class="targets">
		<div class="folder">
			<div class="row">
			    <p class="taxonomiesp">Taxonomy is for categorizing content. Terms are grouped into vocabularies. For example, a vocabulary called "Fruit" would contain the terms "Apple" and "Banana".</p>
		        <div class="col-lg-6">
				<ul class="list">
				<!--a href="#">Add vocabulary</a><br>
				<a href="#">Show row weights</a><br-->
					<script >
							$(function() {
							$("table#taxonomiestable").tablesorter({ sortList: [[1,0]] });
							});
					</script>
					<table id="taxonomiestable" class="tablesorter table table-striped table-bordered table-condensed zebra-striped">
		              <thead>
		                <tr>
		                  <th>Vocabulary name</th>
		                  <th>Operations</th>
		                </tr>
		              </thead>
		              <tbody>
		              	@taxonomies.map { taxonomy =>		              
		                <tr>
		                  <td><a class="brand" href="@routes.TaxonomyEdit.edit(taxonomy.url)">@taxonomy.name</a></td>
		                  <td><a href="#">edit vocabulary</a></td>
		                  <td><a href="#">list terms</a></td>
		                  <td><a href="#">add terms</a></td>
		                </tr>
		                }
		              </tbody>
		            </table>
		          <div class="row">
			        <div class="col-lg-6">
			          <div class="panel panel-default" id="pagination">
			            <div class="panel-heading">Pagination
			            </div>
			            <ul class="pagination" style="margin-right: 10px;">
			              <li>
			                <a href="#">Prev</a>
			              </li>
			              <li>
			                <a href="#">1</a>
			              </li>
			              <li>
			                <a href="#">2</a>
			              </li>
			              <li>
			                <a href="#">3</a>
			              </li>
			              <li>
			                <a href="#">4</a>
			              </li>
			              <li>
			                <a href="#">Next</a>
			              </li>
			            </ul>
			          </div>
		          </div>
		         </div>
		          	
		        </div>
		          
	          </div>
			</ul>
			<button type="save" class="btn btn-default">Save</button>
		</div>
    </article>
    
}

