@(taxonomy: Taxonomy, user: User)


@main("", user){
    
    <h1>@taxonomy.name</h1>
    <ul class="nav nav-tabs">
	   <li><a href="@routes.TaxonomyEdit.view(taxonomy.url)" class="navbar-brand btn btn-success">View</a></li>
	   <li><a href="@routes.TaxonomyEdit.edit(taxonomy.url)" class="navbar-brand btn btn-success">Edit</a></li> 
	</ul>
        
    <article class="taxonomydetails">
      <div class="panel panel-primary" id="panels">
         @for(target <- Targets.getTargetsForTaxonomy(taxonomy.url)) {
            <div class="panel-footer">
               <ul>
                  <li>@target.title</li>
                  <li><a href="@target.url">@target.url</a></li>
                  <li><a href="@routes.Curators.edit(target.author)">@target.get_user_by_id()</a></li>
                  @if(target.field_nominating_organisation != null) { 
    	              <li><a href="@routes.Organisations.edit(target.field_nominating_organisation)">@Organisation.findByUrl(target.field_nominating_organisation).title</a></li>
                  } else {
	                  <li></li>
                  }	
               </ul>
            </div>
         }
      </div>
    </article>    
}
