@(taxonomy: Taxonomy, user: User)


@main("", user){
    
    <h1>Edit Taxonomy @taxonomy.name</h1>
    <ul class="nav nav-tabs">
	   <li><a href="@routes.TaxonomyEdit.view(taxonomy.url)" class="navbar-brand btn btn-success">View</a></li>
	   <li><a href="@routes.TaxonomyEdit.edit(taxonomy.url)" class="navbar-brand btn btn-success">Edit</a></li> 
	</ul>
    
    <article class="taxonomydetails">
        <div class="folder">
            <h3>@taxonomy.name</h3>
		</div>
      <div class="panel panel-default" id="forms">
        <div class="panel-heading">
        </div>
        <form>
          <fieldset>
            <legend>Legend</legend>
            <div class="form-group">
              <label for="inputName">Name*</label>
              <input class="form-control" id="inputName" placeholder="My name" type="text">
            </div>
            <div class="form-group">
              <label for="inputDescription">Description</label><a href="#" data-toggle="collapse" data-target="#summary">(Edit Summary)</a>
               <textarea name="user_eingabe" id="inputDescription" cols="50" rows="10"></textarea>
            </div>
            </div>            
            <div id="relations" class="collapse" data-toggle="collapse" data-target="#demo">
			   <div class="form-group">
                    <label for="inputParentTerms">Parent terms</a></label>
		            <input class="form-control" id="inputParentTerms" placeholder="My name" type="text">
                    <label for="inputWeight">Weight*</a></label>
		            <input class="form-control" id="inputWeight" placeholder="21" type="text">
               		<br>Terms are displayed in ascending order by weight.
	           </div>
            </div>
            
            <button type="save" class="btn btn-default">Save</button>
            <button type="delete" class="btn btn-default">Delete</button>
          </fieldset>
        </form>
        <hr>
      </div>

          </div>

    </article>
    
    
}

