@(taxonomy: Taxonomy, user: User)


@main("", user){
    
    <header>
        <hgroup>
            <h2>taxonomy.name</h2>
        </hgroup>
        <div id="usermenu">
			<ul class="nav nav-tabs">
			   <li><a href="@routes.TaxonomyEdit.view(taxonomy.url)" class="navbar-brand">View</a></li>
			   <li><a href="@routes.TaxonomyEdit.edit(taxonomy.url)" class="navbar-brand">Edit</a></li> 
			</ul>
        </div>
    </header>
    
    <article class="taxonomydetails">
        <div class="folder">
            <h3>@taxonomy.name</h3>
		</div>
      <div class="panel panel-primary" id="panels">
         @for(target <- Targets.getTargetsForTaxonomy(taxonomy.url)) {
            <div class="panel-footer">
               <ul>
                  <li>@target.title</li>
                  <li><a href="@target.url">@target.url</a></li>
                  <li><a href="@routes.UserEdit.edit(target.author)">@target.get_user_by_id()</a></li>
                  @if(target.field_nominating_organisation != null) { 
    	              <li><a href="@routes.OrganisationEdit.edit(target.field_nominating_organisation)">@Organisation.findByUrl(target.field_nominating_organisation).title</a></li>
                  } else {
	                  <li></li>
                  }	
               </ul>
            </div>
         }
      </div>
    </article>    
}
