@(user: User)


@main("", user){
    
    <header>
        <hgroup>
            <h2>User Bookmarks</h2>
        </hgroup>
        <div id="usermenu">
			<ul class="nav nav-tabs">
			   <li><a href="@routes.UserEdit.edit(user.url)" class="navbar-brand">View</a></li>
			   <li><a href="@routes.UserEdit.sites(user.url)" class="navbar-brand">My Sites</a></li> 
			   <li><a href="@routes.UserEdit.bookmarks(user.url)" class="navbar-brand">Bookmarks</a></li>
			</ul>
        </div>
    </header>
    
    <article class="userdetails">
        <div class="folder">
            <h3>This user has not yet bookmarked any content.</h3>
		</div>
    </article>
    
}

