@(user: User)


@main("", user){
    
    <h1>User Bookmarks</h1>
	<ul class="nav nav-tabs">
	   <li><a href="@routes.Curators.edit(user.url)" class="navbar-brand btn btn-success">View</a></li>
	   <li><a href="@routes.Curators.sites(user.url)" class="navbar-brand btn btn-success">My Sites</a></li> 
	   <li><a href="@routes.Curators.bookmarks(user.url)" class="navbar-brand btn btn-success">Bookmarks</a></li> 
	</ul>
    
    <article class="userdetails">
        <div class="folder">
            <h3>This user has not yet bookmarked any content.</h3>
		</div>
    </article>
    
}

