@(user: User)


@main("", user){
    
    <h1>Edit User @user.name</h1>
	<ul class="nav nav-tabs">
	   <li><a href="@routes.UserEdit.edit(user.url)" class="navbar-brand btn btn-success">View</a></li>
	   <li><a href="@routes.UserEdit.sites(user.url)" class="navbar-brand btn btn-success">My Sites</a></li> 
	   <li><a href="@routes.UserEdit.bookmarks(user.url)" class="navbar-brand btn btn-success">Bookmarks</a></li> 
	</ul>
    
    <article class="userdetails">
        <div class="folder">
            <br>Affiliation: @Organisation.findByUrl(user.field_affiliation).title
            <br>History
            <br>Member for 
            <br>@user.calculate_membership()
		</div>
    </article>
    
}

