@(user: User)


@main("", user){
    
    <header>
        <hgroup>
            <h2>User Edit</h2>
        </hgroup>
        <div id="usermenu">
			<ul class="nav nav-tabs">
			   <li><a href="@routes.UserEdit.edit(user.url)" class="navbar-brand">View</a></li>
			   <li><a href="@routes.UserEdit.sites(user.url)" class="navbar-brand">My Sites</a></li> 
			   <li><a href="@routes.UserEdit.bookmarks(user.url)" class="navbar-brand">Bookmarks</a></li>
			</ul>
        </div>
    </header>
    
    <article  class="targets">
        <div class="folder">
            <h3>@user.name</h3>
            <br>Affiliation: @Organisation.findByUrl(user.field_affiliation).title
            <br>History
            <br>Member for 
            <br>@user.calculate_membership()
		</div>
    </article>
    
}

