@(title: String, user: User, targets: List[Target], curators: List[User])

@main(title, user){
    
    <header>
        <hgroup>
            <h2>Targets</h2>
        </hgroup>
    </header>
    
    <article  class="targets">
		<div class="folder">
			<header>
				<span class="loader">Loading</span>
			</header>
			<div class="row">
				<div class="panel panel-primary col-lg-6" id="panels">
		            <div class="panel-heading">Filter by search term:
		            </div>
				      <div class="panel panel-default col-lg-6" id="forms">
				        <form class="filter-form" action="@routes.WebSites.filterUrl()" method="POST">
				            <div class="filter-group">
				              <input class="filter-control" id="inputName" name="url" placeholder="blue" type="text">
				              <br>Enter term to search for, e.g. 'blue'. You must include at least one positive keyword with 3 characters or more.
				            </div>
				            <button type="submit" class="btn btn-default">Apply</button>
				        </form>
				        <hr>
			        </div>
		        </div>
		        <div class="col-lg-6">	        
		        <div class="web-sites-table">			
					<ul class="list">
						<div id="tables">
							<script >
									$(function() {
									$("table#targetstable").tablesorter({ sortList: [[1,0]] });
									});
							</script>
							<table id="targetstable" class="tablesorter table table-striped table-bordered table-condensed zebra-striped">
				              <thead>
				                <tr>
				                  <th>Title</th>
				                  <th>Author</th>
				                  <th>Organisation</th>
				                </tr>
				              </thead>
				              <tbody>
				              	@targets.map { target =>		              
				                <tr>
				                  <td><a href="#">@target.title</a></td>
				                  <td><a href="@routes.UserEdit.edit(target.author)">@User.findByUrl(target.author).name</a></td>				                  
				                  @if(target.field_nominating_organisation != null && Organisation.findByUrl(target.field_nominating_organisation).url != null 
				                  	&& Organisation.findByUrl(target.field_nominating_organisation).title != null) {
				                  	<td><a href="@routes.OrganisationEdit.edit(Organisation.findByUrl(target.field_nominating_organisation).url)">
				                  		@Organisation.findByUrl(target.field_nominating_organisation).title</a></td>
				                  } else {
				                    <td></td>
				                  }
				                </tr>
				                }
				              </tbody>
				            </table>
				          </div>
				          <div class="row">
					        <div class="col-lg-6">
					          <div class="panel panel-default" id="pagination">
					            <div class="panel-heading">Pagination
					            </div>
					            <ul class="pagination" style="margin-right: 10px;">
					              <li>
					                <a href="#">Prev</a>
					              </li>
					              <li>
					                <a href="#">1</a>
					              </li>
					              <li>
					                <a href="#">2</a>
					              </li>
					              <li>
					                <a href="#">3</a>
					              </li>
					              <li>
					                <a href="#">4</a>
					              </li>
					              <li>
					                <a href="#">Next</a>
					              </li>
					            </ul>
					          </div>
				          </div>
				      </div>
		        </div>
	          </div>
			</ul>
		</div>
    </article>
    
}

