@(title: String, user: User, targets: List[Target], curators: List[User])

@main(title, user){
    
    <h1>Targets</h1>
    
    <article  class="targets">
		<div class="folder">
			<div class="row">
		        <div class="col-lg-6">	        
		          <div class="panel panel-primary" id="panels">
		            <div class="panel-heading">Filter by search term:
		            </div>
				      <div id="forms">
				        <form class="filter-form" action="@routes.WebSites.filterUrl()" method="POST">
				            <div class="form-group">
				              <input class="form-control" id="inputName" name="url" placeholder="british" type="text">
				              <p class="urlsearchp">Enter term to search for, e.g. 'british'. You must include at least one positive keyword with 3 characters or more.</p> 
				            </div>
				            <button type="submit" class="btn btn-success">Apply</button>
				        </form>
				      </div>
		          </div>
		        <div class="col-lg-6">	        
		        <div class="web-sites-table">			
					<ul class="list">
						<div id="tables">
							<!-- script >
									$(function() {
									$("table#websitestable").tablesorter({ sortList: [[1,0]] });
									});
							</script>
							<table id="websitestable" class="tablesorter table table-striped table-bordered table-condensed zebra-striped"-->
							<table class="table table-striped table-bordered table-hover table-condensed">
				              <thead>
				                <tr>
				                  <th>Title</th>
				                  <th>Author</th>
				                  <th>Organisation</th>
				                </tr>
				              </thead>
				              <tbody>
				              	@targets.map { target =>		              
				                <tr>
				                  <td><a href="@routes.TargetEdit.view(target.url)">@target.title</a></td>
				                  <td><a href="@routes.UserEdit.edit(target.author)">@User.findByUrl(target.author).name</a></td>				                  
				                  @if(target.field_nominating_organisation != null && Organisation.findByUrl(target.field_nominating_organisation).url != null 
				                  	&& Organisation.findByUrl(target.field_nominating_organisation).title != null) {
				                  	<td><a href="@routes.Organisations.view(Organisation.findByUrl(target.field_nominating_organisation).url)">
				                  		@Organisation.findByUrl(target.field_nominating_organisation).title</a></td>
				                  } else {
				                    <td></td>
				                  }
				                </tr>
				                }
				              </tbody>
				            </table>
				          </div>
				          <div class="row">
					        <div class="col-lg-6">
					          <div class="panel panel-default" id="pagination">
					            <div class="panel-heading">Pagination
					            </div>
					            <ul class="pagination" style="margin-right: 10px;">
					              <li>
					                <a href="#">Prev</a>
					              </li>
					              <li>
					                <a href="#">1</a>
					              </li>
					              <li>
					                <a href="#">2</a>
					              </li>
					              <li>
					                <a href="#">3</a>
					              </li>
					              <li>
					                <a href="#">4</a>
					              </li>
					              <li>
					                <a href="#">Next</a>
					              </li>
					            </ul>
					          </div>
				          </div>
				      </div>
		        </div>
	          </div>
			</ul>
		</div>
    </article>
    
}

