@(title: String, form: Form[JournalTitle], user: User, toDocument: Boolean)

@import helper.checkbox
@import helper.inputText
@implicitField = @{ helper.FieldConstructor(fieldConstructorTemplate.f) }

@scripts = {
	<script type="text/javascript">
		$(function() {
			$("#collectionTree").dynatree({
				checkbox: true,
				classNames: {checkbox: "dynatree-radio"},
				selectMode: 1,
				initAjax: {url: "/actdev/api/suggested_collections_filter/none"},
				onSelect: function(select, node) {
					// Get a list of all selected nodes, and convert to a key array:
					var selKeys = $.map(node.tree.getSelectedNodes(), function(node){
						return node.data.key;
					});
					document.getElementById('blCollectionSubset').value = selKeys.join(", ");
					// Get a list of all selected TOP nodes
					var selRootNodes = node.tree.getSelectedNodes(true);
					// ... and convert to a key array:
					var selRootKeys = $.map(selRootNodes, function(node){
						return node.data.key;
					});
				}
			});
			$("#subjectTree").dynatree({
				checkbox: true,
				classNames: {checkbox: "dynatree-radio"},
				selectMode: 1,
				initAjax: {url: "/actdev/api/subjects_filter/empty"},
				onSelect: function(select, node) {
					// Get a list of all selected nodes, and convert to a key array:
					var selKeys = $.map(node.tree.getSelectedNodes(), function(node){
						return node.data.key;
					});
					document.getElementById('subject').value = selKeys.join(", ");
					// Get a list of all selected TOP nodes
					var selRootNodes = node.tree.getSelectedNodes(true);
					// ... and convert to a key array:
					var selRootKeys = $.map(selRootNodes, function(node){
						return node.data.key;
					});
				}
			});
		});
	</script>
}

@main(title, user, scripts) {
	<div class="page-header">
    	<h1>
    		@if(toDocument) {
				<a href="@routes.Documents.list()">Documents</a> >
				<a href="@routes.Documents.continueEdit()">@play.mvc.Controller.session("filename")</a> >
			} else {
				<a href="@routes.Targets.index()">Targets</a> >
				<a href="@routes.Targets.view(form("target.url").value)">@form("target.title").value</a> >
			}
			@if(form("id").value != null) {
				@form("title").value
			} else {
				New Journal Title
			}
		</h1>
	</div>
	
	@helper.form(action = routes.JournalTitles.save(toDocument)) {
		<div>
			<input type="hidden" name="id" value="@form("id").value">
			<input type="hidden" name="target.nid" value="@form("target.nid").value">
			<input type="hidden" name="target.url" value="@form("target.url").value">
			<input type="hidden" name="target.title" value="@form("target.title").value">
			
			@defining('class -> "form-control") { textualElement =>
				@inputText(form("title"), '_label -> "Journal Title", textualElement)
				<div class="row padding-10">
					<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="col-sm-6 control-label">Target</label>
							<div class="col-sm-6">@form("target.title").value</div>
						</div>
					</div>
				</div>
				@inputText(form("issn"), '_label -> "ISSN", textualElement)
				@inputText(form("frequency"), '_label -> "Frequency", textualElement)
				@inputText(form("publisherName"), '_label -> "Publisher Name", textualElement)
				@inputText(form("language"), '_label -> "Language", textualElement)
				@checkbox(form("priorityCataloguing"), '_label -> "Priority Cataloguing", 'class -> "checkbox")			
				<div class="row padding-10">
					<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="col-sm-6 control-label">BL Collection Subset</label>
							<div class="col-sm-6">
								<div id="collectionTree" />
								@*<input type="hidden" name="blCollectionSubset" value="@form("blCollectionSubset").value">*@
							</div>
						</div>
					</div>
				</div>
				<div class="row padding-10">
					<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<label class="col-sm-6 control-label">Subject(s)</label>
							<div class="col-sm-6">
								<div id="subjectTree" />
								@*<input type="hidden" name="subject" value="@form("subject").value">*@
							</div>
						</div>
					</div>
				</div>
			}
			
			<input type="submit" class="btn primary" value="Save">
			@if(form("id").value != null) {
				<input type="submit" name="delete" class="btn primary" value="Delete">
			}
		</div>
	}
}
