@(title: String, form: Form[JournalTitle], user: User, toDocument: Boolean)

@import helper.input
@import helper.options
@import templates.checkbox
@import templates.checkbox2
@import templates.inputText
@import templates.select

@implicitField = @{ helper.FieldConstructor(templates.ratio6to6FieldConstructor.f) }

@main(title, user) {
	<div class="page-header">
    	<h1>
    		@if(toDocument) {
    			<a href="@routes.Documents.list(new DocumentFilter().withWatchedTarget(new Long(form("watchedTarget.id").value)))">Documents</a> >
				<a href="@routes.Documents.continueEdit()">@play.mvc.Controller.session("filename")</a> >
			} else {
				<a href="@routes.TargetController.index()">Targets</a> >
				<a href="@routes.TargetController.view(new Long(form("watchedTarget.target.id").value))#watchedTarget">@form("watchedTarget.target.title").value</a> >
			}
			@if(form("id").value != null) {
				@form("title").value
			} else {
				New Journal Title
			}
		</h1>
	</div>
	
	@warningmessage(flash)
	@helper.form(action = routes.JournalTitles.save(toDocument)) {
		<div>
			<input type="hidden" name="id" value="@form("id").value">
			<input type="hidden" name="watchedTarget.id" value="@form("watchedTarget.id").value">
			<input type="hidden" name="watchedTarget.target.id" value="@form("watchedTarget.target.id").value">
			<input type="hidden" name="watchedTarget.target.url" value="@form("watchedTarget.target.url").value">
			
			@inputText(form("title"), true, '_label -> "Journal Title")
			@input(form("watchedTarget.target.title"), '_label -> "Target") { (id, name, value, args) =>
				@value
				<input type="hidden" name="@name" id="@id" value="@value">
			}
			@inputText(form("issn"), true, '_label -> "ISSN")
			@select(form("frequency"), options(JournalTitle.frequencies), true, '_label -> "Frequency")
			@inputText(form("publisherName"), true, '_label -> "Publisher Name")
			@input(form("language"), '_label -> "Language") { (id, name, value, args) =>
				@value
				<input type="hidden" name="@name" id="@id" value="@value">
			}
			@helper.input(form("blCollectionSubset"), '_label -> "BL Collection Subset") { (id, name, value, args) =>
				@for(blCollectionSubset <- Documents.blCollectionSubsetList.getList()) {
					@checkbox(form("blCollectionSubset_" + blCollectionSubset.id), true, '_label -> blCollectionSubset.title)(
						helper.FieldConstructor(templates.checkboxFieldConstructor.f)
					)
				}
			}
			@helper.input(form("subjects"), '_label -> "Subjects") { (id, name, value, args) =>
				<div class="scroll-box">
					@for(fastSubject <- FastSubject.find.orderBy("name").findList()) {
						@checkbox2(form(fastSubject.fastId), true, '_label -> fastSubject.name)(
							helper.FieldConstructor(templates.checkboxFieldConstructor.f)
						)
					}
				</div>
			}
			
			<input type="submit" class="btn btn-primary" value="Save">
			@if(form("id").value != null && form("id").value != "") {
				<input type="submit" name="delete" class="btn btn-primary" value="Delete">
			}
		</div>
	}
}
